﻿@{
    ViewBag.Title = "Help";
}

<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-question-sign glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                      .Name("HelpWindow")
                      .Title("Help")
                      .Visible(false)
                      .Modal(true)
                      .Draggable(true)
                      .Width(630)
                      .Height(115)

                      )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--Body Content Goes Here-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    @(Html.Kendo().PanelBar().Name("helpTopics").Items(it=>it.Add().Text("Loading...")))
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var d1;

        $.ajax({
            url: "@Url.Action("GetHelp", "Help")",
            success: function(data) {
                d1 = new kendo.data.HierarchicalDataSource({
                    data: data,
                    schema: {
                        model: {
                            children: "hasChildren"
                        }
                    }
                });

                $("#helpTopics").kendoPanelBar({
                    dataSource: d1,
                    dataTextField: ["PageName"],
                    select: onSelect,
                    expandMode: "single"
                });
            },
            error: function(s, x, e) {
                console.log("error");
                console.log(s);
                console.log(x);
                console.log(e);
            }
        });
    });

    function onSelect(e) {
        var firstParent = $(e.item).parent();
        var secondParent = firstParent.parent().parent();
        if (firstParent.attr('id') != "helpTopics") {
            if (secondParent.attr('id') != "helpTopics") {
                $(e.item.children[0]).removeClass("k-state-selected");
                $(e.item.children[0]).removeClass("k-state-focused");
            }
        }
    }
</script>