﻿
@{
    ViewBag.Title = "Job Steps";
}

@model IQueryable<PM_Website.Models.JobStepViewModel>
<div class="row container maindiv">


    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-road glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>
        <div class="col-sm-4">
            <label class="formlabel">Status:</label>
            @(Html.Kendo().DropDownList()
                                                                                                                 .Name("JobStepStatus")
                                                                                                                 .BindTo(new List<SelectListItem>()
                                                                                                                    {
                                                                                    new SelectListItem() {
                                                                                           Text = "Active", Value = "Active"
                                                                                     },
                                                                                     new SelectListItem() {
                                                                                            Text = "InActive", Value = "InActive"
                                                                                     },
                                                                                     new SelectListItem()
                                                                                     {
                                                                                            Text = "All", Value = "All"
                                                                                      }
                                                                                                                     })
                                                                                                                    .Events(e =>
                                                                                                                    {
                                                                                                                        e.Select("JobStepStatus_onSelect");
                                                                                                                    })
                                                                                                                    .HtmlAttributes(new { style = "width: 20%" })
            )

        </div>
        <div class="col-sm-4">
            <div style="float:right !important;margin-top:-4px">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign"></i></button>
                @(Html.Kendo().Window()
                                                                                                                                                                                                                                     .Name("HelpWindow")
                                                                                                                                                                                                                                     .Title("Help")
                                                                                                                                                                                                                                     .Visible(false)
                                                                                                                                                                                                                                     .Modal(true)
                                                                                                                                                                                                                                     .Draggable(true)
                                                                                                                                                                                                                                     .Width(630)
                                                                                                                                                                                                                                     .Height(115)


                )

            </div>
            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>

        </div>

    </div>

    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">




        <div class="col-xs-12">
            @(Html.Kendo().Grid(Model).Name("jobStepGrid")

                                                                                                                                                                                .Columns(columns =>
                                                                                                                                                                                {
                                                                                                                                                                                    columns.Bound(p => p.StepName).Title("Step Name");
                                                                                                                                                                                    columns.Bound(p => p.StepOrder).Title("Step Order");
                                                                                                                                                                                    columns.Bound(p => p.DaysUntilAlert).Title("Days Until Alert");
                                                                                                                                                                                    columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("#=IsActive ? 'Active': 'InActive'#");
                                                                                                                                                                                    if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                    {
                                                                                                                                                                                        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(60);
                                                                                                                                                                                    }
                                                                                                                                                                                    else
                                                                                                                                                                                    {

                                                                                                                                                                                    }
                                                                                                                                                                                })
                                                                                                                                                                                .Events(ev => ev
                                                                                                                                                                                .Remove(@"function(e){setTimeout(function(){$('#jobStepGrid').data('kendoGrid').dataSource.sync()})}")
                                                                                                                                                                                )
                                                                                                                                                                                .Pageable()
                                                                                                                                                                                .Sortable()
                  .Groupable()
                                                                                                                                                                                .Filterable()
                                                                                                                                                                                .Scrollable()

                                                                                                                                                                                .HtmlAttributes(new { style = "height:750px;" })
                                                                                                                                                                                .Editable(editable => editable.Mode(GridEditMode.InLine))

                                                                                                                                                                                                                         .ToolBar(toolbar =>
                                                                                                                                                                                                                             toolbar.Template(@<text>
                                                                                                                                                                                                                                @if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "2")

                                                                                                                                                                                                                                    {<a class='k-link k-button k-grid-add' title='Add New Job Step' href='#'><span class='k-icon k-i-add'></span></a>
                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                               

                                                                                                                                                                                                                            </text>))

                                                                                                                                                                                        .DataSource
                                                                                                                                                                                        (
                                                                                                                                                                                          dataSource => dataSource
                                                                                                                                                                                          .Ajax()
                                                                                                                                                                                          .Batch(true)
                                                                                                                                                                                          .ServerOperation(true)

                                                                                                                                                                                          .Model(m =>
                                                                                                                                                                                          {
                                                                                                                                                                                              m.Id(o => o.JobStepId);
                                                                                                                                                                                              if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                              {
                                                                                                                                                                                                  m.Field("StepName", typeof(string)).Editable(true);
                                                                                                                                                                                                  m.Field("StepOrder", typeof(int)).Editable(true);
                                                                                                                                                                                                  m.Field("DaysUntilAlert", typeof(int)).Editable(true);
                                                                                                                                                                                                  m.Field("IsActive", typeof(bool)).Editable(true);
                                                                                                                                                                                              }
                                                                                                                                                                                              else
                                                                                                                                                                                              {
                                                                                                                                                                                                  m.Field("StepName", typeof(string)).Editable(false);
                                                                                                                                                                                                  m.Field("StepOrder", typeof(int)).Editable(false);
                                                                                                                                                                                                  m.Field("DaysUntilAlert", typeof(int)).Editable(false);
                                                                                                                                                                                                  m.Field("IsActive", typeof(bool)).Editable(false);
                                                                                                                                                                                              }
                                                                                                                                                                                          })
                                                                                                                                                                                          .PageSize(20)
                                                                                                                                                                                          .Read(read => read.Action("JobStep_Read", "JobStep").Data("getJobStepSIsActive"))
                                                                                                                                                                                          .Update(update => update.Action("JobStep_Update", "JobStep").Data("getJobStepSIsActive"))
                                                                                                                                                                                          .Create(create => create.Action("JobStep_Create", "JobStep").Data("getJobStepSIsActive"))
                                                                                                                                                                                          .Events(events => events
                                                                                                                                                                                                    .Sync("sync_handler")
                                                                                                                                                                                                    .Error("error_handler")
                                                                                                                                                                                                 )
                                                                                                                                                                                        )
                                                                                                                                                                                        .Resizable(resize => resize.Columns(true))
                   //.Reorderable(reorder => reorder.Columns(true))
            )
        </div>
    </div>
    <input id="JobStepIsactive" name="JobStepIsactive" type="hidden" value="True" />
</div>
<script language="javascript">
    function OnRequestEnd_Grid(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            kendo.alert(message);
        }
    }
    function sync_handler(e) {
        this.read();
    }

    $(document).ready(function () {
        $("#JobStepIsactive").val("True");
        $("#jobStepGrid").data("kendoGrid").dataSource.read();
    });
    function getJobStepSIsActive() {
        return {
            IsActive: $("#JobStepIsactive").val()
        };
    }

    function JobStepStatus_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'Active') {
                $("#JobStepIsactive").val("True");
                $("#jobStepGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'InActive') {
                $("#JobStepIsactive").val("False");
                $("#jobStepGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'All') {
                $("#JobStepIsactive").val("All");
                $("#jobStepGrid").data("kendoGrid").dataSource.read();

            }

        } else {

        }

    }

    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q == "") {
            $("#jobStepGrid").data("kendoGrid").dataSource.filter({});
        }
        else {
            var grid = $("#jobStepGrid").data("kendoGrid");
            if (isNaN(q)) {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "StepName", operator: "contains", value: q }
                        ]
                    }
                });
            }
            else {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "StepOrder", operator: "eq", value: q },
                            { field: "DaysUntilAlert", operator: "eq", value: q }
                        ]
                    }
                });
            }

        }

    }

</script>
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }
</style>
<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }
</style>

