﻿@{
    ViewBag.Title = "Subscriptions";
}
@model IQueryable<PM_Website.Models.EmailSubscriptionViewModel>
<div class="row container maindiv">

    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-envelope glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;margin-top:-4px;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign"></i></button>
                @(Html.Kendo().Window()
                                                                                                                                                                                                                             .Name("HelpWindow")
                                                                                                                                                                                                                             .Title("Help")
                                                                                                                                                                                                                             .Visible(false)
                                                                                                                                                                                                                             .Modal(true)
                                                                                                                                                                                                                             .Draggable(true)
                                                                                                                                                                                                                             .Width(630)
                                                                                                                                                                                                                             .Height(115)


                )
            </div>

            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>


        </div>
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">

        <div class="col-xs-12">
            @(Html.Kendo().Grid(Model).Name("emailSubscriptionGrid")

                                                                                                                                                                                                                                .Columns(columns =>
                                                                                                                                                                                                                                {
                                                                                                                                                                                                                                    columns.ForeignKey(p => p.UserId, (System.Collections.IEnumerable)ViewData["users"], "UserId", "SMSN.Name").Title("User");
                                                                                                                                                                                                                                    columns.ForeignKey(p => p.SubsciptionTypeId, (System.Collections.IEnumerable)ViewData["subscriptionTypes"], "SubsciptionTypeId", "SubscriptionTypeName").Title("Subscription");
                                                                                                                                                                                                                                    columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("#=IsActive ? 'Active': 'InActive'#").Filterable(filter => filter.Messages(message => message.IsFalse("InActive").IsTrue("Active")));
                                                                                                                                                                                                                                    if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(60);
                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                    else
                                                                                                                                                                                                                                    {

                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                })
                                                                                                                                                                                                                                .Events(ev => ev
                                                                                                                                                                                                                                .Remove(@"function(e){setTimeout(function(){$('#emailSubscriptionGrid').data('kendoGrid').dataSource.sync()})}")
                                                                                                                                                                                                                                .DataBound("setcolor")
                                                                                                                                                                                                                                )
                                                                                                                                                                                                                                .Pageable()
                                                                                                                                                                                                                                .Sortable()
                  .Groupable()
                                                                                                                                                                                                                                .Filterable()
                                                                                                                                                                                                                                .Scrollable()

                                                                                                                                                                                                                                .HtmlAttributes(new { style = "height:750px;" })
                                                                                                                                                                                                                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                                                            .ToolBar(toolbar =>
                                                                                                                                                                                                                                toolbar.Template(@<text>
                                                                                                                                                                                                                                    <label>Status:</label>
                                                                                                                                                                                                                                    @(Html.Kendo().DropDownList()
                                                                                                                                                                                                                                                                                                                                         .Name("EmailSubscriptionStatus")
                                                                                                                                                                                                                                                                                                                                         .BindTo(new List<SelectListItem>()
                                                                                                                                    {
                                                                                                    new SelectListItem() {
                                                                                                           Text = "Active", Value = "Active"
                                                                                                     },
                                                                                                     new SelectListItem() {
                                                                                                            Text = "InActive", Value = "InActive"
                                                                                                     },
                                                                                                     new SelectListItem()
                                                                                                     {
                                                                                                            Text = "All", Value = "All"
                                                                                                      }
                                                                                                                                     })
                                                                                                                                                                                                                                                                                                                                            .Events(e =>
                                                                                                                                                                                                                                                                                                                                            {
                                                                                                                                                                                                                                                                                                                                                e.Select("EmailSubscription_onSelect");
                                                                                                                                                                                                                                                                                                                                            })

                                                                                                                                                                                                                                    )

                                                                                                                                                                                                                                    @if (HttpContext.Current.Session["userRoleId"].ToString() == "1")

                                                                                                                                                                                                                                        {<a class='k-link k-button k-grid-add' title='Add New Email Subscriptions' href='#'><span class='k-icon k-i-add'></span></a>
                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                   

                                                                                                                                                                                                                                    <a href="#" onclick="onClearFilter()" class="k-link k-button k-grid-filter" title="Clear Filter"><span class="k-icon k-i-filter-clear"></span></a>

                                                                                                                                                                                                                                </text>))
                                                                                                                                                                                                                                           .DataSource
                                                                                                                                                                                                                                           (
                                                                                                                                                                                                                                             dataSource => dataSource
                                                                                                                                                                                                                                             .Ajax()
                                                                                                                                                                                                                                             .Batch(true)
                                                                                                                                                                                                                                             .ServerOperation(true)

                                                                                                                                                                                                                                             .Model(m =>
                                                                                                                                                                                                                                             {
                                                                                                                                                                                                                                                 m.Id(o => o.EmailSubscriptionId);
                                                                                                                                                                                                                                                 if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                                                                                 {
                                                                                                                                                                                                                                                     m.Field(p => p.UserId).DefaultValue(ViewData["defaultUserId"]);
                                                                                                                                                                                                                                                     m.Field(p => p.SubsciptionTypeId).DefaultValue(ViewData["defaultSubscriptionTypeId"]);
                                                                                                                                                                                                                                                     m.Field("IsActive", typeof(bool)).Editable(true);
                                                                                                                                                                                                                                                 }
                                                                                                                                                                                                                                                 else
                                                                                                                                                                                                                                                 {
                                                                                                                                                                                                                                                     m.Field(p => p.UserId).DefaultValue(ViewData["defaultUserId"]);
                                                                                                                                                                                                                                                     m.Field(p => p.SubsciptionTypeId).DefaultValue(ViewData["defaultSubscriptionTypeId"]);
                                                                                                                                                                                                                                                     m.Field("IsActive", typeof(bool)).Editable(false);
                                                                                                                                                                                                                                                 }
                                                                                                                                                                                                                                             })
                                                                                                                                                                                                                                             .PageSize(20)
                                                                                                                                                                                                                                             .Read(read => read.Action("EmailSubscription_Read", "Email").Data("getEmailSubscriptionIsActive"))
                                                                                                                                                                                                                                             .Update(update => update.Action("EmailSubscription_Update", "Email").Data("getEmailSubscriptionIsActive"))
                                                                                                                                                                                                                                             .Create(create => create.Action("EmailSubscription_Create", "Email").Data("getEmailSubscriptionIsActive"))
                                                                                                                                                                                                                                             .Events(events => events
                                                                                                                                                                                                                                                       .Sync("sync_handler")
                                                                                                                                                                                                                                                       .Error("error_handler")
                                                                                                                                                                                                                                                    )
                                                                                                                                                                                                                                           )
                                                                                                                                                                                                                                           .Resizable(resize => resize.Columns(true))
                    //.Reorderable(reorder => reorder.Columns(true))
            )
        </div>
    </div>
    <input id="EmailSubscriptionIsactive" name="EmailSubscriptionIsactive" type="hidden" value="True" />
</div>
<script language="javascript">
    function OnRequestEnd_Grid(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            kendo.alert(message);
        }
    }
    function sync_handler(e) {
        this.read();
    }

    $(document).ready(function () {
        $("#EmailSubscriptionIsactive").val("True");
        $("#emailSubscriptionGrid").data("kendoGrid").dataSource.read();
    });
    function getEmailSubscriptionIsActive() {
        return {
            IsActive: $("#EmailSubscriptionIsactive").val()
        };
    }
    function onClearFilter(e) {

        $("#emailSubscriptionGrid").data("kendoGrid").dataSource.filter({});

    }

    function EmailSubscription_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'Active') {
                $("#EmailSubscriptionIsactive").val("True");
                $("#emailSubscriptionGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'InActive') {
                $("#EmailSubscriptionIsactive").val("False");
                $("#emailSubscriptionGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'All') {
                $("#EmailSubscriptionIsactive").val("All");
                $("#emailSubscriptionGrid").data("kendoGrid").dataSource.read();

            }

        } else {

        }

    }

    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q == "") {
            $("#emailSubscriptionGrid").data("kendoGrid").dataSource.filter({});
        }
        else {
            var grid = $("#emailSubscriptionGrid").data("kendoGrid");
            var fieldfilters;
            if (q.toLowerCase() == "active") {
                q = "True";
                fieldfilters = [
                    { field: "User.SMSN.Name", operator: "contains", value: q },
                    { field: "SubscriptionType.SubscriptionTypeName", operator: "contains", value: q },
                    { field: "IsActive", operator: "eq", value: q }
                ]
            }
            else if (q.toLowerCase() == "inactive") {
                q = "False";
                fieldfilters = [
                    { field: "User.SMSN.Name", operator: "contains", value: q },
                    { field: "SubscriptionType.SubscriptionTypeName", operator: "contains", value: q },
                    { field: "IsActive", operator: "eq", value: q }
                ]
            }
            else {
                fieldfilters = [
                    { field: "User.SMSN.Name", operator: "contains", value: q },
                    { field: "SubscriptionType.SubscriptionTypeName", operator: "contains", value: q }
                ]
            }
            grid.dataSource.query({
                page: 1,
                pageSize: 20,
                filter: {
                    logic: "or",
                    filters: fieldfilters
                }
            });
        }

    }
</script>
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }
</style>
<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }
</style>
<script>
    function setcolor() {
        var grid = $("#emailSubscriptionGrid").data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var dataItem = grid.dataItem(this);
            if (dataItem.IsActive == false) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
        });
    }
</script>
