﻿
@{
    ViewBag.Title = "JobSheet";
}
@model IQueryable<PM_Website.Models.JobSheetViewModel>
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">

        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-list-alt glyphicon-menu-lg" aria-hidden="true"></span><h2> Projects </h2></div>
        </div>
        <div class="col-sm-4">

        </div>
		<div class="col-sm-4">
			<div style="float:right !important;">
				<button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
				@(Html.Kendo().Window()
					  .Name("HelpWindow")
					  .Title("Help")
					  .Visible(false)
					  .Modal(true)
					  .Draggable(true)
					  .Width(630)
					  .Height(115)
				)
			</div>
			<div style="float:right !important;" class="has-feedback has-feedback-right">
				<input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
				<i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
			</div>
			<div style="float:right !important; padding-right:10px;">
				My Filters:  @(Html.Kendo().DropDownList()
								   .Name("UserFilters")
								   .DataTextField("FilterName")
								   .DataValueField("UserFilterId")
								   .OptionLabel("Select Filter")
								   .Events(e =>
								   {
									   e.Select("Filter_onSelect");
								   })
								   .DataSource(source =>
								   {
									   source.Read(read =>
									   {
										   read.Action("GetAllFilters", "User");
									   });
								   })
				)
			</div>
		</div>
    </div>

    <div class="col-lg-12">
        <div class="col-xs-12">
        @(Html.Kendo().Grid(Model).Name("jobSheetGrid")
	          .Columns(columns =>
	          {
		          columns.Bound(p => p.JobSheetId).Title("").Filterable(false).Sortable(false).ClientTemplate("<i class='job-alert-icon fa fa-bell' style='color: red; display: none;'></i>").Width(30).HtmlAttributes(new { @Class = "job-alert-cell" });
		          columns.Bound(p => p.AccountNumber).Visible(false);
		          columns.Bound(p => p.JobSheetName).ClientTemplate("<a class=\"k-grid-link\" href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=JobSheet\">#=JobName#</a>").Title("Project Name").Width(250);
		          //columns.Bound(p => p.Customer.CustomerName).Title("Account - Sub Account").ClientTemplate("#=Customer.CustomerName# #=Customer.CustNo#  #=JobOrShipToNumber# #=ShipToName#");
		          columns.Bound(p => p.Customer.CustomerName).Title("Account - Sub Account").ClientTemplate("#if(JobOrShipToNumber == '' && ShipToName == ''){# #=Customer.CustNo# : #=Customer.CustomerName# #}else{# #=Customer.CustNo# : #=Customer.CustomerName# - #=JobOrShipToNumber# : #=ShipToName# #}#");
		          columns.Bound(p => p.User5.SMSN.Name).Title("Project Manager").EditorTemplateName("ProjectManagers").ClientTemplate("#=User5.SMSN.SlsRep# : #=User5.SMSN.Name#").Width(135);
		          columns.Bound(p => p.User7.SMSN.Name).Title("OS Sales Rep").ClientTemplate("#=User7.SMSN.SlsRep# : #=User7.SMSN.Name#").Width(135);
		          columns.Bound(p => p.User8.SMSN.Name).Title("IS Sales Rep").ClientTemplate("#=User8.SMSN.SlsRep# : #=User8.SMSN.Name#").Width(135);
		          columns.Bound(p => p.TotalPurchases).Title("PO Amnt").Width(100).Format("{0:c}");
		          columns.Bound(p => p.OrderAmount).Title("Order Amnt").Width(100).Format("{0:c}");
		          //columns.Bound(p => p.OrderAmount).Title("Invoiced").Width(100).Format("{0:c}");
		          /*if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "2" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
                                                                                  {
                                                                                      columns.Bound(p => p.VerifiedVoltage).ClientTemplate("#if(VerifiedVoltage){#<input id=\"check#=JobSheetId#\" onclick=\"verifyVoltage(#=JobSheetId#)\" type='checkbox' checked='checked'/><a target='_blank'href='#=VerifiedVoltageDocURL#' >#=VerifiedVoltageDoc#</a>#}else{#<input id=\"check#=JobSheetId#\" onclick=\"verifyVoltage(#=JobSheetId#)\" type='checkbox'/>#}#").Title("Voltage Verified?").Width(135);

                                                                                  }
                                                                                  else
                                                                                  {
                                                                                      columns.Bound(p => p.VerifiedVoltage).ClientTemplate("#if(VerifiedVoltage){#<input id=\"check#=JobSheetId#\" type='checkbox' checked='checked'/><a target='_blank'href='#=VerifiedVoltageDocURL#' >#=VerifiedVoltageDoc#</a>#}else{#<input id=\"check#=JobSheetId#\" type='checkbox'/>#}#").Title("Voltage Verified?").Width(135);
                                                                                  }*/
		          columns.Bound(p => p.VerifiedVoltage).ClientTemplate("#if(VerifiedVoltage){#<a target='_blank'href='#=VerifiedVoltageDocURL#' >#=VerifiedVoltageDoc#</a>#}#").Title("Voltage").Width(100);
		          columns.Bound(p => p.IsLockRecord).Title(" ").ClientTemplate("#if(IsLockRecord){#<p class='mastertooltip popupextention'>This job has been locked by Credit. Contact the credit manager to unlock the record</p><span class='k-icon k-i-lock' style='color:red;'></span>#}else{#<span class='k-icon k-i-unlock' style='color:green;'></span>#}#").Width(30).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip popupextention lock-cell" });
		          columns.Command(command => { command.Custom("showOrders").Click("showOrders").IconClass("fa fa-money-check view-orders-cell").Text(" "); }).Width(50).Title("");
		          columns.Command(command => { command.Custom("showHistory").Click("showHistory").IconClass("fa fa-calendar view-history-cell").Text(" "); }).Width(50).Title("");
		          columns.Command(command => { command.Custom("editJob").Click("editJob").IconClass("fa fa-edit edit-job-cell").Text(" "); }).Width(50).Title("");
		          columns.Select().Width(50);
	          })
	          .Events(ev => ev
		          .Remove(@"function(e){setTimeout(function(){$('#jobSheetGrid').data('kendoGrid').dataSource.sync()})}")
		          .DataBound("setcolor")
	          )
	          .Pageable()
	          .Sortable()
	          .Groupable()
	          .Filterable()
	          .Scrollable()
	          //.AutoBind(false)
	          .PersistSelection()
	          .HtmlAttributes(new { style = "height:750px;" })
	          .ToolBar(toolBar =>
	          {
		          toolBar.Template(@<text>
			                           <div class="row" style="position: relative">
				                           <div class="col-sm-3">
					                           <label style="display: inline-block !important;">Show Project by Status:</label>
					                           @(Html.Kendo().DropDownList()
						                             .Name("ProjectStatus")
						                             .BindTo(new List<SelectListItem>()
						                             {
							                             new SelectListItem()
							                             {
								                             Text = "Active", Value = "Active"
							                             },
							                             new SelectListItem()
							                             {
								                             Text = "InActive", Value = "InActive"
							                             },
							                             new SelectListItem()
							                             {
								                             Text = "All", Value = "All"
							                             }
						                             })

						                             .Events(e =>
						                             {
							                             e.Select("ProjectStatus_onSelect");
						                             }))
				                           </div>
				                           <div class="col-sm-3">
					                           @if (HttpContext.Current.Session["userRoleId"].ToString() == "3")
					                           {
						                           <label style="display: inline-block !important;">Delegate Project Managers:</label>
						                           @(Html.Kendo().DropDownList()
							                             .Name("DelegateProjectManager")
							                             .DataTextField("SMSN.Name")
							                             .DataValueField("UserId")
							                             .OptionLabel("Select Project Manager")
							                             .Events(e =>
							                             {
								                             e.Select("PM_onSelect");
							                             })
							                             .DataSource(source =>
							                             {
								                             source.Read(read =>
								                             {
									                             read.Action("GetDelegatePMS", "DelegatePM");
								                             });
							                             }))
					                           }
                                                                                         







					                           @if (HttpContext.Current.Session["userRoleId"].ToString() == "2")
					                           {
						                           <label style="display: inline-block !important;">Show Job by Role:</label>
						                           @(Html.Kendo().DropDownList().Name("ProjecRole")
							                             .BindTo(new List<SelectListItem>()
							                             {
								                             new SelectListItem()
								                             {
									                             Text = "My Direct Reports", Value = "MyDirectReports"
								                             },
								                             new SelectListItem()
								                             {
									                             Text = "All Projects", Value = "AllProjects"
								                             }


							                             })
							                             .Events(e =>
							                             {
								                             e.Select("ProjecRole_onSelect");
							                             }))
					                           }
                                                                                            







					                           @*<label style="display: inline-block !important;">Filters:</label>*@
                                                                                            
				                           </div>
				                           <div class="col-sm-offset-5">
					                           <div style="float: right !important; margin-right: 20px !important;">
						                           <div class="toolbar">
							                           <a href="#" onclick="onExcelExport('email')" class="k-link k-button k-button-icon" title="Email Report"><span class="k-icon k-i-email"></span></a>
						                           </div>
						                           <div class="toolbar">
							                           <a onclick="onExcelExport('excel')" class="k-link k-button k-button-icon" title="Export Excel" href="#"><span class="k-icon k-i-excel"></span></a>
						                           </div>

						                           <div class="toolbar">

							                           <a href="#" onclick="onPdfExport()" class="k-link k-button k-button-icon" title="Export pdf"><span class="k-icon k-i-file-pdf"></span></a>
						                           </div>
						                           <div class="toolbar">
							                           <a href="#" onclick="onClearFilter()" id="clearFilter" class="k-link k-button k-button-icon" title="Clear Filter"><span class="k-icon k-i-filter-clear"></span></a>
						                           </div>
						                           <div class="toolbar">
							                           <a href="#" onclick="saveFilter()" id="saveFilter" class="k-link k-button k-button-icon" style="width: auto" title="Manage Filters"><span class="k-icon k-i-filter"></span><span class="k-icon k-i-save"></span></a>
						                           </div>
						                           @if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
						                           {
							                           <div class="toolbar">
								                           <a href="#" onclick="CreatJobSheet()" class="k-link k-button k-button-icon" title="Create Project"><span class="k-icon k-i-plus"></span></a>
							                           </div>
						                           }
                                                                                                







					                           </div>
				                           </div>
			                           </div>


		                            </text>);

	          })
	          .Excel(excel => excel
		          .FileName("CommercialProjectExport.xlsx")
		          .Filterable(true)
		          .AllPages(true))
	          .Pdf(pdf => pdf
		          .AllPages()
		          .AvoidLinks()
		          .PaperSize("auto")
		          .Scale(0.8)
		          .Margin("2cm", "1cm", "1cm", "1cm")
		          .Landscape()
		          .RepeatHeaders()
		          .TemplateId("page-template")
		          .FileName("CommercialProjectExport.pdf"))
	          .ClientDetailTemplateId("jobsheetChecklist")
	          .DataSource
	          (
		          dataSource => dataSource
			          .Ajax()
			          .Batch(true)
			          .ServerOperation(true)
			          .Sort(sort => sort.Add("JobSheetName").Ascending())
			          .Group(grp =>
			          {
				          if (ViewBag.viewaccount == "True")
				          {
					          grp.Add(c => c.Customer.CustomerName);
					          //grp.Add(c => c.JobOrShipToNumber);
				          }
			          }
			          )
			          .Filter(flt =>
			          {
				          if (ViewBag.JobSheetId != null)
				          {
					          flt.Add(c => c.JobSheetId).IsEqualTo(ViewBag.JobSheetId);
				          }
			          })
			          .Model(m =>
			          {
				          m.Id(o => o.JobSheetId);

			          })
			          .PageSize(20)
			          .Read(read => read.Action("JobSheet_Read", "Projects").Data("getJobSheetIsActive"))
			          .Events(events => events
				          .Sync("sync_handler")
				          .Error("error_handler")
			          )
	          )
	          .Resizable(resize => resize.Columns(true)))
        </div>
        <div id="loadingDiv" class="loading">Loading&#8230;</div>
    </div>
    <input id="JobSheetIsactive" name="JobSheetIsactive" type="hidden" value="True" />

    @if (HttpContext.Current.Session["userRoleId"].ToString() == "2")
    {
        <input id="JobSheetRoleActive" name="JobSheetRoleActive" type="hidden" value="MyDirectReports" />
    }
    else
    {
        <input id="JobSheetRoleActive" name="JobSheetRoleActive" type="hidden" value="AllProjects" />
    }


    <input id="JobSheetDelegate" name="JobSheetDelegate" type="hidden" value="0" />


    <input id="RoleSession" name="RoleSession" type="hidden" value="@ViewBag.Session" />
    <div id="loadingDiv" class="loading">Loading&#8230;</div>
</div>



@(Html.Kendo().Window().Name("JobSheetHistory")
                                                                                                                                                                                                   .Title("History")
                                                                                                                                                                                                   .Visible(false)
                                                                                                                                                                                                   .Modal(true)
                                                                                                                                                                                                   .Draggable(true)
                                                                                                                                                                                                   .Width(1000)
                                                                                                                                                                                                   .Height(500)
)

@(Html.Kendo().Window().Name("JobSheetOrders")
                                                                                                                                                                                                   .Title("Orders and Order Lines")
                                                                                                                                                                                                   .Visible(false)
                                                                                                                                                                                                   .Modal(true)
                                                                                                                                                                                                   .Draggable(true)
                                                                                                                                                                                                   .Width(1500)
                                                                                                                                                                                                   .Height(500)
)

@(Html.Kendo().Window().Name("JobStepHistory")
                                                                                                                                                                                                       .Title("Step History")
                                                                                                                                                                                                       .Visible(false)
                                                                                                                                                                                                       .Modal(true)
                                                                                                                                                                                                       .Draggable(true)
                                                                                                                                                                                                       .Width(1000)
                                                                                                                                                                                                       .Height(500)
)

@(Html.Kendo().Window().Name("VendorDataWindow")
                          .Title("Vendor Data")
                          .Visible(false)
                          .Modal(true)
                          .Draggable(true)
)

<script id="jobsheetChecklist" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.DashbordJobStatusViewModel>
	      ()
	      .Name("jobList_#=JobSheetId#")

	      .Columns(columns =>
	      {
		      if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "2" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "5" || HttpContext.Current.Session["userRoleId"].ToString() == "6" || HttpContext.Current.Session["userRoleId"].ToString() == "7" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
		      {
			      columns.Bound(p => p.submittedToContractor).Title("Submitted To Contractor").ClientTemplate("\\#if(submittedToContractor){\\#<input id='submittedToContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted To Engineer\",this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=submittedToContractorCreatedDate\\#</p>\\#}else{\\#<input id='submittedToContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted To Engineer\",this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Submitted to Contractor</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.returnedFromContractor).Title("Returned from Contractor").ClientTemplate("\\#if(returnedFromContractor){\\#<input id='returnedFromContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Returned By Engineer\", this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=returnedFromContractorCreatedDate\\#</p>\\#}else{\\#<input id=returnedFromContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Returned By Engineer\", this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Returned from Contractor</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.submittedToCredit).Title("Submitted To Credit").ClientTemplate("\\#if(submittedToCredit){\\#<input id='submittedToCreditchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted to Credit\", this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=submittedToCreditCreatedDate\\#</p>\\#}else{\\#<input id=submittedToCreditchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted to Credit\", this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Submitted to Credit</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      }
		      else
		      {
			      columns.Bound(p => p.submittedToContractor).Title("Submitted To Contractor").ClientTemplate("\\#if(submittedToContractor){\\#<input id='submittedToContractorchk' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=submittedToContractorCreatedDate\\#</p>\\#}else{\\#<input id='submittedToContractorchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Submitted to Contractor</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.returnedFromContractor).Title("Returned from Contractor").ClientTemplate("\\#if(returnedFromContractor){\\#<input id='returnedFromContractorchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=returnedFromContractorCreatedDate\\#</p>\\#}else{\\#<input id=returnedFromContractorchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Returned from Contractor</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.submittedToCredit).Title("Submitted To Credit").ClientTemplate("\\#if(submittedToCredit){\\#<input id='submittedToCreditchk' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=submittedToCreditCreatedDate\\#</p>\\#}else{\\#<input id=submittedToCreditchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Submitted to Credit</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });


		      }
		      columns.Bound(p => p.rejectedByCredit).Title("Returned by Credit").ClientTemplate("\\#if(rejectedByCredit){\\#<input id='rejectedByCreditchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=rejectedByCreditCreatedDate\\#</p>\\#}else{\\#<input id=rejectedByCreditchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Returned By Credit</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      columns.Bound(p => p.approvedByCredit).Title("Approved By Credit").ClientTemplate("\\#if(approvedByCredit){\\#<input id='approvedByCreditchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=approvedByCreditCreatedDate\\#</p>\\#}else{\\#<input id=approvedByCreditchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Approved By Credit</span>").Width(40).Filterable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      columns.Bound(p => p.ordersCreated).Title("Orders Created").ClientTemplate("\\#if(ordersCreated){\\#<input id='ordersCreatedchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'></p>\\#}else{\\#<input id=ordersCreatedchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").HeaderTemplate("<span class=\"verticalText\">Orders Created</span>").Width(40).Filterable(false);
		      columns.Command(command => { command.Custom("showStepHistory").Click("showStepHistory").IconClass("fa fa-calendar").Text(" "); }).Width(30).Title("History");
	      })

	      .DataSource(dataSource => dataSource
		      .Ajax()
		      .ServerOperation(true)
		      .Model(m =>
		      {
			      m.Field(o => o.JobSheetId);
			      m.Field(o => o.submittedToContractor);
			      m.Field(o => o.reviewedByContractor);
			      m.Field(o => o.approvedByContractor);
			      m.Field(o => o.returnedFromContractor);
			      m.Field(o => o.resubmittedToContractor);
			      m.Field(o => o.submittedToCredit);
			      m.Field(o => o.approvedByCredit);
			      m.Field(o => o.rejectedByCredit);
			      m.Field(o => o.ordersCreated);
			      m.Field(o => o.jobclosed);
		      })
		      .PageSize(10)
		      .Read(read => read.Action("GetJobSheetStatusById", "Projects", new { JobSheetId = "#=JobSheetId#" }))

	      )
	      .ToClientTemplate())
</script>

<script type="text/x-kendo-template" id="jobSheetHistoryTemplate">
    <div id="details-container">
        @(Html.Kendo().Grid<PM_Website.Models.JobStepLogViewModel>()
                                                                                                                                                                                .Name("jobSheetgrid_#=JobSheetId#")
                                                                                                                                                                                .Columns(columns =>
                                                                                                                                                                                {
                                                                                                                                                                                    columns.Bound(p => p.JSLogId).Visible(false);
                                                                                                                                                                                    columns.Bound(p => p.DateModified).Title("Change Date").Format("{0:MM/dd/yyyy hh:mm:ss}");
                                                                                                                                                                                    columns.Bound(p => p.JobStep.StepName).Title("Step").Hidden();
                                                                                                                                                                                    columns.Bound(p => p.StepStatus).Title("Status").ClientTemplate("\\#if(StepStatus){\\#Approved\\#}else{\\#Rejected\\#}\\#").Hidden();
                                                                                                                                                                                    columns.Bound(p => p.User.SMSN.Name).Title("Changed By");

                                                                                                                                                                                })
                                                                                                                                                                                .HtmlAttributes(new { style = "height:450px;" })
                                                                                                                                                                                .DataSource(dataSource => dataSource
                                                                                                                                                                                             .Ajax()
                                                                                                                                                                                             .ServerOperation(true)
                                                                                                                                                                                             .PageSize(10)
                                                                                                                                                                                             .Group(g => g.Add(c => c.JobStep.StepName))
                                                                                                                                                                                             .Read(read => read.Action("ChangeLogJobStep_Read", "JobStep", new { JobSheetId = "#=JobSheetId#" })))
                                                                                                                                                                                .Pageable()
                                                                                                                                                                                .Sortable()
                                                                                                                                                                                .Filterable()
                                                                                                                                                                                .Groupable()
                                                                                                                                                                                .Scrollable()
                                                                                                                                                                                .ToClientTemplate()
        )

    </div>
</script>

<script type="text/x-kendo-template" id="jobStepHistoryTemplate">
    <div id="details-container">
        @(Html.Kendo().Grid<PM_Website.Models.JobStepLogViewModel>()
                                                                                                                                                                               .Name("jobStepgrid_#=JobSheetId#")
                                                                                                                                                                               .Columns(columns =>
                                                                                                                                                                               {
                                                                                                                                                                                   columns.Bound(p => p.JSLogId).Visible(false);
                                                                                                                                                                                   columns.Bound(p => p.DateModified).Title("Change Date").Format("{0:MM/dd/yyyy hh:mm:ss}");
                                                                                                                                                                                   columns.Bound(p => p.JobStep.StepName).Title("Step").Hidden();
                                                                                                                                                                                   columns.Bound(p => p.StepStatus).Title("Status").ClientTemplate("\\#if(StepStatus){\\#Approved\\#}else{\\#Rejected\\#}\\#").Hidden();
                                                                                                                                                                                   columns.Bound(p => p.User.SMSN.Name).Title("Changed By");

                                                                                                                                                                               })
                                                                                                                                                                               .HtmlAttributes(new { style = "height:450px;" })
                                                                                                                                                                               .DataSource(dataSource => dataSource
                                                                                                                                                                                            .Ajax()
                                                                                                                                                                                            .ServerOperation(true)
                                                                                                                                                                                            .PageSize(10)
                                                                                                                                                                                            .Group(g => g.Add(c => c.JobStep.StepName))
                                                                                                                                                                                            .Read(read => read.Action("ChangeLogJobStep_Read", "JobStep", new { JobSheetId = "#=JobSheetId#" })))
                                                                                                                                                                               .Pageable()
                                                                                                                                                                               .Sortable()
                                                                                                                                                                               .Filterable()
                                                                                                                                                                               .Groupable()
                                                                                                                                                                               .Scrollable()
                                                                                                                                                                               .ToClientTemplate()
        )
    </div>
</script>

<script type="text/x-kendo-template" id="jobSheetOrdersTemplate">
    <div id="details-container">
        @(Html.Kendo().Grid<PM_Website.Models.JobOrderViewModel>()
	          .Name("jobOrders_#=JobSheetId#")
	          .Columns(columns =>
	          {
		          columns.Bound(p => p.OrderNo).Title("Order No");
		          columns.Bound(p => p.OrderSurf).Title("Order Surf");
		          columns.Bound(p => p.CustPO).Title("Customer PO");
		          columns.Bound(p => p.InvoiceNo).Title("Invoice");
		          columns.Bound(p => p.OrderCreatedDate).Title("Created Date").Format("{0:MM/dd/yyyy}");
		          columns.Bound(p => p.TotalOrderAmount).Title("Total Order Amount").Format("{0:C}");
		          columns.Bound(p => p.CRSD).Title("Requested Ship Date").Format("{0:MM/dd/yyyy}").EditorTemplateName("Date");
		          columns.Bound(p => p.CPSD).Title("Promised Ship Date").Format("{0:MM/dd/yyyy}").EditorTemplateName("Date");
		          columns.Bound(p => p.PrevCPSD).Title("Prev Promised Ship Date").Format("{0:MM/dd/yyyy}");
		          columns.Command(c => c.Edit().Text(" ").IconClass("fa fa-edit").CancelText(" ").UpdateText(" ")).Width(30);
	          })
	          .Editable(e =>
	          {
		          e.Mode(GridEditMode.InLine);
	          })
	          .Events(ev =>
	          {
		          ev.DetailExpand("showDetail");
		          ev.DetailCollapse("collapseDetail");
		          ev.DataBound("ordersBound");
	          })
	          .HtmlAttributes(new { style = "height:450px;" })
	          .ClientDetailTemplateId("orderlinetemplate")
	          .DataSource(dataSource => dataSource
		          .Ajax()
		          .ServerOperation(true)
		          .PageSize(10)
		          .Read(read => read.Action("JobOrders_Read", "Projects", new { ShipTo = "#=JobOrShipToNumber#", CustNo = "#=Customer.CustNo#" }))
		          .Create(update => update.Action("Update_JobOrderShipDate", "Projects"))
		          .Update(update => update.Action("Update_JobOrderShipDate", "Projects"))
		          .Model(m =>
		          {
			          m.Id(p=>p.OrderId);
			          m.Field(p => p.OrderNo).Editable(false);
			          m.Field(p => p.OrderSurf).Editable(false);
			          m.Field(p => p.CustPO).Editable(false);
			          m.Field(p => p.InvoiceNo).Editable(false);
			          m.Field(p => p.OrderCreatedDate).Editable(false);
			          m.Field(p => p.TotalOrderAmount).Editable(false);
			          m.Field(p => p.CRSD).Editable(true);
			          m.Field(p => p.CPSD).Editable(true);
			          m.Field(p => p.PrevCPSD).Editable(false);
		          })
		          .Events(ev =>
		          {
			          ev.Error("error_handler");
			          ev.Change("update_order");
		          })
		          .Sort(s=>s.Add(p=>p.OrderNo))
	          )
	          .Pageable()
	          .Sortable()
	          .Groupable()
	          .Filterable()
	          .Scrollable()
	          .ToClientTemplate())

    </div>
</script>

<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            Multi-page grid with automatic page breaking
        </div>
        <div class="watermark">KENDO UI</div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>

<script id="orderlinetemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.ProjectOrderLineViewModel>
                                                  ()
                                                  .Name("jobSheetorderline_#=OrderNo#_#=OrderSurf#")
                                                  .Columns(columns =>
                                                  {
                                                      columns.Bound(p => p.ProjectOrderLineId).Visible(false);
                                                      columns.Bound(p => p.OrderNo).Title("Order No");
                                                      columns.Bound(p => p.QuantityOrdered).Title("Qty");
                                                      columns.Bound(p => p.ModelPart).Title("Part");
                                                      columns.Bound(p => p.NetAmount).Title("Net Amount").Format("{0:C}");
                                                      columns.Bound(p => p.CustomerRequestedDeliveryDate).Title("Requested Ship").Format("{0:MM/dd/yyyy hh:mm:ss}");
                                                      //columns.Bound(p => p.Vendor.VendorName).Title("Vendor");
                                                      columns.Bound(p => p.Vendor.VendorName).ClientTemplate("<a class=\"k-grid-link\" onClick=\"OpenVendorData(this)\">\\#=Vendor.VendorName\\#</a>").Title("Vendor");
                                                      columns.Bound(p => p.OrderAltNo).Title("PO to Vendor");
                                                      //columns.Bound(p => p.OrderAltNo).Title("Vendor Data").ClientTemplate("\\#if (OrderAltNo != null && OrderAltNo > 0) {\\# <i class=\"fa fa-industry\" onClick=\"viewVendorData(\\#=OrderAltNo\\#,'\\#=ModelPart\\#')\"></i> \\#}\\#");
                                                     // columns.Command(command => { command.Custom("viewVendorData").Click("viewVendorData").IconClass("fa fa-industry").Text(" "); }).Width(100).Title("Vendor Data");

                                                  })
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .ServerOperation(true)
                                                      .PageSize(10)
                                                      .Read(read => read.Action("ProjectOrderLine_Read", "Home", new { ShipTo = "#=ShipTo#", CustNo = "#=CustNo#", OrderNo = "#=OrderNo#", OrderSurf = "#=OrderSurf#" }))
                                                  )
                                                  .Pageable()
                                                  .Sortable()
                                                  .Filterable()
                                                  .Groupable()
                                                  .Scrollable()
                                                  .ToClientTemplate()
    )


</script>

<script id="vendorDataTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.CarrierSapReportLineModel>()
	      .Name("vendorData_#=OrderNo#_Grid")
	      .Columns(col =>
	      {
		      col.Bound(c => c.SalesOrder);
		      col.Bound(c => c.LineNumber);
		      col.Bound(c => c.Material);
		      col.Bound(c => c.Description);
		      col.Bound(c => c.OrderQty);
		      col.Bound(c => c.ShippedQty);
		      col.Bound(c => c.CRSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.CPSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.PrevCPSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.Rate);
		      col.Bound(c => c.NetPrice);
		      col.Bound(c => c.ItemValue);
	      })
	      .Events(ev => ev.DataBound("setVendorColor"))
	      .NoRecords("No Data Available")
	      .DataSource(ds => ds.Ajax().Batch(true).ServerOperation(false).Read(r => r.Action("GetVendorData", "Projects", new { PurchaseOrder = "#=OrderAltNo#", Material = "#=ModelPart#", qty = "#=QuantityOrdered#" })))
	      .ToClientTemplate())
</script>

<script id="delete-confirmation" type="text/x-kendo-template">
    <p class="export-message">Exporting from the web site can take a long time depending on the amount of data.  If you would prefer to have the report sent to you, click 'Email Report', and we will process and send you the report while you continue to browse the site.  Please do not close your browser until the action is complete.</p>
    <br />
    <button class="export-confirm k-button">Email Report</button>
    <button class="export-cancel k-button">Wait Here for Report</button>
</script>

<div class="modal fade" id="VerifiedVoltageModel" tabindex="-1" role="dialog" aria-labelledby="VerifiedVoltageTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="VerifiedVoltageTitle">Verified Voltage</h4>

            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.Partial("~/Views/Shared/Voltage.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserFilterModel" tabindex="-1" role="dialog" aria-labelledby="UserFilterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="UserFilterTitle">User Filters</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label"><span id="spanFilterName" class="required"></span>Enter Filter Name</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                @Html.TextBox("FilterName", "", new { @class = "form-control" })
                                <span id="ReqFilterName" class="reqError"></span>
                            </div>
                        </div>                        
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group container">
                                Default &nbsp;@Html.CheckBox("IsDefault", false, new {})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelUserFilter()">Cancel</button>                       
                        <button type="button" id="save-vv" value="Save" class="btn btn-primary" onclick="saveUserFilter()">Save Filter</button>                       
                    </div>    
                    
                    <div class="row">
                        @(Html.Kendo().Grid<PM_Website.Models.UserFilterViewModel>()
                                                                                                                                                                                      .Name("userFilterGrid")
                                                                                                                                                                                      .Columns(columns =>
                                                                                                                                                                                      {
                                                                                                                                                                                          columns.Bound(p => p.FilterName).Title("FilterName");
                                                                                                                                                                                          columns.Bound(p => p.IsDefault).Title("IsDefault").ClientTemplate("<input type='checkbox' id='check#=UserFilterId#' #if(IsDefault){#checked#}# class='switchBox' onclick=\"checkIsDefault(#=UserId#,#=UserFilterId#,this)\">");
                                                                                                                                                                                          columns.Bound(p => p.UserFilterId).Title("Delete").ClientTemplate("<a style='font-size:18px; color:red; cursor:pointer; text-decoration:none;' onclick='deleteFilter(#=UserFilterId#)'><i class='fa fa-times'></i></a>");

                                                                                                                                                                                      })
                                                                                                                                                                                      .HtmlAttributes(new { style = "height:350px;" })
                                                                                                                                                                                      .DataSource(dataSource => dataSource
                                                                                                                                                                                                  .Ajax()
                                                                                                                                                                                                                                                   .ServerOperation(true)
                                                                                                                                                                                                                                                   .PageSize(20)
                                                                                                                                                                                                   
                                                                                                                                                                                                   .Read(read => read.Action("UserFilters_Read", "User")))
                                                                                                                                                                                      .Pageable()
                                                                                                                                                                                      .Sortable()
                                                                                                                                                                                      .Scrollable()
                        )
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/EditJobSheetModal.cshtml")

<script type="text/javascript">
    function ordersBound(e)
    {
        var grid = $(this.element[0]).data("kendoGrid");
        $.each(this.tbody.find("tr"), function (index, data) {
            var dataItem = grid.dataItem(data);
            var CPSD = $($(data).find("td")[8]);
            if (dataItem.ManualUpdate) {
                if (CPSD.html() !== "") {
                    CPSD.css("background-color", "#00c864");
                }
            }
        });
    }

    function update_order(e) {
        //console.log(e);
    }

    var lastVV;

    function cancelUserFilter() {
        $("#FilterName").val("");
        $("#ReqFilterName").html("");
        $("#IsDefault").prop('checked', false);
        if (lastVV !== undefined) {
            lastVV.data("kendoMobileSwitch").toggle();
            lastVV = undefined;
            
        }
    }

    function saveUserFilter() {

        var filterName = $("#FilterName").val();

        if (filterName == "") {
            $("#ReqFilterName").html("Please enter Filter Name");
            
        }
        else {
            $("#ReqFilterName").html("");

            var filter = $("#jobSheetGrid").data("kendoGrid").dataSource.filter();
            if (filter === undefined) {
                $("#ReqFilterName").html("Please apply filter");
            }
            else {
                $("#ReqFilterName").html("Saving please wait...");
                //kendo.confirm("Are you sure you want to save these filters?").then(
                //function () { //YES
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("CheckFilterName", "User")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { filterName: $("#FilterName").val(), isDefault: $("#IsDefault").prop("checked") },
                    success: function (response) {
                        if (response == 'True') {
                            $.ajax({
                                url: "@Url.Action("SaveFilters", "User")",
                                type: "POST",
                                data: {
                                    "filter": JSON.stringify(filter),
                                    "gridName": "jobSheetGrid",
                                    "filterName": $("#FilterName").val(),
                                    "isDefault": $("#IsDefault").prop("checked")
                                },
                                success: function (s) {
                                    //$('#UserFilterModel').modal('hide');   
                                    $("#FilterName").val("");
                                    $("#ReqFilterName").html("");
                                    $("#IsDefault").prop('checked', false);
                                    $("#UserFilters").data("kendoDropDownList").dataSource.read();
                                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                                    //console.log(s);

                                },
                                error: function (s, x, e) {
                                    console.log(s);
                                    console.log(x);
                                    console.log(e);
                                }
                            });

                        } else if (response == 'FilterNameExist') {
                            $("#ReqFilterName").html("FilterName already exists. Please choose another.");
                        } else if (response == 'IsDeafultExist') {
                            $("#ReqFilterName").html("Default filter already exists. Please uncheck");
                        }else if (response == 'False') {
                            $("#ReqFilterName").html("Error occured While processing your requst. Please contact your Admin.");
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });

                    
                //}
                //,
                //function () { //NO

                //}
                //);
            }
        }
    }
    function checkIsDefault(userId, filterId, e) {

        //if (e.checked) {
        //    alert("checked");
        //}
        //else if (e.checked === false) {
        //    alert("uncheck");
        //}
        kendo.confirm("Are you Sure you want to change the default.").then(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("IsDefault_Update", "User")",
                data: { UserId: userId, FilterId: filterId, check: e.checked },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
                failure: function (response) {
                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
                error: function (response) {
                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
            });
        }, function () {
            $("#userFilterGrid").data("kendoGrid").dataSource.read();
        });
    }

    function saveFilter() {

        $('#UserFilterModel').modal('show');       
        $("#ReqFilterName").html("");
        $("#FilterName").val("");
        $("#IsDefault").prop('checked', false);
        //if (filter === undefined) {
        //    if ($("#saveFilter").css("box-shadow") !== "unset") {
        //        kendo.confirm("Do you want to delete your filters?").then(
        //            function() {
        //                $.ajax({
        //                    url: "@Url.Action("SaveFilters", "User")",
        //                    type: "POST",
        //                    data: {
        //                        "filter": "",
        //                        "gridName": "jobSheetGrid",
        //                        "filterName": ""
        //                    },
        //                    success: function(s) {
        //                        console.log(s);
        //                        $("#saveFilter").css("box-shadow", "unset");
        //                    },
        //                    error: function(s, x, e) {
        //                        console.log(s);
        //                        console.log(x);
        //                        console.log(e);
        //                    }
        //                });
        //            });
        //    } else {
        //        kendo.alert("You have not specified any filters to save.");
        //    }
        //    return;
        //}

    }

    function addExtensionClass(extension) {
        switch (extension) {
        case '.jpg':
        case '.img':
        case '.png':
        case '.gif':
            return "img-file";
        case '.doc':
        case '.docx':
            return "doc-file";
        case '.xls':
        case '.xlsx':
            return "xls-file";
        case '.pdf':
            return "pdf-file";
        case '.zip':
        case '.rar':
            return "zip-file";
        default:
            return "default-file";
        }
    }

    function showcheckBox(chk) {
        $(chk).siblings().show();
        $(chk).hide();
    }

    function oncheckBox(jobid, status, chk) {
        $(chk).siblings().show();
        $(chk).hide();
        $.ajax({
            type: "GET",
            url: "@Url.Action("UpdateStatusById", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { JobSheetId: jobid, Status: status, Checked: $(chk).prop('checked') },
            success: function(response) {
                if (response == 'True') {
                    $(chk).siblings('span').show();
                    if ($(chk).prop('checked')) {

                        $(chk).siblings('span').css("color", "green");
                        $(chk).siblings('span').removeClass("fa fa-times");
                        $(chk).siblings('span').addClass("fa fa-check");
                        $(chk).prop('checked', true);
                        $(chk).hide();
                    } else {

                        $(chk).siblings('span').css("color", "red");
                        $(chk).siblings('span').removeClass("fa fa-check");
                        $(chk).siblings('span').addClass("fa fa-times");
                        $(chk).prop('checked', false);
                        $(chk).hide();
                    }
                } else if (response == 'False') {
                    $(chk).siblings('span').show();
                    $(chk).hide();
                } else if (response == 'NotVerified') {
                    $(chk).siblings('span').show();
                    $(chk).hide();


                }
            },
            failure: function(response) {
                $(chk).siblings('span').show();
                $(chk).hide();
                kendo.alert("failure");
            },
            error: function(response) {
                $(chk).siblings('span').show();
                $(chk).hide();
                kendo.alert("error");
            }
        });

    }

    function deleteFilter(id) {
        var fid = id;
        kendo.confirm("Are you sure you want to delete filter - this will remove the filter from the system completely")
            .then(function() {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("DeleteFilterById", "User")",
                        contentType: "application/json; charset=utf-8",                        
                        data: { UserFilterId: fid },
                        success: function(response) {
                            //$("#jobSheetGrid").data("kendoGrid").dataSource.read();
                            $("#UserFilters").data("kendoDropDownList").dataSource.read();
                            $("#userFilterGrid").data("kendoGrid").dataSource.read();
                        },
                        failure: function(response) {
                            // $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                            $("#UserFilters").data("kendoDropDownList").dataSource.read();
                            $("#userFilterGrid").data("kendoGrid").dataSource.read();
                        },
                        error: function(response) {
                            //$("#jobSheetGrid").data("kendoGrid").dataSource.read();
                            $("#UserFilters").data("kendoDropDownList").dataSource.read();
                            $("#userFilterGrid").data("kendoGrid").dataSource.read();
                        }
                    });
                },
                function() {

                });
    }

    var lastElement;

    function showDetail(e) {
        if (lastElement != undefined) {
            $("#" + $(e.sender.element[0]).attr("id")).data("kendoGrid").collapseRow(lastElement);
        }
        lastElement = e.masterRow[0];
    }

    function collapseDetail(e) {
        if (lastElement != undefined && lastElement == e.masterRow[0]) {
            lastElement = undefined;
        }
    }

    function viewVendorData(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var vendorTemplate = kendo.template($("#vendorDataTemplate").html());
        var wnd = $("#VendorDataWindow").data("kendoWindow");
        wnd.content(vendorTemplate(dataItem));
        wnd.open();
        setTimeout(function() {
                wnd.center();
            },
            100);
    }

    function OpenVendorData(e) {
        var dataItem = $(e).closest(".k-widget .k-grid").data("kendoGrid").dataItem($(e).closest("tr"));
        var vendorTemplate = kendo.template($("#vendorDataTemplate").html());
        var wnd = $("#VendorDataWindow").data("kendoWindow");
        wnd.content(vendorTemplate(dataItem));
        wnd.open();
        setTimeout(function () { wnd.center(); }, 100);
    }

    function editJob(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        EditJobSheet(dataItem.JobSheetId);
    }

    var historyTemplate = kendo.template($("#jobSheetHistoryTemplate").html());

    function showHistory(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#JobSheetHistory").data("kendoWindow");

        wnd.content(historyTemplate(dataItem));
        wnd.center().open();
    }

    var ordersTemplate = kendo.template($("#jobSheetOrdersTemplate").html());

    function showOrders(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#JobSheetOrders").data("kendoWindow");

        wnd.content(ordersTemplate(dataItem));
        wnd.center().open();
    }

    var stephistoryTemplate = kendo.template($("#jobStepHistoryTemplate").html());

    function showStepHistory(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#JobStepHistory").data("kendoWindow");

        wnd.content(stephistoryTemplate(dataItem));
        wnd.center().open();
    }

    function setFilter(e) {
        var theFilter = $("#jobSheetGrid").data("kendoGrid").dataSource.filter();

        if (theFilter != undefined) {
            $("#clearFilter").css("box-shadow", "0px 0px 10px 7px #428bfa");
        } else {
            $("#clearFilter").css("box-shadow", "unset");
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors,
                function(key, value) {
                    if ('errors' in value) {
                        $.each(value.errors,
                            function() {
                                message += this + "\n";
                            });
                    }
                });
            kendo.alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }

	$(document).ready(function () {
		@if (ViewBag.CreateJob != null && ViewBag.CreateJob)
			{
				<text>
					CreatJobSheet();
				</text>
			}

		var grid = $("#jobSheetGrid").data("kendoGrid");

		$.ajax({
			url: "@Url.Action("GetFilter", "User")",
			type: "GET",
			data: {
				"gridName": "jobSheetGrid"
			},            
			success: function(s) {
				if (s !== "") {                    
					grid.dataSource.filter(JSON.parse(s));
					$("#saveFilter").css("box-shadow", "0px 0px 10px 7px #428bfa");
				} else {
					$("#saveFilter").css("box-shadow", "unset");
				}
			},
			error: function(s, x, er) {
				console.log(s);
				console.log(x);
				console.log(er);
			}
		});  

		$.ajax({
			url: "@Url.Action("GetUserDefaultFilterId", "User")",
			type: "GET",            
			success: function (s) {
				if (s !== "") {
					$('#UserFilters').data("kendoDropDownList").value(s);
				} else {
                    
				}
			},
			error: function (s, x, er) {
				console.log(s);
				console.log(x);
				console.log(er);
			}
		});  

		$("#JobSheetIsactive").val("True");

		var roleid = $("#RoleSession").val();

		if (roleid === "2") {
			$("#JobSheetRoleActive").val("MyDirectReports");
		} else {
			$("#JobSheetRoleActive").val("AllProjects");
		}

		$("#jobSheetGrid").kendoTooltip({
			filter: ".k-hierarchy-cell",
			show: function(e) {
				this.content.parent().css("visibility", "visible");
			},
			hide: function(e) {
				this.content.parent().css("visibility", "hidden");
			},
			content: function(e) {
				return "View Checklist";
			}
		});

		$("#jobSheetGrid").kendoTooltip({
			filter: ".view-orders-cell",
			show: function(e) {
				this.content.parent().css("visibility", "visible");
			},
			hide: function(e) {
				this.content.parent().css("visibility", "hidden");
			},
			content: function(e) {
				return "View Orders";
			}
		});

		$("#jobSheetGrid").kendoTooltip({
			filter: ".view-history-cell",
			show: function(e) {
				this.content.parent().css("visibility", "visible");
			},
			hide: function(e) {
				this.content.parent().css("visibility", "hidden");
			},
			content: function(e) {
				return "View History";
			}
		});

		$("#jobSheetGrid").kendoTooltip({
			filter: ".job-alert-cell",
			show: function(e) {
				if ($(this.content[0]).html() !== "None") {
					this.content.parent().css("visibility", "visible");
				}
			},
			hide: function(e) {
				this.content.parent().css("visibility", "hidden");
			},
			content: function(cell) {
				return $("#jobSheetGrid").data("kendoGrid").dataItem($(cell.target[0]).closest("tr")).alert;
			}
		});

		var jobSheetId;

		@if (ViewBag.JobSheetId != null) {
    		<text>
			    jobSheetId =  @ViewBag.JobSheetId;
		    </text>
    	}

		if (jobSheetId != null && jobSheetId != 0) {
			EditJobSheet(jobSheetId);
		} 

        
	});

    function showNewJobsheet() {
        @if (ViewBag.CreateNewJob !=null) {
    		<text>
                CreatJobSheet();
            </text>
    	}
    }

    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q === "") {
            $("#jobSheetGrid").data("kendoGrid").dataSource.filter({});
        } else {
            var grid = $("#jobSheetGrid").data("kendoGrid");
            if (isNaN(q)) {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [{
                                field: "JobSheetName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "JobName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "Customer.CustomerName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "Customer.CustNo",
                                operator: "contains",
                                value: q
                            }, {
                                field: "ShipToName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "JobOrShipToNumber",
                                operator: "contains",
                                value: q
                            }, {
                                field: "User5.SMSN.Name",
                                operator: "contains",
                                value: q
                            }, {
                                field: "User7.SMSN.Name",
                                operator: "contains",
                                value: q
                            }
                        ]
                    }
                });
            } else {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [{
                                field: "JobSheetName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "JobName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "Customer.CustomerName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "Customer.CustNo",
                                operator: "contains",
                                value: q
                            }, {
                                field: "ShipToName",
                                operator: "contains",
                                value: q
                            }, {
                                field: "JobOrShipToNumber",
                                operator: "contains",
                                value: q
                            }, {
                                field: "User5.SMSN.Name",
                                operator: "contains",
                                value: q
                            }, {
                                field: "User7.SMSN.Name",
                                operator: "contains",
                                value: q
                            }, {
                                field: "TotalPurchases",
                                operator: "eq",
                                value: q
                            }, {
                                field: "OrderAmount",
                                operator: "eq",
                                value: q
                            }
                        ]
                    }
                });
            }
        }
    }

    function getJobSheetIsActive() {
        return {
            IsActive: $("#JobSheetIsactive").val(),
            MyProjects: $("#JobSheetRoleActive").val(),
            Delegate: $("#JobSheetDelegate").val()
        };
    }

    function ProjecRole_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value === "MyDirectReports") {
                $("#JobSheetRoleActive").val("MyDirectReports");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            } else {
                $("#JobSheetRoleActive").val("AllProjects");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            }
        }
    }

    function ProjectStatus_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'Active') {
                $("#JobSheetIsactive").val("True");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            } else if (dataItem.Value == 'InActive') {
                $("#JobSheetIsactive").val("False");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            } else if (dataItem.Value == 'All') {
                $("#JobSheetIsactive").val("All");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            }
        }
    }

    function PM_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.UserId == "") {
                $("#JobSheetDelegate").val("0");
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            } else {
                $("#JobSheetDelegate").val(dataItem.UserId);
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            }
        }
    }

    function Filter_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.UserFilterId == "") {
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            } else {
                var filterid = dataItem.UserFilterId;
                var grid = $("#jobSheetGrid").data("kendoGrid");
                $.ajax({
                    url: "@Url.Action("GetFilterBySelect", "User")",
                    type: "GET",
                    data: {
                        "gridName": "jobSheetGrid",
                        "filterid": filterid
                    },
                    success: function (s) {
                        if (s !== "") {
                            grid.dataSource.filter(JSON.parse(s));
                            $("#saveFilter").css("box-shadow", "0px 0px 10px 7px #428bfa");
                        } else {
                            $("#saveFilter").css("box-shadow", "unset");
                        }
                    },
                    error: function (s, x, er) {
                        console.log(s);
                        console.log(x);
                        console.log(er);
                    }
                });
            }
        }
    }

    function checklistMouseover(e) {
        var title = $(e).find('span').attr('title');
        $(e).find('p').text(title).css("display", "block");
    }

    function checklistMouseout(e) {
        $(e).find('p').css("display", "none");
    }

    var counter = 0;

    $('#VerifiedVoltageModel').on('hidden.bs.modal', function () {
        $("#jobSheetGrid").data("kendoGrid").dataSource.read();
    });

    function verifyVoltage(jobSheetId) {
        clickedCheck = jobSheetId;
        var checkBox = document.getElementById("check" + jobSheetId);
        if (checkBox.checked) {
            $("#id").val(jobSheetId);
            $("#VerifiedVoltageVal").val(true);
            $('#VerifiedVoltageModel').modal('show');
            $("#jobSheetGrid").data("kendoGrid").dataSource.read();
        } else if (checkBox.checked == false) {
            var JobSheetViewModel = new Object();
            JobSheetViewModel.id = jobSheetId;
            JobSheetViewModel.VerifiedVoltageVal = false;
            kendo.confirm("Are you Sure you want to update Voltage Verified.").then(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VerifiedVoltage_Update", "Projects")",
                    data: JSON.stringify(JobSheetViewModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                    },
                    failure: function (response) {
                        $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                    },
                    error: function (response) {
                        $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                    }

                });
            }, function () {
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();

            });
        }
    }

    function onPdfExport(e) {
        var exportFlag = false;
        var wnd = $("#jobSheetGrid").data("kendoGrid");
        var dataSource = wnd.dataSource;
        var totalRecords = dataSource.total();
        if (totalRecords >= 500) {
            kendo.confirm("Exporting" + " " + totalRecords + " " + "records will take over 5 minutes and may not complete completely.  Please consider filtering your results before exporting.").then(function () {
                wnd.hideColumn(7);
                wnd.hideColumn(8);
                wnd.hideColumn(9);
                wnd.hideColumn(10);
                //wnd.hideColumn(11);
                wnd.saveAsPDF().then(function () {
                    wnd.showColumn(7);
                    wnd.showColumn(8);
                });
            }, function () {
                wnd.showColumn(7);
                wnd.showColumn(8);
                wnd.showColumn(9);
                wnd.showColumn(10);
                //wnd.showColumn(11);
                $('#jobSheetGrid').data('kendoGrid').refresh();
                $("#jobSheetGrid").data("kendoGrid").dataSource.read();

            });
        } else {
            wnd.hideColumn(7);
            wnd.hideColumn(8);
            wnd.hideColumn(9);
            wnd.hideColumn(10);
            //wnd.hideColumn(11);
            wnd.saveAsPDF().then(function () {
                wnd.showColumn(7);
                wnd.showColumn(8);
                wnd.showColumn(9);
                wnd.showColumn(10);
                //wnd.showColumn(11);
            });
        }

    }

    function onExcelExport(e) {
        if (e == "excel") {
            var kendoWindow = $("<div />").kendoWindow({
                title: "Excel Report Confirmation",
                resizable: false,
                modal: true
            });

            kendoWindow.data("kendoWindow")
                .content($("#delete-confirmation").html())
                .center().open();

            kendoWindow.find(".export-confirm,.export-cancel")
                .click(function () {
                    if ($(this).hasClass("export-confirm")) {
                        emailExportClick();
                    } else {
                        excelExportClick();
                    }

                    kendoWindow.data("kendoWindow").close();
                })
                .end();
        } else if (e == "email") {
            emailExportClick();
        } ///

    }

    function emailExportClick() {
        JobSheetGridExport('email');
    }

    function excelExportClick() {
        $(".loading").show();
        var totalRecords = 0;
        var wnd = $("#jobSheetGrid").data("kendoGrid");
        var jobSheetIds = [];
        var grid = $('#jobSheetGrid').data('kendoGrid');
        var selectedElements = grid.select();
        for (var j = 0; j < selectedElements.length; j++) {
            var item = grid.dataItem(selectedElements[j]);
            jobSheetIds[j] = item.JobSheetId;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("ExcelExportCount", "Projects")",
            data: JSON.stringify(jobSheetIds),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    totalRecords = response;
                    if (totalRecords >= 500) {
                        kendo.confirm("Exporting" + " " + totalRecords + " " + "records will take over 5 minutes and may not complete completely.  Please consider filtering your results before exporting.").then(function () {
                            JobSheetGridExport('excel');
                            $('#jobSheetGrid').data('kendoGrid').refresh();
                            $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                            $("#jobSheetGrid").data("kendoGrid").clearSelection();

                        }, function () {

                            $('#jobSheetGrid').data('kendoGrid').refresh();
                            $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                            $("#jobSheetGrid").data("kendoGrid").clearSelection();
                        });
                    } else {
                        JobSheetGridExport('excel');
                        $('#jobSheetGrid').data('kendoGrid').refresh();
                        $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                        $("#jobSheetGrid").data("kendoGrid").clearSelection();

                    }
                }
            },
            failure: function (response) {},
            error: function (response) {}
        });
    }

    function JobSheetGridExport(e) {
        var arrayOfValues = [];
        var grid = $('#jobSheetGrid').data('kendoGrid');
        var selectedElements = grid.select();
        for (var j = 0; j < selectedElements.length; j++) {
            var item = grid.dataItem(selectedElements[j]);
            arrayOfValues[j] = item.JobSheetId;
        }

        if (e == "excel") {
            $(".loading").show();
            setTimeout(function () {
                $(".loading").hide();
            }, 15000);
            var form = document.createElement("form");
            document.body.appendChild(form);
            form.method = "POST";
            form.action = "@Url.Action("ExcelExport", "Projects")";
            var element1 = document.createElement("INPUT");
            element1.name = "jobSheetIds";
            element1.value = JSON.stringify(arrayOfValues);
            element1.type = "hidden";
            form.appendChild(element1);
            form.submit();
        } else if (e == "email") {
            $('#jobSheetGrid').data('kendoGrid').refresh();
            $("#jobSheetGrid").data("kendoGrid").dataSource.read();
            $("#jobSheetGrid").data("kendoGrid").clearSelection();

            if (arrayOfValues.length > 0) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EmailExcelExport", "Projects")",
                    data: JSON.stringify({
                        jobSheetId: arrayOfValues,
                        emailAddress: '@HttpContext.Current.Session["userName"].ToString()',
                        username: '@HttpContext.Current.Session["firstNameLastName"].ToString()'
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {}
                    },
                    failure: function (response) {},
                    error: function (response) {}
                });
            } else {
                kendo.alert("Please select atleat one project");
            }
        }
    }

    function JobSheetGridExport_old(e) {
        var grid = $("#jobSheetGrid").getKendoGrid();
        var rows = [{
                cells: [
                    //{ value: "Job Sheet Id" },
                    {
                        value: "Account Number",
                        background: "#DCDCDC"
                    }, {
                        value: "JobSheet Name - Job Name",
                        background: "#DCDCDC"
                    }, {
                        value: "Account - Sub Account",
                        background: "#DCDCDC"
                    }, {
                        value: "Project Manager",
                        background: "#DCDCDC"
                    }, {
                        value: "OS Sales Rep",
                        background: "#DCDCDC"
                    }, {
                        value: "PO Amount",
                        background: "#DCDCDC"
                    }, {
                        value: "Order Amount",
                        background: "#DCDCDC"
                    },
                    //{ value: "Status", background: "#DCDCDC" },
                    {
                        value: "Verified Voltage ?",
                        background: "#DCDCDC"
                    },
                    // { value: "CCG Notified ?", background: "#DCDCDC" },
                ]
            }
        ];

        var entityGrid = $("#jobSheetGrid").data("kendoGrid");
        var selectedrows = entityGrid.select();
        selectedrows.each(function (index, selectedrows) {
            var selectedItem = entityGrid.dataItem(selectedrows);
            rows.push({
                cells: [
                    //{ value: selectedItem.JobSheetId },
                    {
                        value: selectedItem.AccountNumber
                    }, {
                        value: selectedItem.JobSheetName + " - " + selectedItem.JobName
                    },
                    //{ value: selectedItem.Customer.CustomerName + " - " + selectedItem.Customer.CustNo + "-" + selectedItem.ShipToName + "-" + selectedItem.JobOrShipToNumber }
                    {
                        value: selectedItem.Customer.CustomerName + " - " + selectedItem.Customer.CustNo
                    }, {
                        value: selectedItem.User5.SMSN.Name
                    }, {
                        value: selectedItem.User7.SMSN.Name
                    }, {
                        value: selectedItem.POAmount
                    }, {
                        value: selectedItem.OrderAmount
                    },
                    //{ value: selectedItem.JobStep.StepName },
                    {
                        value: selectedItem.VerifiedVoltage
                    },
                    //{ value: selectedItem.IsCcgNotified },
                ]
            });
        });

        excelExport(rows);
    }

    function excelExport(rows) {
        var workbook = new kendo.ooxml.Workbook({
            sheets: [{
                    filter: {
                        from: 0,
                        to: 9
                    },
                    columns: [
                        // { autoWidth: true },
                        {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        }, {
                            autoWidth: true
                        },
                        //{ autoWidth: true },
                        {
                            autoWidth: true
                        },
                        //{ autoWidth: true },
                    ],
                    title: "Job Sheet Export",
                    rows: rows
                }
            ]
        });
        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "CommercialProjectExport.xlsx"
        });
    }

    function onClearFilter(e) {
        $("#UserFilters").data("kendoDropDownList").dataSource.read();
        $("#jobSheetGrid").data("kendoGrid").dataSource.filter({});
    }

    function JsonDateConvter(dateVal) {
        if (dateVal != null) {
            var MyDate_String_Value = dateVal;
            var value = new Date(parseInt(MyDate_String_Value.replace(/(^.*\()|([+-].*$)/g, '')));
            var dat = value.getMonth() +
                1 +
                "/" +
                value.getDate() +
                "/" +
                value.getFullYear();
            return dat;
        } else {
            var value1 = new Date();
            var dat1 = value1.getMonth() +
                1 +
                "/" +
                value1.getDate() +
                "/" +
                value1.getFullYear();
            return dat1;
        }
    }

    function setcolor(e) {
        setFilter(e);
        var grid = $("#jobSheetGrid").data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var gridRow = this;
            var dataItem = grid.dataItem(this);
            if (dataItem.IsActive === false) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
            $.ajax({
                url: "@Url.Action("GetAlerts", "Projects")",
                type: "GET",
                data: {
                    jobSheetId: dataItem.JobSheetId
                },
                success: function (data) {
                    if ($.isEmptyObject(data)) {
                        dataItem.alert = "None";
                        $(gridRow).find(".job-alert-icon").hide();
                    } else {
                        var response = "";
                        if (data.voltageVerified != null) {
                            response += "<p>Orders created without Voltage Verification.</p>";
                        }
                        if (data.differentState != null) {
                            response += "<p>Shipping location different than SubAccount.</p>";
                        }
                        if (data.shipDate != null) {
                            response += "<p>Ship Date after Customer Requested Date.</p>";
                        }
                        if (data.creditRejected != null) {
                            response += "<p>Rejected by Credit.</p>";
                        }
                        if (data.totalpoamount != null) {
                            response += "<p>Total billed greater than PO.</p>";
                        }
                        if (data.InvoiceVerified != null) {
                            response += "<p>Order #" +
                                data.InvoiceVerified.OrderNo +
                                " created without Invoice Date.</p>";
                        }
                        $(".k-tooltip-content").parent().parent().css("width", "200px");
                        $(gridRow).find(".job-alert-icon").show();
                        dataItem.alert = response;
                    }
                },
                error: function (s, x, e) {
                    $(".k-tooltip-content").html(e);
                }
            });
        });
    }

    function setVendorColor(e) {
        var grid = $("#" + $(e.sender.element[0]).attr("id")).data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var dataItem = grid.dataItem(this);
            var nullDate = new Date("0001-01-01T05:00:00.000Z");
            if (isValidDate(dataItem.PrevCPSD) && dataItem.PrevCPSD.toString() !== nullDate.toString()) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
        });
    }

    function isValidDate(d) {
        return d instanceof Date && !isNaN(d);
    }


</script>
<script>
    window.onload = showNewJobsheet;
</script>

<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }


    .k-detail-row .k-grid-header .k-header {
        color: white;
    }

    #jobList .k-grid-header .k-header {
        height: 150px !important;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            -ms-opacity: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .addt-action {
        cursor: pointer;
    }

    .inner {
        text-align: center;
        height: 50px;
    }

    .k-state-selected.k-state-focused {
        background-color: #6F9300;
    }

    .mastertooltip {
        display: none;
        position: absolute;
        border: 1px solid #19468d;
        background-color: #19468d;
        border-radius: 5px;
        padding: 10px;
        color: #fff !important;
    }

    .popupextention {
        z-index: 1000;
        margin-top: 20px;
    }

    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }

    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }

    .k-pdf-export .k-grid-filter {
        display: none;
    }

    .export-message {
        width: 600px;
    }

    .export-cancel {
        color: #000;
    }

    .export-confirm {
        color: #fff;
        background-color: #19468d !important;
    }

    .autocomplete {
        display: inline-block !important;
        border: 0 !important;
        background: none;
    }

    .job-alert-cell, .lock-cell {
        text-align: center;
    }

    .job-alert-icon {
        color: #19468d;
    }

    .k-grid tbody .k-button {
        min-width: unset;
        margin: 0;
        padding-left: unset;
        padding-right: unset;
    }

    .k-grid tbody .k-command-cell {
        text-align: center;
    }

    .k-widget.k-tooltip.k-popup {
        background-color: #19468d !important;
        border-color: #19468d !important;
    }

    .k-tooltip.k-popup {
        visibility: hidden;
    }

    .k-grid-header th.k-with-icon .k-link {
	    font-size: 11px;
    }

	.k-header.k-grid-toolbar.k-grid-top {
		padding-top: 0;
		padding-bottom: 0;
	}

    .k-grid > .k-grouping-header {
	    padding: 5px;
    }
</style>