﻿@model PM_Website.Models.JobSheet
@{
    ViewBag.Title = "JobSheetDetails";
}
<div class="row container maindiv">
	@if (ViewBag.JobSheetId != null)
	{
		<text>
			<input class="form-control" id="ProjectId" name="ProjectId" type="hidden" value="@ViewBag.JobSheetId" />
		</text>
	}
	else
	{
		<input class="form-control" id="ProjectId" name="ProjectId" type="hidden" value="0" />
	}
	@if (ViewBag.AccountNumber != null)
	{
		<text>
			<input class="form-control" id="JobAccountNumber" name="JobAccountNumber" type="hidden" value="@ViewBag.AccountNumber" />
		</text>
	}
	else
	{
		<input class="form-control" id="JobAccountNumber" name="JobAccountNumber" type="hidden" value="0" />
	}
	@if (ViewBag.JobOrShipToNumber != null)
	{
		<text>
			<input class="form-control" id="JobOrShipToNumber" name="JobOrShipToNumber" type="hidden" value="@ViewBag.JobOrShipToNumber" />
		</text>
	}
	else
	{
		<input class="form-control" id="JobOrShipToNumber" name="JobOrShipToNumber" type="hidden" value="0" />
	}
	<div class="col-lg-12" style="height:10px">
		<div class="clearfix"></div>
	</div>

	<div class="col-lg-12">
		<div style="float: right !important;">
			@if (HttpContext.Current.Session["userRoleId"].ToString() != "4")
			{
				<button class="btn btn-primary" onclick="EditJobSheet('@ViewBag.JobSheetId')">Edit this Project</button>
			}
			<button class="btn btn-primary" onclick="history.back()">Back</button>
			<button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
			@(Html.Kendo().Window()
						  .Name("HelpWindow")
						  .Title("Help")
						  .Visible(false)
						  .Modal(true)
						  .Draggable(true)
						  .Width(630)
						  .Height(115)
			)
		</div>
	</div>

	<div style="padding-left:20px;">
		<div class="row JobSheetdiv">
            <div id="JobSheetWindow">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="EditHeader">
                                <h2 style="color: white"> @ViewBag.ProjectName Project Details </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project Name: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Company: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.CompanyName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Set-Up Date: </label>
                            <label class="contenttext">
                                @if (Model.SetUpDate.HasValue)
                                {
                                    @Model.SetUpDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Contract Date: </label>
                            <label class="contenttext">
                                @if (Model.ContractDate.HasValue)
                                {
                                    @Model.ContractDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Account Name: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.AccountNumber) : @Html.DisplayFor(m => m.AccountName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">County of Project: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.CountyOfJob)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project Street Address: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobStreeAddress)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project State: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobState)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project City: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobCity)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project Zip: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobZip)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <span id="spanJobshipNumber">
                                <label class="control-label labeltext">Project / Ship To Number: </label>
                                <label class="contenttext">@Html.DisplayFor(m => m.JobOrShipToNumber)</label>
                            </span>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Job Sheet Name: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobSheetName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Sales Force URL: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.SalesForceURL)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">PO Amount:</label>
                            <label class="contenttext">
                                $ @Html.DisplayFor(x => x.TotalPurchases, "DecimalTemplate")


                                @*@Html.DisplayFor(m => m.TotalPurchases)*@
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Order Amount:</label>
                            <label class="contenttext">
                                @if (Model.OrderAmount.HasValue)
                                {

                                    <label class="contenttext">$ @Html.DisplayFor(x => x.OrderAmount, "DecimalTemplate") </label>

                                    @*@Html.DisplayFor(x => x.OrderAmount, "DecimalTemplate")*@
                                }

                                @*$@Html.DisplayFor(m => m.OrderAmount)*@
                            </label>
                        </div>

                        @*<div class="col-md-4 col-sm-4">
                    <label class="control-label labeltext">Invoiced Amount:</label>
                    <label class="contenttext">
                        $@Html.DisplayFor(m => m.OrderAmount)
                    </label>
                </div>*@
                    </div>
                </div>

                <div id="spanCredit1" class="container">
                    <div class="formHeader">
                        <span class="spantext">Credit User </span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-lg-12">
                            <label class="control-label labeltext">Credit Notes: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.CreditNotes)</label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Key Stakeholders</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Sales Representative In:</label>
                            <label class="contenttext">@ViewBag.salesrepIn : @Html.DisplayFor(m => m.TMCommisionPosition1)</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Sales Representative Out :</label>
                            <label class="contenttext"> @ViewBag.salesrepOut :  @Html.DisplayFor(m => m.TMCommissionPosition2)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Project Manager: </label>
                            <label class="contenttext">@ViewBag.salesrepPM : @Html.DisplayFor(m => m.User5.SMSN.Name)</label>
                        </div>


                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">General Contractor</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GeneralContractor)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor Mailing Address: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GCMailingAddress)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor Phone Number: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GCPhoneNumber)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor State: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GCState)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor City: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GCCity)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">General Contractor Zip: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.GCZip)</label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Owner Details</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner Name: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.OwnerName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner Mailing Address: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobName)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner Phone Number: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.OPhoneNumber)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner State: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.OState)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner City: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.OCity)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Owner Zip: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.OZip)</label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Bond Information</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Bonded Job?:</label>
                            <label class="contenttext">
                                @Html.DisplayFor(m => m.BondedJob)
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Bond Information:</label>
                            <label class="contenttext">
                                @Html.DisplayFor(m => m.BondInformation)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Tax Information</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Tax Exempt?:</label>
                            <label class="contenttext">
                                @Html.DisplayFor(m => m.TaxExemption)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Additional Information</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Anticipated First Delivery: </label>
                            <label class="contenttext">
                                @if (Model.AnticipatedFirstDelivery != null)
                                {
                                    @Model.AnticipatedFirstDelivery.ToShortDateString();
                                }
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Anticipated Job Close: </label>
                            <label class="contenttext">
                                @if (Model.AnticipatedJobClose != null)
                                {
                                    @Model.AnticipatedJobClose.ToShortDateString();
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Vendor Promised Ship Date: </label>
                            <label class="contenttext">
                                @if (Model.VendorPromisedShipDate.HasValue)
                                {
                                    @Model.VendorPromisedShipDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Customer Requested Delivery Date: </label>
                            <label class="contenttext">
                                @if (Model.CustomerRequestedDeliveryDate.HasValue)
                                {
                                    @Model.CustomerRequestedDeliveryDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Lien/Prelien</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Job Line: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.JobLine)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Prelien Amount: </label>
                            @*@if (!string.IsNullOrEmpty(Convert.ToString(Model.PrelienAmount)))*@
                            @if (Model.PrelienAmount.HasValue)
                            {

                                <label class="contenttext">$ @Html.DisplayFor(x => x.PrelienAmount, "DecimalTemplate") </label>
                            }

                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Prelien?: </label>
                            <label class="contenttext"> @Html.DisplayFor(m => m.Prelien)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Prelien Company: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.PrelienCompany)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Prelien Date: </label>
                            <label class="contenttext">
                                @if (Model.PrelienDate.HasValue)
                                {
                                    @Model.PrelienDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Notes</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-12 col-sm-12">
                            @Html.DisplayFor(m => m.Notes)
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Engineer</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-12 col-sm-12">
                            @Html.DisplayFor(m => m.Engineer)
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">System Information</span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Submitted Date: </label>
                            <label class="contenttext">
                                @if (Model.SubmittedDate.HasValue)
                                {
                                    @Model.SubmittedDate.Value.ToString("MM/dd/yyyy")
                                }
                            </label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Estimator: </label>
                            @*<label class="contenttext">@Html.DisplayFor(m => m.SMSN.Name)</label>*@
                        </div>
                    </div>
                </div>

                <div id="spanCCG" class="container">
                    <div class="formHeader">
                        <span class="spantext">CCG Only </span>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Material %: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.Material)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Labor %: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.Labor)</label>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Returnage %: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.Returnage)</label>
                        </div>
                    </div>

                    <div class="row detailLine">
                        <div class="col-md-4 col-sm-4">
                            <label class="control-label labeltext">Duration: </label>
                            <label class="contenttext">@Html.DisplayFor(m => m.Duration)</label>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                    <div class="formHeader">
                        <span class="spantext">Upload Documents</span>


                    </div>
                    <div class="row detailLine">
                        <div class="col-lg-12">

	                        @(Html.Kendo().Grid<PM_Website.Models.JobSheetCCGFilesViewModel>()
		                          .Name("jobSheetCCGgrid")
		                          .Columns(columns =>
		                          {
			                          columns.Bound(p => p.CCGFileId).Visible(false);
			                          columns.Bound(p => p.CCGFileName).Title("File").ClientTemplate("<a target='_blank'href='#=CCGFileURL#' >#=CCGFileName#</a>").Sortable(false);
		                          })
		                          .HtmlAttributes(new { style = "height:200px;" })
		                          .DataSource(dataSource => dataSource
			                          .Ajax()
			                          .ServerOperation(true)
			                          .PageSize(10)
			                          .Read(read => read.Action("JobSheet_ReadCCGFiles", "Projects").Data("getJobSheetId"))))

                        </div>
                    </div>
                </div>
                    <div class="container">
                        <div class="formHeader">
                            <span class="spantext">Orders </span>
                        </div>

                        <div class="row detailLine">
                            <div class="col-xs-12">
	                            @(Html.Kendo().Grid<PM_Website.Models.JobOrderViewModel>()
		                              .Name("jobOrders")
		                              .Columns(columns =>
		                              {
			                              columns.Bound(p => p.OrderNo).Title("Order No");
			                              columns.Bound(p => p.OrderSurf).Title("Order Surf");
			                              columns.Bound(p => p.CustPO).Title("Customer PO");
			                              columns.Bound(p => p.InvoiceNo).Title("Invoice");
			                              columns.Bound(p => p.OrderCreatedDate).Title("Created Date").Format("{0:MM/dd/yyyy}");
			                              columns.Bound(p => p.TotalOrderAmount).Title("Total Order Amount").Format("{0:C}");
		                              })
		                              .Events(ev =>
		                              {
			                              ev.DetailExpand("showDetail");
			                              ev.DetailCollapse("collapseDetail");
		                              })
		                              .HtmlAttributes(new { style = "height:450px;" })
		                              .ClientDetailTemplateId("orderlinetemplate")
		                              .DataSource(dataSource => dataSource
			                              .Ajax()
			                              .ServerOperation(true)
			                              .PageSize(10)
			                              .Read(read => read.Action("JobOrders_Read", "Projects").Data("getJobOrders"))
		                              )
		                              .Pageable()
		                              .Sortable()
		                              .Groupable()
		                              .Filterable()
		                              .Scrollable())
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="formHeader">
                            <span class="spantext">History </span>
                        </div>

                        <div class="row detailLine">
                            <div class="col-xs-12">
                                @(Html.Kendo().Grid<PM_Website.Models.JobStepLogViewModel>()
                                                                              .Name("jobSheetgridHistory")
                                                                              .Columns(columns =>
                                                                              {
                                                                                  columns.Bound(p => p.JSLogId).Visible(false);
                                                                                  columns.Bound(p => p.DateModified).Title("Change Date").Format("{0:MM/dd/yyyy hh:mm:ss}");
                                                                                  columns.Bound(p => p.JobStep.StepName).Title("Step").Hidden();
                                                                                  columns.Bound(p => p.StepStatus).Title("Status").ClientTemplate("\\#if(StepStatus){\\#Approved\\#}else{\\#Rejected\\#}\\#").Hidden();
                                                                                  columns.Bound(p => p.User.SMSN.Name).Title("Changed By");
                                                                              })
                                                                              .HtmlAttributes(new { style = "height:450px;" })
                                                                              .DataSource(dataSource => dataSource
                                                                                  .Ajax()
                                                                                  .ServerOperation(true)
                                                                                  .PageSize(10)
                                                                                  .Group(g => g.Add(c => c.JobStep.StepName))
                                                                                  .Read(read => read.Action("ChangeLogJobStep_Read", "JobStep").Data("getJobSheetId")))
                                                                              .Pageable()
                                                                              .Sortable()
                                                                              .Filterable()
                                                                              .Groupable()
                                                                              .Scrollable()
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</div>

<style>
	.detailLine {
		margin-left: 10px;
	}
</style>

@(Html.Kendo().Window().Name("VendorDataWindow")
      .Title("Vendor Data")
      .Visible(false)
      .Modal(true)
      .Draggable(true)
)
<script>
    

    $(document).ready(function () {
        $("#JobSheetModal").on("hidden.bs.modal",
            function () {
                location.reload();
            });
    });
    function getJobSheetId() {
        return {
            JobSheetId: $("#ProjectId").val()
        };
    }

    function getEditJobSheetById() {
        return {
            JobSheetId: $("#ProjectId").val()
        };
    }



    function getJobOrders() {
        return {
            ShipTo: $("#JobOrShipToNumber").val(), CustNo: $("#JobAccountNumber").val()
        };
    }
    var lastElement;
    function showDetail(e) {
        if (lastElement != undefined) {
            $("#" + $(e.sender.element[0]).attr("id")).data("kendoGrid").collapseRow(lastElement);
        }
        lastElement = e.masterRow[0];
    }
    function collapseDetail(e) {
        if (lastElement != undefined && lastElement == e.masterRow[0]) {
            lastElement = undefined;
        }
    }
    function viewVendorData(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var vendorTemplate = kendo.template($("#vendorDataTemplate").html());
        var wnd = $("#VendorDataWindow").data("kendoWindow");
        wnd.content(vendorTemplate(dataItem));
        wnd.open();
        setTimeout(function () { wnd.center(); }, 100);
    }
    function setVendorColor(e) {
        var grid = $("#" + $(e.sender.element[0]).attr("id")).data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var dataItem = grid.dataItem(this);
            var nullDate = new Date("0001-01-01T05:00:00.000Z");
            if (isValidDate(dataItem.PrevCPSD) && dataItem.PrevCPSD.toString() !== nullDate.toString()) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
        });
    }
    function isValidDate(d) {
        return d instanceof Date && !isNaN(d);
    }
</script>
<script id="vendorDataTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.CarrierSapReportLineModel>()
	      .Name("vendorData_#=OrderNo#_Grid")
	      .Columns(col =>
	      {
		      col.Bound(c => c.SalesOrder);
		      col.Bound(c => c.LineNumber);
		      col.Bound(c => c.Material);
		      col.Bound(c => c.Description);
		      col.Bound(c => c.OrderQty);
		      col.Bound(c => c.ShippedQty);
		      col.Bound(c => c.CRSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.CPSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.PrevCPSD).Format("{0:MM/dd/yyyy}");
		      col.Bound(c => c.Rate);
		      col.Bound(c => c.NetPrice);
		      col.Bound(c => c.ItemValue);
	      })
	      .Events(ev => ev.DataBound("setVendorColor"))
	      .NoRecords("No Data Available")
	      .DataSource(ds => ds
		      .Ajax()
		      .Batch(true)
		      .ServerOperation(false)
		      .Read(r => r.Action("GetVendorData", "Projects", new { PurchaseOrder = "#=OrderAltNo#", Material = "#=ModelPart#", qty = "#=QuantityOrdered#" })))
	      .ToClientTemplate())
</script>
<script id="orderlinetemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.ProjectOrderLineViewModel>()
          .Name("jobSheetorderline_#=OrderNo#_#=OrderSurf#")
          .Columns(columns =>
          {
              columns.Bound(p => p.ProjectOrderLineId).Visible(false);
              columns.Bound(p => p.OrderNo).Title("Order No");
              columns.Bound(p => p.ModelPart).Title("Part");
              columns.Bound(p => p.QuantityOrdered).Title("Qty");
              columns.Bound(p => p.NetAmount).Title("Net Amount").Format("{0:C}");
              columns.Bound(p => p.CustomerRequestedDeliveryDate).Title("Requested Ship").Format("{0:MM/dd/yyyy hh:mm:ss}");
              columns.Bound(p => p.Vendor.VendorName).Title("Vendor");
              columns.Bound(p => p.OrderAltNo).Title("PO to Vendor");
              //columns.Bound(p => p.OrderAltNo).Title("Vendor Data").ClientTemplate("\\#if (OrderAltNo != null && OrderAltNo > 0) {\\# <i class=\"fa fa-industry\" onClick=\"viewVendorData(\\#=OrderAltNo\\#,'\\#=ModelPart\\#')\"></i> \\#}\\#");
              columns.Command(command => { command.Custom("viewVendorData").Click("viewVendorData").IconClass("fa fa-industry").Text(" "); }).Width(100).Title("Vendor Data");
          })
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .PageSize(10)
              .Read(read => read.Action("ProjectOrderLine_Read", "Home", new { ShipTo = "#=ShipTo#", CustNo = "#=CustNo#", OrderNo = "#=OrderNo#", OrderSurf = "#=OrderSurf#" }))
        )
          .Pageable()
          .Sortable()
          .Filterable()
          .Groupable()
          .Scrollable()
          .ToClientTemplate())
</script>
@Html.Partial("~/Views/Shared/EditJobSheetModal.cshtml")