﻿@{
                /**/

                ViewBag.Title = "User Roles";
}
@model IQueryable<PM_Website.Models.UserRoleViewModel>
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-edit glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>
        <div class="col-sm-4">

            
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;margin-top:-4px;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign"></i></button>
                @(Html.Kendo().Window()
                                                                                                                                                                                                                                                                             .Name("HelpWindow")
                                                                                                                                                                                                                                                                             .Title("Help")
                                                                                                                                                                                                                                                                             .Visible(false)
                                                                                                                                                                                                                                                                             .Modal(true)
                                                                                                                                                                                                                                                                             .Draggable(true)
                                                                                                                                                                                                                                                                             .Width(630)
                                                                                                                                                                                                                                                                             .Height(115)


                )
            </div>
            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>


        </div>

    </div>


    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>


    <div class="col-xs-12">

        <div class="col-xs-12">

            @(Html.Kendo().Grid(Model).Name("roleGrid")

                                                                                                                                                                                                                .Columns(columns =>
                                                                                                                                                                                                                {
                                                                                                                                                                                                                    columns.ForeignKey(p => p.RoleId, (System.Collections.IEnumerable)ViewData["userRoles"], "RoleId", "RoleName").Title("Role");
                                                                                                                                                                                                                    columns.Bound(p => p.Permissions).Title("Description");
                                                                                                                                                                                                                    columns.Bound(p => p.RoleId).Title("Role ID").Hidden();
                                                                                                                                                                                                                    columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("#=IsActive ? 'Active': 'InActive'#").Filterable(filter => filter.Messages(message => message.IsFalse("InActive").IsTrue("Active")));

                                                                                                                                                                                                                    if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                                                    {
                                                                                                                                                                                                                        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(60);
                                                                                                                                                                                                                    }
                                                                                                                                                                                                                    else
                                                                                                                                                                                                                    {

                                                                                                                                                                                                                    }
                                                                                                                                                                                                                })
                                                                                                                                                                                                                .ClientDetailTemplateId("userstemplate")
                                                                                                                                                                                                                .Events(ev => ev
                                                                                                                                                                                                                .Remove(@"function(e){setTimeout(function(){$('#roleGrid').data('kendoGrid').dataSource.sync()})}")
                                                                                                                                                                                                                .DataBound("setcolor")
                                                                                                                                                                                                                )
                                                                                                                                                                                                                .AutoBind(false)
                                                                                                                                                                                                                .Pageable()
                                                                                                                                                                                                                .Sortable()
                  .Groupable()
                                  .ToolBar(toolbar => toolbar.Template(@<text><label>Status:</label>
                                    @(Html.Kendo().DropDownList()
                                                                                                                                                                                                         .Name("RoleStatus")
                                                                                                                                                                                                         .BindTo(new List<SelectListItem>()
                                                                                                                                                                                                {
                                                                                                                                new SelectListItem() {
                                                                                                                                       Text = "Active", Value = "Active"
                                                                                                                                 },
                                                                                                                                 new SelectListItem() {
                                                                                                                                        Text = "InActive", Value = "InActive"
                                                                                                                                 },
                                                                                                                                 new SelectListItem()
                                                                                                                                 {
                                                                                                                                        Text = "All", Value = "All"
                                                                                                                                  }
                                                                                                                                                                                                 })
                                                                                                                                                                                                            .Events(e =>
                                                                                                                                                                                                            {
                                                                                                                                                                                                              e.Select("RoleStatus_onSelect");
                                                                                                                                                                                                          })
                                            //.HtmlAttributes(new { style = "width: 20%" })
                                    )
                                    <a href="#" onclick="onClearFilter()" class="k-link k-button k-grid-filter" title="Clear Filter"><span class="k-icon k-i-filter-clear"></span></a>
                                </text>))
                                                                                                                                                                                                            .Filterable()
                                                                                                                                                                                                            .Scrollable()
                                                                                                                                                                                                            .HtmlAttributes(new { style = "height:750px;" })
                                                                                                                                                                                                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                                                                                                                                            .DataSource
                                                                                                                                                                                                            (
                                                                                                                                                                                                              dataSource => dataSource
                                                                                                                                                                                                              .Ajax()
                                                                                                                                                                                                              .Batch(true)
                                                                                                                                                                                                              .ServerOperation(false)
                                                                                                                                                                                                              .Model(m =>
                                                                                                                                                                                                              {
                                                                                                                                                                                                                  m.Id(o => o.RoleId);
                                                                                                                                                                                                                  m.Field("RoleName", typeof(string)).Editable(false);
                                                                                                                                                                                                                  m.Field("Description", typeof(string)).Editable(true);
                                                                                                                                                                                                                  m.Field("RoleId", typeof(int)).Editable(false);
                                                                                                                                                                                                                  if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                                                  {
                                                                                                                                                                                                                      m.Field("IsActive", typeof(bool)).Editable(true);
                                                                                                                                                                                                                  }
                                                                                                                                                                                                                  else
                                                                                                                                                                                                                  {
                                                                                                                                                                                                                      m.Field("IsActive", typeof(bool)).Editable(false);
                                                                                                                                                                                                                  }
                                                                                                                                                                                                              })
                                                                                                                                                                                                              .PageSize(20)
                                                                                                                                                                                                              .Read(read => read.Action("Role_Read", "UserRole").Data("getRoleIsActive"))
                                                                                                                                                                                                              .Update(update => update.Action("Role_Update", "UserRole").Data("getRoleIsActive"))
                                                                                                                                                                                                              .Events(events => events
                                                                                                                                                                                                                        .Sync("sync_handler")
                                                                                                                                                                                                                        .Error("error_handler")
                                                                                                                                                                                                                     )
                                                                                                                                                                                                            )
                                                                                                                                                                                                             .Events(events => events.DetailExpand("detailExpand"))
                                                                                                                                                                                                            .Resizable(resize => resize.Columns(true))

            )

            <input id="RoleIsactive" name="RoleIsactive" type="hidden" value="True" />
        </div>
    </div>
</div>

<script id="userstemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.UserViewModel>
                                                                                                                                   ()
                                                                                                                                                   .Name("roleUsers_#=RoleId#") // template expression, to be evaluated in the master context
                                                                                                                                    .Columns(columns =>
                                                                                                                                    {
                                                                                                                                        columns.Bound(p => p.SMSN.Name).Title("User").ClientTemplate("\\#=SMSN.Name\\#");
                                                                                                                                        columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("\\#=IsActive ? 'Active': 'InActive'\\#").Filterable(filter => filter.Messages(message => message.IsFalse("InActive").IsTrue("Active")));
                                                                                                                                        if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                        {
                                                                                                                                            columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(60);
                                                                                                                                        }
                                                                                                                                        else
                                                                                                                                        {

                                                                                                                                        }
                                                                                                                                    })
                                                                                                                                                                                                                .Pageable()
                                                                                                                                                                                                                .Sortable()
          .Groupable()
                                                                                                                                                                                                                .Filterable()
                                                                                                                                                                                                                //.Scrollable()
                                                                                                                                                                                                                .HtmlAttributes(new { style = "height:250px;" })
                                                                                                                                                                                                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                                                                                                                                                                      .DataSource
                                                                                                                                                                                                                                      (
                                                                                                                                                                                                                                      dataSource => dataSource
                                                                                                                                                                                                                                      .Ajax()
                                                                                                                                                                                                                                      .Batch(true)
                                                                                                                                                                                                                                      .ServerOperation(true)

                                                                                                                                                                                                                                      .Model(m =>
                                                                                                                                                                                                                                      {
                                                                                                                                                                                                                                          m.Id(o => o.UserId);
                                                                                                                                                                                                                                          if (HttpContext.Current.Session["userRoleId"].ToString() == "1")
                                                                                                                                                                                                                                          {
                                                                                                                                                                                                                                              m.Field(p => p.SMSN.Email).Editable(false);
                                                                                                                                                                                                                                              //m.Field(p => p.RoleId).DefaultValue(ViewData["defaultUserRoleId"]);
                                                                                                                                                                                                                                              m.Field("IsActive", typeof(bool)).Editable(false);
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                          else
                                                                                                                                                                                                                                          {
                                                                                                                                                                                                                                              m.Field(p => p.SMSN.Email).Editable(false);
                                                                                                                                                                                                                                              //m.Field(p => p.RoleId).DefaultValue(ViewData["defaultUserRoleId"]);
                                                                                                                                                                                                                                              m.Field("IsActive", typeof(bool)).Editable(false);
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                                      })
                                                                                                                                                                                                                                      .PageSize(5)
                                                                                                                                                                                                                                      .Read(read => read.Action("User_ReadByRoleId", "User", new { RoleId = "#=RoleId#" }))
                                                                                                                                                                                                                                      .Update(update => update.Action("User_UpdateByRoleId", "User", new { RoleId = "#=RoleId#" }))
                                                                                                                                                                                                                                      .Events(events => events
                                                                                                                                                                                                                                      .Sync("sync_handler")
                                                                                                                                                                                                                                      .Error("error_handler")
                                                                                                                                                                                                                                      )
                                                                                                                                                                                                                                      )
                                                                                                                                                                                                                                      .Resizable(resize => resize.Columns(true))                                                                                                                                         
                                                                                                                                          .ToClientTemplate()
    )
</script>
<script language="javascript">

    function OnRequestEnd_Grid(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            kendo.alert(message);
        }
    }
    function sync_handler(e) {
        this.read();
    }

    $(document).ready(function () {
        $("#RoleIsactive").val("True");
        $("#roleGrid").data("kendoGrid").dataSource.read();
    });
    function getRoleIsActive() {
        return {
            IsActive: $("#RoleIsactive").val()
        };
    }

    function RoleStatus_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'Active') {
                $("#RoleIsactive").val("True");
                $("#roleGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'InActive') {
                $("#RoleIsactive").val("False");
                $("#roleGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'All') {
                $("#RoleIsactive").val("All");
                $("#roleGrid").data("kendoGrid").dataSource.read();

            }

        }

    }

    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q == "") {
            $("#roleGrid").data("kendoGrid").dataSource.filter({});
        }
        else {
            var grid = $("#roleGrid").data("kendoGrid");
            var fieldfilters;
            if (isNaN(q)) {
                if (q.toLowerCase() == "active") {
                    q = "True";
                    fieldfilters = [
                        { field: "RoleName", operator: "contains", value: q },
                        { field: "Permissions", operator: "contains", value: q },
                        { field: "IsActive", operator: "eq", value: q }
                    ]     
                }
                else if (q.toLowerCase() == "inactive") {
                    q = "False";
                    fieldfilters = [
                        { field: "RoleName", operator: "contains", value: q },
                        { field: "Permissions", operator: "contains", value: q },
                        { field: "IsActive", operator: "eq", value: q }
                    ]                  
                }
                else {
                    fieldfilters = [
                        { field: "RoleName", operator: "contains", value: q },
                        { field: "Permissions", operator: "contains", value: q }
                    ]
                }
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: fieldfilters
                    }
                });
            }
            else {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "RoleId", operator: "eq", value: q },
                            { field: "RoleName", operator: "contains", value: q },
                            { field: "Permissions", operator: "contains", value: q }
                        ]
                    }
                });
            }

        }

    }

</script>
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }
</style>
<script type="text/javascript">
    var expandedRow;
    function detailExpand(e) {
        if (expandedRow != null && expandedRow[0] != e.masterRow[0]) {
            var grid = $('#roleGrid').data('kendoGrid');
            grid.collapseRow(expandedRow);
        }
        expandedRow = e.masterRow;
    }
</script>
<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }
</style>
<script>
    function setcolor() {
        var grid = $("#roleGrid").data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var dataItem = grid.dataItem(this);
            if (dataItem.IsActive == false) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
        });
    }
</script>
