﻿@{
	var userRoleId = HttpContext.Current.Session["userRoleId"].ToString();
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title - PM Application</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" defer />
	<link href="@Url.Content("~/Content/box-sizing-fixes.css")" rel="stylesheet" type="text/css" defer />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" defer />
	<link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" defer />
	<link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" defer />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
	<script src="https://kendo.cdn.telerik.com/2018.2.620/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.2.620/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
	<script src="@Url.Content("~/Scripts/pako.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>

</head>
<body>
	<div id="feedbackView" data-toggle="modal" data-target="#feedbackModal" aria-controls="feedbackForm" aria-haspopup="true" tabindex="0">
		<img src="@Url.Content("~/Images/feedback.png")" alt="Feedback" title="Feedback" />
	</div>
	<div class="page-container">
		<div class="col-lg-12 menudiv">
			<div class="col-sm-1">
				<a href="/"><img src="~/Images/pm-logo-2.png" class="img-responsive left-block" alt="logo" /></a>
			</div>
			<div class="col-sm-11 menuContent">
				<nav class="navbar  navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							@if (userRoleId != "0")
							{
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-tasks  glyphicon-menu" aria-hidden="true"></span> Dashboard </a>
									</li>
									<li class="dropdown">
										<a href="@Url.Action("Index", "Checklist")"><span class="glyphicon glyphicon-check  glyphicon-menu" aria-hidden="true"></span> Job Checklist </a>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt glyphicon-menu" aria-hidden="true"></span> Projects <span class="fa fa-caret-down"></span></a>
										<ul class="dropdown-menu">
											<li><a href="@Url.Action("Index","Projects", new {createJob = true})"><i class="fa fa-plus"></i> Add Project</a></li>
											<li><a href="@Url.Action("Index", "Projects")"><span class="glyphicon glyphicon-list-alt  glyphicon-menu" aria-hidden="true"></span> View All</a> </li>
											<li><a href="@Url.Action("Index", "Projects", new {jobSheetId = "account"})"><span class="glyphicon glyphicon-list-alt  glyphicon-menu" aria-hidden="true"></span> View By Account/SubAccount</a> </li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="@Url.Action("Index", "Credit")"><span class="fa fa-money-bill  glyphicon-menu" aria-hidden="true"></span> Credit </a>
									</li>
									@if (userRoleId != "4")
									{
										<li class="dropdown">
											<a href="@Url.Action("Index", "Reports")"><span class="fa fa-chart-line glyphicon-menu" aria-hidden="true"></span> Reports </a>
										</li>
									}
									@if (userRoleId == "1" || userRoleId == "2" || userRoleId == "3" || userRoleId == "7")
									{
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user glyphicon-menu" aria-hidden="true"></span> Admin<span class="fa fa-caret-down"></span></a>
											<ul class="dropdown-menu">
												@if (userRoleId == "1" || userRoleId == "2" || userRoleId == "7")
												{
													<li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-user  glyphicon-menu" aria-hidden="true"></span> Users</a> </li>
												}
												@if (userRoleId == "1")
												{
													<li><a href="@Url.Action("Index", "EmailTemplate")"><span class="glyphicon glyphicon-envelope  glyphicon-menu" aria-hidden="true"></span> Email Templates</a> </li>
													<li><a href="@Url.Action("Index", "ManageHelp")"><span class="glyphicon glyphicon-question-sign glyphicon-menu" aria-hidden="true"></span> Manage Help</a> </li>
													<li><a href="@Url.Action("Index", "EmailOutage")"><span class="glyphicon glyphicon-cog  glyphicon-menu" aria-hidden="true"></span> User Email Notification </a></li>
												}
												@if (userRoleId == "1" || userRoleId == "2")
												{
													<li><a href="@Url.Action("Index", "UserRole")"><span class="glyphicon glyphicon-edit  glyphicon-menu" aria-hidden="true"></span> User Roles </a></li>
													<li><a href="@Url.Action("Index", "ManagerPM")"><span class="glyphicon  glyphicon-tags  glyphicon-menu" aria-hidden="true"></span> Manager PM </a></li>
												}
												@if (userRoleId == "1" || userRoleId == "3")
												{
													<li> <a href="@Url.Action("Index", "DelegatePM")"><span class="glyphicon  glyphicon-bookmark  glyphicon-menu" aria-hidden="true"></span> Delegate PM </a></li>
												}
											</ul>
										</li>
									}
									<li><a href="@Url.Action("Index", "Help")"><span class="glyphicon glyphicon-question-sign glyphicon-menu" aria-hidden="true"></span> Help </a> </li>

								</ul>
								<ul class="nav navbar-nav navbar-right">
									@if (userRoleId == "1" || userRoleId == "5" || userRoleId == "6" || userRoleId == "7")
									{
										<li>
											@(Html.Kendo().DropDownList()
														  .Name("Company")
														  .DataTextField("CompanyName")
														  .DataValueField("Cono")
														  .OptionLabel("Search Company  ... ")
														  .Filter("Contains")
														  .DataSource(source =>
														  {
															  source.Read(read =>
															  {
																  read.Action("GetCompanyCreditUser", "Projects");
															  })
																  .ServerFiltering(true);
														  })
														  .Events(e =>
														  {
															  e.Select("CompanyName_OnSelect");
														  })
														  .HtmlAttributes(new { style = "width: 200px; margin-right: 5px;" }))
										</li>
									}
									@if (HttpContext.Current.Session["mainUserRoleId"].ToString() == "1")
									{
										<li>
											@(Html.Kendo().DropDownList()
																		  .Name("Roles")
																		  .DataTextField("RoleName")
																		  .DataValueField("RoleId")
																		  .OptionLabel("Select Role ... ")
																		  .Filter("Contains")
																		  .AutoBind(false)
																		  .DataSource(source =>
																		  {
																			  source.Read("GetUserRoles", "UserRole").ServerFiltering(true);
																		  })
																		  .HtmlAttributes(new { style = "width: 200px; margin-right: 5px;" }))
										</li>
										<li>
											@(Html.Kendo().DropDownList()
														  .Name("Users")
														  .DataTextField("SMSN.Name")
														  .DataValueField("UserId")
														  .OptionLabel("Impersonate a User")
														  .Filter("Contains")
														  .AutoBind(false)
														  .CascadeFrom("Roles")
														  .HtmlAttributes(new { style = "width: 200px" }))
										</li>
									}
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user glyphicon-page" aria-hidden="true"></span> @HttpContext.Current.Session["mainUserfirstNameLastName"].ToString() - @HttpContext.Current.Session["mainUserRole"].ToString()<span class="fa fa-caret-down"></span></a>
										<ul class="dropdown-menu">
											<li><label style="font-size: 12px; color: white; padding: 5px">Name: @HttpContext.Current.Session["mainUserfirstNameLastName"].ToString()</label></li>
											<li><label style="font-size: 12px; color: white; padding: 5px">Home Page: @HttpContext.Current.Session["mainUserHomepage"].ToString()</label></li>
											<li><label style="font-size: 12px; color: white; padding: 5px">Email Address : @HttpContext.Current.Session["mainUserName"].ToString()</label></li>
											<li><label style="font-size: 12px; color: white; padding: 5px">Role : @HttpContext.Current.Session["mainUserRole"].ToString()</label></li>
										</ul>
									</li>
								</ul>
							}
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
			<div class="col-lg-12">
				<div class="col-sm-4">
					<a id="home-button" style="padding-right: 8px;" onclick="MakeHomepage(window.location.pathname)">Make This My Homepage</a>
				</div>
				<div class="col-sm-4">
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-4">
					<div style="float: right;">
						Logged in as <label style="font-size: 12px; padding: 5px">@HttpContext.Current.Session["firstNameLastName"].ToString()</label> - <label style="font-size: 12px; padding: 5px">@HttpContext.Current.Session["userRole"].ToString()</label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 maindiv">
			<div class="container">
				<div class="clearfix"></div>
				@RenderBody()
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<div class="clearfix"></div>
				<div style="text-align: center; margin: 10px;">
					<p style="display: inline-block">Copyright &copy; @DateTime.Now.Year</p> <br />
					<div style="display: inline-block; padding-top: 10px; border-top: 1px solid darkgray">
						<p><a href="@Url.Action("Index","Help")">Help</a> | <a href="#">Training Videos</a> | <a href="#" onclick="$('#feedbackModal').modal('show')">Contact</a> | <a href="#">Support</a></p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div id="helpModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Help</h4>
				</div>
				<div class="modal-body" id="help-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="feedbackModal" class="modal fade" role="dialog">
		<form id="feedbackForm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" onclick="CloseFeedbackForm()" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
						<h4 class="modal-title">Feedback</h4>
					</div>
					<div class="modal-body">
						<div class="row" style="margin-bottom: 5px;">
							<div class="col-sm-6">
								<label class="control-label">First Name:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="firstname"></span></div>
								@(Html.Kendo().TextBox()
																	  .Name("firstname")
																	  .HtmlAttributes(new
																	  {
																		  placeholder = "John",
																		  required = "required",
																		  data_message = "First Name is required.",
																		  style = "width: 100%"
																	  })
													  .Value(HttpContext.Current.Session["firstNameLastName"].ToString().Split(' ')[0]))
							</div>
							<div class="col-sm-6">
								<label class="control-label">Last Name:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="lastname"></span></div>
								@(Html.Kendo().TextBox()
																			  .Name("lastname")
																			  .HtmlAttributes(new
																			  {
																				  placeholder = "Doe",
																				  required = "required",
																				  data_message = "Last Name is required.",
																				  style = "width: 100%"
																			  })
															  .Value(HttpContext.Current.Session["firstNameLastName"].ToString().Split(' ')[1]))
							</div>
						</div>
						<div class="row" style="margin-bottom: 5px;">
							<div class="col-sm-12">
								<label class="control-label">Email:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="email"></span></div>
								@(Html.Kendo().TextBox()
																			  .Name("email")
																			  .HtmlAttributes(new
																			  {
																				  placeholder = "jdoe@example.com",
																				  required = "required",
																				  data_message = "Email is required.",
																				  style = "width: 100%"
																			  })
															  .Value(HttpContext.Current.Session["userName"].ToString()))
							</div>
						</div>
						<div class="row" style="margin-bottom: 5px;">
							<div class="col-sm-6">
								<label class="control-label">Topic:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="topic"></span></div>
								@(Html.Kendo().DropDownList().Name("topic").HtmlAttributes(new
									{
										style = "width: 100%",
										required = "required",
										data_message = "Topic is required."
									})
																	  .OptionLabel("Please select a Topic...")
																	  .Items(it =>
																	  {
																		  it.Add().Text("Technical").Value("Technical");
																		  it.Add().Text("Project").Value("Project");
																		  it.Add().Text("Navigation").Value("Navigation");
																		  it.Add().Text("Feedback").Value("Feedback");
																	  })
																	  .Events(ev =>
																	  {
																		  ev.Close("topicChanged");
																	  }))
							</div>
							<div class="col-sm-6">
								<label class="control-label">Sub Topic:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="subtopic"></span></div>
								@(Html.Kendo().DropDownList().Name("subtopic").HtmlAttributes(new
									{
										style = "width: 100%",
										required = "required",
										data_message = "Sub Topic is required."
									})
																	  .OptionLabel("Please select a Sub Topic..."))
							</div>
						</div>
						<div class="row" style="margin-bottom: 5px;">
							<div class="col-sm-12">
								<label class="control-label">Attachment:</label>
								@(Html.Kendo().Upload().Name("attachment").Multiple(false))
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label">Feedback:<sup style="color:red">*</sup></label>
								<div style="float:right"><span class="k-invalid-msg" data-for="feedback"></span></div>
								@(Html.TextArea("feedback", "", new
									{
										@class = "k-textbox",
										style = "width: 100%; height: 150px; padding-left: 10px; padding-right: 10px; resize: none;",
										placeholder = "Please provide as much information as possible.",
										required = "required",
										data_message = "Feedback is required."
									}))
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-lg-12 feedback-sent" style="display: none; color: white; background-color: green; text-align: center"><p>Feedback Sent!</p></div>
						<div class="col-lg-12 feedback-error" style="display: none; color: white; background-color: red; text-align: center"><p>Unknown error occurred.</p></div>
						<div class="col-lg-12" style="height: 10px;"></div>
						<button type="submit" class="btn btn-primary feedback-submit">Send</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<style>
		.message-center-alert {
			font-size: 22px;
		}

		.alert-item {
			font-size: 12px;
			color: white;
			/*padding: 5px;*/
		}

		.alert-link {
			color: #fff !important;
			font-size: 12px !important;
			padding: unset !important;
			cursor: pointer !important;
			text-decoration: underline !important;
		}

			.alert-link:hover {
				text-shadow: 0px 0px 10px #fff;
			}

		#alert-dropdown {
			padding: 10px !important;
		}

		.alert-spacer:not(:last-child) {
			border-bottom: 2px solid white;
			margin-bottom: 5px;
		}

		.alert-spacer {
			min-height: 60px;
		}

		.k-tooltip-validation {
			color: red !important;
			background-color: transparent !important;
			border: none !important;
		}

		.glyphicon.slow-left-spinner {
			-webkit-animation: glyphicon-spin-l 3s infinite linear;
			-ms-animation: glyphicon-spin-l 3s infinite linear;
			animation: glyphicon-spin-l 3s infinite linear;
		}
	</style>
	<script type="text/javascript">
        function SetCoNo(coNo) {
            $.ajax({
                    url: '@Url.Action("SetVariable", "Home")',
                    type: "Post",
                    data: { Value: coNo },
                    success: function (response) {
                         location.reload();
                    }
                });
		}

    function CompanyName_OnSelect(e) {
        if (e.item) {
            const dataItem = this.dataItem(e.item);
            const CompanyName = dataItem.CompanyName;
            const coNo = dataItem.Cono;
            if (coNo !== "") {
	            SetCoNo(coNo);
            }
        }

    }

    var validator = $("#feedbackForm").kendoValidator({
        messages: {
            required: function(input) {
                return input.data("message");
            },
            custom: function (input) {
                return input.val() + " is not a valid email.";
            }
        },
        rules: {
            custom: function (input) {
                if (input.attr("name") == "email") {
	                const re = /^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
	                return re.test(input.val());
                }
                return true;
            }
        }
    }).data("kendoValidator");

    function topicChanged() {
        const selected = $("#topic").val();
        const subTopic = $("#subtopic").data("kendoDropDownList");
        switch (selected) {
            case "Technical":
            {
                var data = new kendo.data.DataSource({
                    data: ["Filtering doesn't work as expected", "Website look / interface" ]
                    });
                subTopic.setDataSource(data);
                break;
            }

            case "Project":
                {
                    var data = new kendo.data.DataSource({
                        data: ["Missing project","Issue with project","Missing/incorrect information","Other" ]
                    });
                    subTopic.setDataSource(data);
                    break;
                }

            case "Navigation":
                {
                    var data = new kendo.data.DataSource({
                        data: ["Issue with search" ]
                    });
                    subTopic.setDataSource(data);
                    break;
                }

            case "Feedback":
                {
                    var data = new kendo.data.DataSource({
                        data: ["Suggestion","Additions to feedback form" ]
                    });
                    subTopic.setDataSource(data);
                    break;
                }

            default:
            {
                var data = new kendo.data.DataSource();
                subTopic.setDataSource(data);
                break;
            }
        }
    }

    $("#feedbackForm").submit(function(event) {
        event.preventDefault();
        if (validator.validate()) {
            $(".feedback-submit").html('<i class="fa fa-spinner fa-spin"></i> Loading...');
            const formData = new FormData($("#feedbackForm")[0]);
            formData.append("url", window.location.href);
            formData.append("browser", navigator.userAgent);
            $.ajax({
                url: "@Url.Action("SendFeedback", "Home")",
                data: formData,
                type: "POST",
                enctype: 'multipart/form-data',
                processData: false, // Important!
                contentType: false,
                cache: false,
                success: function(e) {
                    if (e === "Done") {
                        $(".feedback-sent").show();
                        $(".feedback-submit").html('Send');
                        $("#feedbackModal").delay(1000).fadeOut('slow');
                        setTimeout(function () {
                            $("#feedbackModal").modal('hide');
                        }, 1500);
                    }
                },
                error: function (s, x, e) {
                    $(".feedback-error").show();
                    console.log(s);
                    console.log(x);
                    console.log(e);
                }
            });
        }
	});

    $("#feedbackModal").on("hidden.bs.modal", function () {
		CloseFeedbackForm();
	});

    function currentHomepage(isHome) {
        $("#home-button").html("Current Homepage");
        $("#home-button").changeElementType("label");
        $("#home-button").removeAttr("onClick");
        if (isHome) {
            $("#home-button").after("<a href=\"#\" onClick=\"unsetHomepage()\" style=\"font-size: .75em\">Disable</a>");
        }
    }

    $(document).ready(function () {
		topicChanged();
		
        $('#txtSearchString').keyup(function (event) {
	        const keycode = (event.keyCode ? event.keyCode : event.which);
	        if (keycode == '13') {
                onSearch();
            }
		});

        const userHomepage = "@HttpContext.Current.Session["userHomepage"].ToString()";

        if (window.location.pathname === userHomepage) {
            currentHomepage(true);
        } else if (userHomepage === "" && window.location.pathname === "/Home") {
            currentHomepage(false);
        }

        $("#Roles").change(function () {
            var ddl = $('#Users').data("kendoDropDownList");
            const Id = $("#Roles").val();
            $.ajax({
                url: '@Url.Action("GetUsersByRole", "User")',
                type: "Post",
                data: { RoleId: Id },
                success: function (listItems) {
                    ddl.setDataSource(listItems);
                }
            });
        });

        $("#Users").change(function () {
	        const Id = $("#Users").val();
	        if (Id == "") {
                kendo.alert("Please select the user");
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetUserDetails", "User")',
                    type: "Post",
                    data: { UserId: Id },
                    success: function (response) {
                        if (response.redirecturl == "") {

                        }
                        else {
                            //window.location.href = response.redirecturl;
                            location.reload();
                        }
                    }
                });
            }
        });
    });

    function MakeHomepage(theURL) {
            $.ajax({
                url: "@Url.Action("SetHomepage", "Home")",
                data: theURL,
                type: "POST",
                success: function (e) {
                    const page = theURL.split("/")[1];
                    kendo.alert("\"" +
                        page +
                        "\" is now your homepage. You will see it first upon subsequent visits to the site. You can change this at any time.");
                    currentHomepage(true);
                },
                error: function(xhr, status, error) {
                    console.log("Error");
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                }
            });
    }

    function unsetHomepage() {
        var theURL = window.location.pathname;
        var page = theURL.split("/")[1];
        kendo.confirm("Are you sure you want to remove \"" + page + "\" as your homepage?").then(function () {
            $.ajax({
                url: "@Url.Action("RemoveHomepage", "Home")",
                data: theURL,
                type: "POST",
                success: function (e) {
                    kendo.alert("\"" +
                        page +
                        "\" has been removed as your homepage. You will now see the Dashboard upon subsequent visits to the site. You can change this at any time.");
                    $("#home-button").changeElementType("a");
                    $("#home-button").attr("onClick", "MakeHomepage(window.location.pathname)");
                    $("#home-button").html("Make This My Homepage");
                    $("#home-button").next().remove();
                },
                error: function (xhr, status, error) {
                    console.log("Error");
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                }
            });
        });
    }

    function LoadHelpFile() {
	    const pageName = window.location.pathname.split("/")[1];
	    $.ajax({
            type: "GET",
            url: "@Url.Action("GetHelpDescription", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { PageName: pageName },
            success: function (response) {
                if (response != null) {
                    $("#help-body").html(response[0].Description);
                    $("#helpModal").modal('show');
                } else {
                    kendo.alert("Something went wrong");
                }
            },
            failure: function (response) {
                kendo.alert(response.responseText);
            },
            error: function (response) {
                kendo.alert(response.responseText);
            }
        });
        };

    function CloseFeedbackForm(e) {
        $('#feedbackForm')[0].reset();
        validator.hideMessages();
        $(".feedback-sent").hide();
    }

        (function ($) {
	        $.fn.changeElementType = function(newType) {
		        var attrs = {};

		        $.each(this[0].attributes, function(idx, attr) {
			        attrs[attr.nodeName] = attr.nodeValue;
		        });

		        this.replaceWith(function() {
			        return $("<" + newType + "/>", attrs).append($(this).contents());
		        });
	        };
        })(jQuery);
	</script>

	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>
</html>
