﻿@(Html.Kendo().Grid<PM_Website.Models.DashbordJobStatusViewModel>()
      .Name("jobList")
      .Columns(columns =>
      {
          columns.Bound(p => p.JobSheetId).Visible(false);
          columns.Bound(p => p.JobSheetName).Title("Project Name").ClientTemplate("<a style=\"cursor:pointer;color:DodgerBlue\" href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Checklist\">#=jobName#</a>");
          columns.Bound(p => p.AccountName).Title("Account").ClientTemplate("#=AccountNumber# : #=AccountName#");
          columns.Bound(p => p.JobOrShipToNumber).Title("SubAccount/ShipTo").ClientTemplate("#=ShipToName#");
          //Added role Admin,Manager and PM can edit checklist
          if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "2" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
          {
              columns.Bound(p => p.submittedToContractor).Title("Submitted To Contractor").ClientTemplate("<input id='submittedToContractor' type='checkbox' class='switchBox' #if(submittedToContractor){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Submitted to Contractor</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.returnedFromContractor).Title("Returned from Contractor").ClientTemplate("<input id='returnedFromContractor' type='checkbox' class='switchBox' #if(returnedFromContractor){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Returned from Contractor</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.voltageVerified).Title("Voltage Verified").ClientTemplate("<input id='voltageVerified-#=JobSheetId#' type='checkbox' class='switchBox' #if(voltageVerified){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Voltage Verified</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.submittedToCredit).Title("Submitted To Credit").ClientTemplate("<input id='submittedToCredit' type='checkbox' class='switchBox' #if(submittedToCredit){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Submitted to Credit</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
          }
          else
          {
              columns.Bound(p => p.submittedToContractor).Title("Submitted To Contractor").ClientTemplate("<input id='submittedToContractor' type='checkbox' class='switchBox' disabled='disabled' #if(submittedToContractor){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Submitted to Contractor</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.returnedFromContractor).Title("Returned from Contractor").ClientTemplate("<input id='returnedFromContractor' type='checkbox' class='switchBox' disabled='disabled' #if(returnedFromContractor){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Returned from Contractor</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.voltageVerified).Title("Voltage Verified").ClientTemplate("<input id='voltageVerified'   type='checkbox' class='switchBox' disabled='disabled' #if(voltageVerified){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Voltage Verified</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
              columns.Bound(p => p.submittedToCredit).Title("Submitted To Credit").ClientTemplate("<input id='submittedToCredit' type='checkbox' class='switchBox' disabled='disabled' #if(submittedToCredit){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Submitted to Credit</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
          }
          columns.Bound(p => p.rejectedByCredit).Title("Returned By Credit").ClientTemplate("<input id='rejectedByCredit' type='checkbox' class='switchBox' disabled='disabled' #if(rejectedByCredit){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Returned By Credit</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
          columns.Bound(p => p.approvedByCredit).Title("Approved By Credit").ClientTemplate("<input id='approvedByCredit' type='checkbox' class='switchBox' disabled='disabled' #if(approvedByCredit){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Approved By Credit</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
          columns.Bound(p => p.ordersCreated).Title("Orders Created").ClientTemplate("<input id='ordersCreated'  type='checkbox' class='switchBox' disabled='disabled' #if(ordersCreated){#checked#}# />").HeaderTemplate("<span class=\"verticalText\">Orders Created</span>").Width(80).Filterable(filter => filter.Messages(message => message.IsFalse("Rejected").IsTrue("Approved"))).Sortable(true);
      })
      .Pageable()
      .Sortable()
      .Scrollable()
      .Filterable()
      .PersistSelection()
      .AutoBind(false)
      .Events(ev=>ev.DataBound("dataBound"))
      .HtmlAttributes(new { style = "height:770px;" })
      .DataSource
      (
          dataSource => dataSource
              .Ajax()
              .Batch(true)
              .ServerOperation(true)
              .Sort(sort => sort.Add("JobSheetName").Ascending())
              .Model(m =>
              {
                  m.Id(o => o.JobSheetId);
              })
              .PageSize(20)
              .Read(read => read.Action("GetJobSheetStatus", "Home"))
          ))

<div id="loadingDiv" class="loading">Loading&#8230;</div>

<script>
    var lastVV;

    function cancelVV() {
        if (lastVV !== undefined) {
            lastVV.data("kendoMobileSwitch").toggle();
            lastVV = undefined;
        }
    }

    function oncheckBox(jobid, status, chk) {
        $(".loading").show();
        $.ajax({
            type: "GET",
            url: "@Url.Action("UpdateStatusById", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { JobSheetId: jobid, Status: status, Checked: chk },
            success: function (response) {
                if (response === 'True') {
                    $(".loading").hide();
                }
                else if (response === 'False') {
                    $(".loading").hide();
                }
                else if (response === 'NotVerified') {
                    $(".loading").hide();
                }
            },
            failure: function (response) {
                kendo.alert("failure");
                $(".loading").hide();
            },
            error: function (response) {
                kendo.alert("error");
                $(".loading").hide();
            }
        });

    }

    function checklistMouseover(e) {
        var title = $(e).find('span').attr('title');
        $(e).find('p').text(title).css("display", "block");
    }

    function checklistMouseout(e) {
        $(e).find('p').css("display", "none");
    }

    function verifyVoltage(jobSheetId, checked) {
        if (checked) {
            $("#id").val(jobSheetId);
            $("#VerifiedVoltageVal").val(true);
            $('#VerifiedVoltageModel').modal('show');
        }
        else if (checked === false) {
            var JobSheetViewModel = new Object();
            JobSheetViewModel.id = jobSheetId;
            JobSheetViewModel.VerifiedVoltageVal = false;
            kendo.confirm("Are you Sure you want to update Voltage Verified.").then(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VerifiedVoltage_Update", "Projects")",
                    data: JSON.stringify(JobSheetViewModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                    },
                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            }, function () {

            });
        }
    }

    function dataBound(e) {
        $.each(this.tbody.find(".switchBox"), function(a, b) {
            $(b).kendoMobileSwitch({
                onLabel: "YES",
                offLabel: "NO",
                change: function(x) {
                    var grid = $("#jobList").data("kendoGrid");
                    var dataItem = grid.dataItem($(b).closest("tr"));

                    var column = $(b).closest("input").attr("id");

                    switch (column.split("-")[0]) {
                    case "submittedToContractor":
                        oncheckBox(dataItem.JobSheetId, "Submitted To Engineer", x.checked);
                        break;

                    case "returnedFromContractor":
                        oncheckBox(dataItem.JobSheetId, "Returned By Engineer", x.checked);
                        break;

                    case "voltageVerified":
                        lastVV = $("#" + column);
                        verifyVoltage(dataItem.JobSheetId, x.checked);
                        break;

                    case "submittedToCredit":
                        oncheckBox(dataItem.JobSheetId, "Submitted To Credit", x.checked);
                        break;

                    default:
                        break;
                    }
                }
            });
        });
    }
</script>

<style>
    .mastertooltip {
        display: none;
        position: absolute;
        border: 1px solid #19468d;
        background-color: #19468d;
        border-radius: 5px;
        padding: 10px;
        color: #fff !important;
    }

    #jobList .k-grid-header .k-header .verticalText {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        transform: translate(0,100%) rotate(-90deg);
        transform-origin: 0 0;
        position: absolute;
        top: 140px;
        float:left;
    }

    #jobList .k-grid-header .k-header {
        height: 150px !important;
    }

    #jobList .k-grid-filter{
        float:right;
    }

    .k-switch {
        border-radius: 5px;
        cursor: pointer;
    }

    .k-switch-off .k-switch-handle {
        background-color: red;
        margin: 0;
    }

    .k-switch-on .k-switch-handle {
        background-color: #19468d;
        margin: 0;
    }

    .k-state-disabled {
        opacity: unset;
        color: unset;
    }
</style>
