﻿@model PM_Website.Models.VerifyVoltageModel
<div class="container">
    <form id="VVForm">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Voltage Verification required?</label>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="form-group">
                    <input type="radio" name="VerifiedVoltageReq" checked="checked" id="VoltageReqYes" value="1"> Yes
                    <input type="radio" name="VerifiedVoltageReq" id="VoltageReqNo" value="0"> No
                    <input id="IsVerifiedVoltageReq" name="IsVerifiedVoltageReq" type="hidden" value="True" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <input class="form-control" id="id" name="id" value="" type="hidden" />
                    <input class="form-control" id="VerifiedVoltageVal" name="VerifiedVoltageVal" value="" type="hidden" />
                    <label class="control-label"><span id="spanReqVerifiedVoltageDoc" class="required"></span>What means of documentation did you receive to Verify?</label>
                    @(Html.Kendo().DropDownList()
                          .Name("VerifiedVoltageDoc1")
                          .BindTo(new List<SelectListItem>()
                          {
                              new SelectListItem()
                              {
                                  Text = "None",
                                  Value = "None"
                              },
                              new SelectListItem()
                              {
                                  Text = "Email",
                                  Value = "Email"
                              },
                              new SelectListItem()
                              {
                                  Text = "PO",
                                  Value = "PO"
                              },
                              new SelectListItem()
                              {
                                  Text = "Submittal Verification",
                                  Value = "Submittal Verification"
                              },
                              new SelectListItem()
                              {
                                  Text = "Text Message",
                                  Value = "Text Message"
                              }
                          })
                          .HtmlAttributes(new { style = "width: 100%" })
                          .Value("")
                          )
                    <br />
                    <span id="ReqVerifiedVoltageDoc" class="reqError"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label class="control-label"><span id="spanReqVerifiedVoltageWhom" class="required"></span>From Whom?</label>
                    @Html.TextBox("VerifiedVoltageWhom1", "", new { @class = "form-control" })
                    <span id="ReqVerifiedVoltageWhom" class="reqError"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="form-group">
                    <label class="control-label"><span  id="spanRequploadedFiles" class="required"></span>Files to Upload?</label>
                    <br>
                    <div class="fileUpload btn btn-primary">
                        <span>Browse</span>
                        <input type="file" id="uploadedFiles" name="uploadedFiles" class="upload vv-upload" />
                    </div>
                    <span id="uploadedText">Please select a file...</span><br />
                    <span id="RequploadedFiles" class="reqError"></span>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelVV()">Cancel</button>
            @if (HttpContext.Current.Session["userRoleId"].ToString() != "8")
            {
                <button type="button" id="submit-vv" value="Create" class="btn btn-primary">Verify</button>
            }
        </div>
    </form>
</div>

<script>
    $('input[type=radio][name=VerifiedVoltageReq]').change(function () {
        if (this.value === '1') {
            $("#IsVerifiedVoltageReq").val("True");
            $("#spanReqVerifiedVoltageDoc").html("*");
            $("#spanReqVerifiedVoltageWhom").html("*");
            $("#spanRequploadedFiles").html("*");
        }
        else if (this.value === '0') {
            $("#IsVerifiedVoltageReq").val("False");
            $("#spanReqVerifiedVoltageDoc").html("");
            $("#spanReqVerifiedVoltageWhom").html("");
            $("#spanRequploadedFiles").html("");
            $("#ReqVerifiedVoltageDoc").html("");
            $("#RequploadedFiles").html("");
            $("#ReqVerifiedVoltageWhom").html("");
          
        }
    });

    function checkReqFields() {
        var returnValue;
        var VerifiedVoltageDoc = $("#VerifiedVoltageDoc1").data("kendoDropDownList").text();
        var uploadedFiles = $('#uploadedFiles').val();
        var VerifiedVoltageWhom1 = $("#VerifiedVoltageWhom1").val();

        returnValue = true;
        if (VerifiedVoltageDoc.trim() === "None") {
            $("#ReqVerifiedVoltageDoc").html("Please Select Voltage Verified documentation.");
            $("#spanReqVerifiedVoltageDoc").html("*");
            returnValue = false;
        }
        else {
            $("#ReqVerifiedVoltageDoc").html("");
            $("#spanReqVerifiedVoltageDoc").html("");
            returnValue = true;
        }
        if (uploadedFiles.trim() === "") {
            $("#RequploadedFiles").html("Please Select Voltage Verified documentation file");
            $("#spanRequploadedFiles").html("*");
            returnValue = false;
        }
        else {
            $("#RequploadedFiles").html("");
            $("#spanRequploadedFiles").html("");
            returnValue = true;
        }
        if (VerifiedVoltageWhom1.trim() === "") {
            $("#ReqVerifiedVoltageWhom").html("Please Enter From Whom?");
            $("#spanReqVerifiedVoltageWhom").html("*");
            returnValue = false;
        }
        else {
            $("#ReqVerifiedVoltageWhom").html("");
            $("#spanReqVerifiedVoltageWhom").html("");
            returnValue = true;
        }
        return returnValue;
    }

    var clickedCheck;

    var didSave = false;

    $(document).ready(function (e) {
        $("#IsVerifiedVoltageReq").val("True");

        $("#ReqVerifiedVoltageDoc").html("");
        $("#RequploadedFiles").html("");
        $("#ReqVerifiedVoltageWhom").html("");

        $("#spanReqVerifiedVoltageDoc").html("*");
        $("#spanReqVerifiedVoltageWhom").html("*");
        $("#spanRequploadedFiles").html("*");
        $(".vv-upload").on('change', function (e) {
            var fileName = $(this).val().split("\\")[$(this).val().split("\\").length - 1];
            $("#uploadedText").html(fileName);
        });

        $("#submit-vv").click(function (e) {
            didSave = true;
            var formData = new FormData($("#VVForm")[0]);
            console.log(formData);
            if ($("#VoltageReqYes").checked == true) {
                var validate = checkReqFields();
                if (validate == true) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("VerifiedVoltage_Update", "Home")",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response != null) {
                                $("#VerifiedVoltageModel").modal('hide');
                                $("#VVForm")[0].reset();
                                $("#uploadedText").html("Please select a file...");
                                $("#jobList").data("kendoGrid").dataSource.read();
                            }
                        },
                        failure: function (response) {
                            console.log("Fail");
                            console.log(response);
                        },
                        error: function (response) {
                            console.log("Error");
                            console.log(response);
                        }
                    });
                } 
            }
            else if ($("#VoltageReqNo").checked == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VerifiedVoltage_Update", "Home")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response != null) {
                            $("#VerifiedVoltageModel").modal('hide');
                            $("#VVForm")[0].reset();
                            $("#uploadedText").html("Please select a file...");
                            $("#jobList").data("kendoGrid").dataSource.read();
                        }
                    },
                    failure: function (response) {
                        console.log("Fail");
                        console.log(response);
                    },
                    error: function (response) {
                        console.log("Error");
                        console.log(response);
                    }
                });
            }
        });
    });

    function cancelVV() {
        $("#ReqVerifiedVoltageDoc").html("");
        $("#RequploadedFiles").html("");
        $("#ReqVerifiedVoltageWhom").html("");
    }
   
</script>

<style>
    .reqError {
        color: #ff0000; 
        font-size: 12px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        -ms-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>