﻿@{
    ViewBag.Title = "Access Denied";
}
<div class="row paddingtop" style="text-align:center">
    <h2>@ViewBag.Title</h2>

    <h3>Sorry - You do not have access to this Page. To gain access, please contact xxx@mingledorffs.com</h3>
</div>