﻿
@{
    ViewBag.Title = "Email Templates";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Content/codemirror.js"></script>
<link rel="stylesheet" href="~/Content/codemirror.css">
<script src="~/Content/addon/hint/show-hint.js"></script>
<script src="~/Content/addon/hint/html-hint.js"></script>
<script src="~/Content/addon/hint/xml-hint.js"></script>
<link rel="stylesheet" href="~/Content/addon/hint/show-hint.css">
<script src="~/Content/mode/xml/xml.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-envelope glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float: right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                              .Name("HelpWindow")
                              .Title("Help")
                              .Visible(false)
                              .Modal(true)
                              .Draggable(true)
                              .Width(630)
                              .Height(115)

                )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            @(Html.Kendo().Grid<PM_Website.Models.EmailTemplateGridViewModel>()
                          .Name("templateGrid")
                          .Columns(col =>
                          {
                              col.Bound(c => c.TemplateId).Title("").Width(30).ClientTemplate("<div style=\"cursor: pointer; text-align: center\" onclick=\"EditTemplate(#=TemplateId#)\" ><span class=\"fa fa-pencil-alt\"></span></div>").Sortable(false).Filterable(false);
                              col.Bound(c => c.TemplateName).Title("Template");
                              col.Bound(c => c.TemplateView).Title("View");
                          })
                          .HtmlAttributes(new { style = "height: 750px" })
                          .ToolBar(tb => tb.Template(@<text>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-4" style="float: right !important; margin-right: 20px !important;"><a onclick="CreateTemplate()" style="float: right; color: rgb(66, 139, 202)" class="k-link k-button k-button-icon" title="Add Template"><span class="k-icon k-i-plus"></span></a></div>
                            </div>
                        </text>))
                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            .Groupable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("GetAllTemplates", "EmailTemplate"))
                                .PageSize(20))
            )
        </div>
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
</div>


<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Template</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="template-name">Template Name: </label>
                                    <input class="form-control" type="text" id="template-name" value=""/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="template-view">Template View: </label>
                                    @(Html.Kendo().DropDownList()
                                          .Name("template-view")
                                          .DataTextField("SubscriptionTypeName")
                                          .OptionLabel("Select A Subscription Type")
                                          .DataValueField("SubsciptionTypeId")
                                          .HtmlAttributes(new {style = "width: 100%"})
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetSubscriptionTypes", "EmailTemplate");
                                              });
                                          })
                                          .Events(ev =>
                                          {
                                              ev.Change("selectedSub");
                                          }))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="template-subject">Subject: </label>
                                    <input class="form-control" type="text" id="template-subject" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="templateEditor">Body: </label>
                                    <textarea id="templateEditor" style="width: 100%; height: 100%;"> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info test-template" style="float: left">Test</button>
                <button type="button" class="btn btn-primary save-template">Save</button>
                <button type="button" class="btn btn-secondary delete-template">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Template?</h4>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center">Are you sure you want to delete this template?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirm-delete">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<style>
    .CodeMirror-hints, .CodeMirror-hint, .CodeMirror-hint-active {
        z-index: 2147483647 !important;
    }

    .CodeMirror {
        /* Bootstrap Settings */
        box-sizing: border-box;
        margin: 0;
        font: inherit;
        overflow: auto;
        font-family: inherit;
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        /* Code Mirror Settings */
        font-family: monospace;
        position: relative;
        overflow: hidden;
    }

    .CodeMirror-focused {
        /* Bootstrap Settings */
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<script>
    var modelAutocomplete;
    var options = {
        hint: function () {
            return {
                from: codeMirror.getDoc().getCursor(),
                to: codeMirror.getDoc().getCursor(),
                list: []
            }
        }
    };
    modelAutocomplete = options;

    function selectedSub(e) {
        var ddText = $("#template-view").data("kendoDropDownList").text();
        $.ajax({
            url: "@Url.Action("GetSubscriptionPropertyNames", "EmailTemplate")",
            type: "GET",
            data: { SubscriptionName: ddText },
            success: function (e) {
                var options = {
                    hint: function () {
                        return {
                            from: codeMirror.getDoc().getCursor(),
                            to: codeMirror.getDoc().getCursor(),
                            list: e
                        }
                    }
                };
                modelAutocomplete = options;
            },
            error: function (x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
            }
        });
    }

    var codeMirror = CodeMirror.fromTextArea(document.getElementById("templateEditor"),
        {
            mode: "text/html",
            lineNumbers: true
        });
    codeMirror.on('keyup',
        function (e, c) {
            if (c.key === "@@") {
                codeMirror.showHint(modelAutocomplete);
            }
            if (c.key === "<") {
                codeMirror.showHint(codeMirror.autocomplete);
            }
        });

    $("#editModal").on('shown.bs.modal', function () {
        codeMirror.refresh();
    });

    $(".delete-template").click(function() {
        var templateId = $(".save-template").attr("id");

        if (templateId !== undefined) {
            $("#confirmModal").modal('show');
        }
    });

    $(".confirm-delete").click(function () {
        var templateId = $(".save-template").attr("id");
        $.ajax({
            url: "@Url.Action("DeleteEmailTemplate", "EmailTemplate")",
            type: "POST",
            data: { templateId: templateId },
            success: function (e) {
                if (e == "Success") {
                    $("#templateGrid").data("kendoGrid").dataSource.read();
                    
                    $("#confirmModal").modal('hide');
                    $("#editModal").modal('hide');
                } else {
                    console.log(e);
                }
            },
            error: function (x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
            }
        });
    });

    $(".test-template").click(function() {
        var templateId = $(".save-template").attr("id");

        $.ajax({
            url: "@Url.Action("TestEmailTemplate", "EmailTemplate")",
            type: "POST",
            data: { templateId: templateId },
            success: function(e) {
                if (e === "yes") {
                    kendo.alert("Test Success");
                } else {
                    kendo.alert("Test Failed");
                }
            },
            error: function(x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
            }
        });
    });

    $(".save-template").click(function (e) {
        var templateId = $(this).attr("id");
        var templateName = $("#template-name").val();
        var templateSubject = $("#template-subject").val();
        var templateBody = codeMirror.getValue();
        var subscriptionType = $("#template-view").data("kendoDropDownList").value();
        
        if (templateId !== undefined) {
            $.ajax({
                url: "@Url.Action("SaveEmailTemplate", "EmailTemplate")",
                type: "POST",
                data: { templateId: templateId, templateValue: templateBody, templateName: templateName, subscriptionType: subscriptionType, templateSubject: templateSubject },
                success: function (e) {
                    if (e == "Success") {
                        $("#editModal").modal('hide');
                        $("#templateGrid").data("kendoGrid").dataSource.read();
                    } else {
                        console.log(e);
                    }
                },
                error: function (x, s, e) {
                    console.log(x);
                    console.log(s);
                    console.log(e);
                }
            });
        } else {
            $.ajax({
                url: "@Url.Action("CreateEmailTemplate", "EmailTemplate")",
                type: "POST",
                data: { templateValue: templateBody, templateName: templateName, subscriptionType: subscriptionType, templateSubject: templateSubject },
                success: function (e) {
                    if (e == "Success") {
                        $("#editModal").modal('hide');
                        $("#templateGrid").data("kendoGrid").dataSource.read();
                    } else {
                        console.log(e);
                    }
                },
                error: function (x, s, e) {
                    console.log(x);
                    console.log(s);
                    console.log(e);
                }
            });
        }
    });

    function CreateTemplate() {
        $(".modal-title").html("Create Template");
        $.ajax({
            url: "@Url.Action("GetSubscriptionTypes", "EmailTemplate")",
            type: "GET",
            data: {
                currentId: 0
            },
            success: function(e) {
                 $("#template-view").data("kendoDropDownList").setDataSource(new kendo.data.DataSource({ data: e }));
                 $("#template-view").data("kendoDropDownList").select(0);
                 $("#template-name").val("");
                 $("#template-subject").val("");
                 codeMirror.setValue("");
                 $(".save-template").removeAttr("id");
                 $("#editModal").modal();
            },
            error: function (e) {
                $("#template-view").data("kendoDropDownList").select(0);
                $("#template-name").val("");
                $("#template-subject").val("");
                codeMirror.setValue("");
                $(".save-template").removeAttr("id");
                $("#editModal").modal();
            }
        });
    }

    function EditTemplate(templateId) {
        var dropdownlist = $("#template-view").data("kendoDropDownList");

        $.ajax({ url: "@Url.Action("GetSubscriptionTypes", "EmailTemplate")", type: "GET", success: function(e) { console.log(e) } });

        $(".modal-title").html("Edit Template");
        $(".save-template").attr("id", templateId);
        $.ajax({
            url: "@Url.Action("GetEmailTemplate", "EmailTemplate")",
            type: "POST",
            data: { templateId: templateId },
            success: function (e) {
                $.ajax({
                    url: "@Url.Action("GetSubscriptionTypes", "EmailTemplate")",
                    type: "GET",
                    data: {
                         currentId: e.SubscriptionId
                    },
                    success: function(ex) {
                        $("#template-view").data("kendoDropDownList").setDataSource(new kendo.data.DataSource({ data: ex }))
                        var options = {
                            hint: function () {
                                return {
                                    from: codeMirror.getDoc().getCursor(),
                                    to: codeMirror.getDoc().getCursor(),
                                    list: e.ModelValues
                                }
                            }
                        };

                        modelAutocomplete = options;

                        $("#template-name").val(e.TemplateName);
                        $("#template-subject").val(e.TemplateSubject);
                        dropdownlist.select(function (dI) {
                            return dI.SubscriptionTypeName === e.SubscriptionName;
                        });
                        codeMirror.setValue(e.Template);
                        $("#editModal").modal();
                    },
                    error: function(ex) {
                        var options = {
                            hint: function () {
                                return {
                                    from: codeMirror.getDoc().getCursor(),
                                    to: codeMirror.getDoc().getCursor(),
                                    list: e.ModelValues
                                }
                            }
                        };

                        modelAutocomplete = options;

                        $("#template-name").val(e.TemplateName);
                        $("#template-subject").val(e.TemplateSubject);
                        dropdownlist.select(function (dI) {
                            return dI.SubscriptionTypeName === e.SubscriptionName;
                        });
                        codeMirror.setValue(e.Template);
                        $("#editModal").modal();
                    }
                });
                
            },
            error: function (x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
            }
        });
    }
</script>