﻿@{
    ViewBag.Title = "CreditView";
}
@model IQueryable<PM_Website.Models.JobSheetCreditViewModel>
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">

        <div class="col-sm-4">
            <div class="col"><span class="fa fa-money-bill glyphicon-menu-lg" aria-hidden="true"><h2> Credit Approvals</h2></span></div>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                                                                      .Name("HelpWindow")
                                                                      .Title("Help")
                                                                      .Visible(false)
                                                                      .Modal(true)
                                                                      .Draggable(true)
                                                                      .Width(630)
                                                                      .Height(115)

                )
            </div>
            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>

    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">
        <div class="col-xs-12">
            @(Html.Kendo().Grid(Model).Name("jobSheetCreditGrid")
                                                                                              .Columns(columns =>
                                                                                              {
                                                                                                  columns.Bound(p => p.JobSheetId).Visible(false);
                                                                                                  columns.Bound(p => p.Company).Visible(false);
                                                                                                  columns.Bound(p => p.AccountNumber).Visible(false);
                                                                                                  columns.Bound(p => p.Company).Title("Company").Width(100);
                                                                                                  columns.Bound(p => p.JobSheetName).ClientTemplate("<a class=\"k-grid-link\" href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Credit\">#=JobName#</a>").Title("Project Name");
                                                                                                  columns.Bound(p => p.Customer.CustomerName).Title("Account - Sub Account").ClientTemplate("#=Customer.CustNo# : #=Customer.CustomerName# #=ShipToName#");
                                                                                                  columns.Bound(p => p.User7.SMSN.Name).Title("OS Sales Rep").ClientTemplate("#=User7.SMSN.SlsRep# : #=User7.SMSN.Name#").Width(135);
                                                                                                  columns.Bound(p => p.User8.SMSN.Name).Title("IS Sales Rep").ClientTemplate("#=User8.SMSN.SlsRep# : #=User8.SMSN.Name#").Width(135);
                                                                                                  columns.Bound(p => p.User1.SMSN.Name).Title("Credit Rep").EditorTemplateName("CreditReps").ClientTemplate("#=User1.SMSN.SlsRep# : #=User1.SMSN.Name#").Width(100);
                                                                                              //columns.ForeignKey(p => p.User1, (System.Collections.IEnumerable)ViewData["delgates"], "UserId", "SMSN.Name").Title("Delegate PM");
                                                                                              columns.Bound(p => p.LastStepCompleted).Title("LastStepCompleted").Width(100).ClientTemplate("#=kendo.toString(LastStepCompleted,'MM/dd/yyyy hh:mm:ss')# : #=User1.SMSN.Name#");
                                                                                                  columns.Bound(p => p.RequestedShipToNumber);
                                                                                                  columns.Bound(p => p.JobOrShipToNumber).Title("Ship To Number").Width(130);
                                                                                                  columns.Bound(p => p.IsLockRecord).Title("IsLocked").Width(100).ClientTemplate("#if(IsLockRecord){#<span class='k-icon k-i-lock forTooltips' style='color:red;'></span>#}else{#<span class='k-icon k-i-unlock' style='color:green;'></span>#}#");
                                                                                                  if (HttpContext.Current.Session["userRoleId"].ToString() == "5")
                                                                                                  {
                                                                                                      columns.Bound(p => p.StepName).Title("Status").Width(200).EditorTemplateName("PendingStepName");
                                                                                                  }
                                                                                                  else
                                                                                                  {
                                                                                                      columns.Bound(p => p.StepName).Title("Status").Width(200).EditorTemplateName("StepName");
                                                                                                  }
                                                                                                  columns.Bound(p => p.CreditNotes).Title("Credit Notes");
                                                                                                  columns.Command(command => { command.Custom("showHistory").Click("showHistory").IconClass("fa fa-calendar view-history-cell").Text(" "); }).Width(50).Title("");
                                                                                                  columns.Command(command => { command.Custom("editJob").Click("editJob").IconClass("fa fa-edit edit-job-cell").Text(" "); }).Width(50).Title("");
                                                                                                  if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "5" || HttpContext.Current.Session["userRoleId"].ToString() == "6" || HttpContext.Current.Session["userRoleId"].ToString() == "7")
                                                                                                  {
                                                                                                      columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); }).Width(60);
                                                                                                  }
                                                                                                  else
                                                                                                  {

                                                                                                  }
                                                                                              })
                                                                                              .Events(ev => ev
                                                                                                  .Remove(@"function(e){setTimeout(function(){$('#jobSheetCreditGrid').data('kendoGrid').dataSource.sync()})}")
                                                                                      .DataBound("setcolor")
                                                                                              )
                                                                                              .Pageable()
                                                                                              .Sortable()
                                                                          .Groupable()
                                                                                              .Filterable()
                                                                                              .Scrollable()
                                                                                              .ClientDetailTemplateId("documents_grid")
                                                                                              .PersistSelection()
                                                                                              .HtmlAttributes(new { style = "height:750px;" })
                                                                                              .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                              .ToolBar(toolBar =>
                                                                                              {
                                                                                                  toolBar.Template(@<text>
            <div class="row" style="position: initial">

                <div class="col-sm-4">
                    <label style="display: inline-block !important;">Show Project by Status:</label>
                    @(Html.Kendo().DropDownList()
                                                                          .Name("Status")
                                                                          .HtmlAttributes(new { style = "width: 30%" })
                                                                          .BindTo(new List<SelectListItem>()
                                                                         {
                                                     new SelectListItem()
                                                     {
                                                         Text = "Active", Value = "Active"
                                                     },
                                                     new SelectListItem()
                                                     {
                                                         Text = "InActive", Value = "InActive"
                                                     },
                                                     new SelectListItem()
                                                     {
                                                         Text = "All", Value = "All"
                                                     }
                                                                         })

                                                                          .Events(e =>
                                                                          {
                                                                                        e.Select("Status_onSelect");
                                                                                    }))
                </div>


                <div class="col-sm-4"> 
                    <label style="display: inline-block !important;">Show Project by Step:</label>
                    @(Html.Kendo().DropDownList()
                                                                                                                  .Name("ProjectStatus")
                                                                                                                  .HtmlAttributes(new { style = "width: 30%" })
                                                                                                                  .BindTo(new List<SelectListItem>()
                                                                                                                                                                                                   {
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Approved", Value = "approved"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Rejected", Value = "rejected"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Submitted", Value = "Submitted"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Pending Approval", Value = "pending"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Incomplete Documentation", Value = "incompletedocumentation"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Payment Issue", Value = "paymentissue"
                                                                                                                                               },
                                                                                                                                               new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "Completed", Value = "completed"
                                                                                                                                               },
                                                                                                                                              new SelectListItem()
                                                                                                                                               {
                                                                                                                                                   Text = "All", Value = "all"
                                                                                                                                               }

                                                                                                                                                                                                   })

                                                                                                                  .Events(e =>
                                                                                                                  {
                                                                                                                                e.Select("ProjectStatus_onSelect");
                                                                                                                            })
                                                                                                                .Value("Submitted")
                    )
                </div>
                
                <div class="col-sm-offset-5">
                    <div style="float: right !important; margin-right: 20px !important;">
                        <div class="toolbar">
                            <a href="#" onclick="onClearFilter()" class="k-link k-button k-button-icon" title="Clear Filter"><span class="k-icon k-i-filter-clear"></span></a>
                        </div>
                    </div>
                </div>
            </div>


                                                                                                </text>);

                                                                                            })
                                                              .DataSource
                                                              (
                                                                  dataSource => dataSource
                                                                      .Ajax()
                                                                      .Batch(true)
                                                                      .ServerOperation(true)
                                                                      .Sort(sort => sort.Add("JobSheetName").Ascending())
                                                                      .Model(m =>
                                                                      {
                                                                          m.Id(o => o.JobSheetId);
                                                                          if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "5" || HttpContext.Current.Session["userRoleId"].ToString() == "6" || HttpContext.Current.Session["userRoleId"].ToString() == "7")
                                                                          {
                                                                              m.Field(p => p.Company).Editable(false);
                                                                              m.Field(p => p.JobSheetName).Editable(false);
                                                                              m.Field(p => p.Customer.CustomerName).Editable(false);
                                                                              m.Field(p => p.User7.SMSN.Name).Editable(false);
                                                                              m.Field(p => p.User8.SMSN.Name).Editable(false);
                                                                              m.Field(p => p.User1.SMSN.Name).Editable(true);
                                                                              m.Field(p => p.LastStepCompleted).Editable(false);
                                                                              m.Field(p => p.JobOrShipToNumber).Editable(true);
                                                                              m.Field(p => p.IsLockRecord).Editable(true);
                                                                              m.Field(p => p.StepName).Editable(true);
                                                                              m.Field(p => p.CreditNotes).Editable(true);
                                                                              m.Field(p => p.RequestedShipToNumber).Editable(false);
                                                                          }
                                                                          else
                                                                          {
                                                                              m.Field(p => p.Company).Editable(false);
                                                                              m.Field(p => p.JobSheetName).Editable(false);
                                                                              m.Field(p => p.Customer.CustomerName).Editable(false);
                                                                              m.Field(p => p.User7.SMSN.Name).Editable(false);
                                                                              m.Field(p => p.User8.SMSN.Name).Editable(false);
                                                                              m.Field(p => p.User1.SMSN.Name).Editable(false);
                                                                              m.Field(p => p.LastStepCompleted).Editable(false);
                                                                              m.Field(p => p.JobOrShipToNumber).Editable(false);
                                                                              m.Field(p => p.IsLockRecord).Editable(false);
                                                                              m.Field(p => p.StepName).Editable(false);
                                                                              m.Field(p => p.CreditNotes).Editable(false);
                                                                              m.Field(p => p.RequestedShipToNumber).Editable(false);
                                                                          }
                                                                      })
                                                                      .PageSize(20)
                                                                      .Read(read => read.Action("JobSheetCredit_Read", "Credit").Data("getJobSheetIsActive"))
                                                                      .Update(update => update.Action("JobSheetCredit_Update", "Credit").Data("getJobSheetIsActive"))
                                                                      .Events(events => events
                                                                          .Sync("sync_handler")
                                                                          .Error("error_handler")
                                                                      )
                                                              )
                                                              .Resizable(resize => resize.Columns(true))
            )
        </div>
        </div>
    <input id="JobSheetIsactive" name="JobSheetIsactive" type="hidden" value="" />
    <input id="Isactive" name="Isactive" type="hidden" value="True" />
</div>

@Html.Partial("~/Views/Shared/EditJobSheetModal.cshtml")
@(Html.Kendo().Window().Name("JobSheetHistory")
                                                                                                                                                                                                               .Title("History")
                                                                                                                                                                                                               .Visible(false)
                                                                                                                                                                                                               .Modal(true)
                                                                                                                                                                                                               .Draggable(true)
                                                                                                                                                                                                               .Width(1000)
                                                                                                                                                                                                               .Height(500)
)
<script id="documents_grid" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.JobSheetCCGFilesViewModel>()
	      .Name("documents-#=JobSheetId#")
	      .Columns(col =>
	      {
		      col.Bound(d => d.CCGFileName).ClientTemplate("<a href='\\#=CCGFileURL\\#' target='_blank'>\\#=CCGFileName\\#</a>").Title("Upload Documents");
		      //col.Bound(d => d.User1.SMSN.Name).Title("Modified By");
		      //col.Bound(d => d.ModifiedDate).Format("{0:MM/dd/yyyy hh:mm tt}");
	      })
	      .DataSource(dataSource => dataSource
		      .Ajax()
		      .PageSize(5)
		      .Events(ev => ev.Error("error_handler"))
		      .Read(read => read.Action("JobSheet_ReadCCGFiles", "Projects", new { JobSheetId = "#=JobSheetId#" })))
	      .ToClientTemplate())
</script>

<script type="text/x-kendo-template" id="jobSheetHistoryTemplate">
    <div id="details-container">
        @(Html.Kendo().Grid<PM_Website.Models.JobStepLogViewModel>()
                                                                                                                                                                                                .Name("jobSheetgrid_#=JobSheetId#")
                                                                                                                                                                                                .Columns(columns =>
                                                                                                                                                                                                {
                                                                                                                                                                                                    columns.Bound(p => p.JSLogId).Visible(false);
                                                                                                                                                                                                    columns.Bound(p => p.DateModified).Title("Change Date").Format("{0:MM/dd/yyyy hh:mm:ss}");
                                                                                                                                                                                                    columns.Bound(p => p.JobStep.StepName).Title("Step").Hidden();
                                                                                                                                                                                                    columns.Bound(p => p.StepStatus).Title("Status").ClientTemplate("\\#if(StepStatus){\\#Approved\\#}else{\\#Rejected\\#}\\#").Hidden();
                                                                                                                                                                                                    columns.Bound(p => p.User.SMSN.Name).Title("Changed By");

                                                                                                                                                                                                })
                                                                                                                                                                                                .HtmlAttributes(new { style = "height:450px;" })
                                                                                                                                                                                                .DataSource(dataSource => dataSource
                                                                                                                                                                                                             .Ajax()
                                                                                                                                                                                                             .ServerOperation(true)
                                                                                                                                                                                                             .PageSize(10)
                                                                                                                                                                                                             .Group(g => g.Add(c => c.JobStep.StepName))
                                                                                                                                                                                                             .Read(read => read.Action("ChangeLogJobStep_Read", "JobStep", new { JobSheetId = "#=JobSheetId#" })))
                                                                                                                                                                                                .Pageable()
                                                                                                                                                                                                .Sortable()
                                                                                                                                                                                                .Filterable()
                                                                                                                                                                                                .Groupable()
                                                                                                                                                                                                .Scrollable()
                                                                                                                                                                                                .ToClientTemplate()
        )

    </div>
</script>


<script language="javascript">

    function Status_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'Active') {
                $("#Isactive").val("True");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();
            } else if (dataItem.Value == 'InActive') {
                $("#Isactive").val("False");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();
            } else if (dataItem.Value == 'All') {
                $("#Isactive").val("All");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();
            }
        }
    }


    function OnRequestEnd_Grid(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
    function error_handler(e) {
        console.log(e);
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            kendo.alert(message);
        }
    }
    function sync_handler(e) {
        this.read();
    }


    $(document).ready(function () {
        $("#Isactive").val("True");

        $("#JobSheetIsactive").val("Submitted");

        $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

    });

    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q == "") {
            $("#jobSheetCreditGrid").data("kendoGrid").dataSource.filter({});
        }
        else {
            var grid = $("#jobSheetCreditGrid").data("kendoGrid");
            if (isNaN(q)) {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "JobSheetName", operator: "contains", value: q },
                            { field: "JobName", operator: "contains", value: q },
                            { field: "Customer.CustomerName", operator: "contains", value: q },
                            { field: "Customer.CustNo", operator: "contains", value: q },
                            { field: "JobOrShipToNumber", operator: "contains", value: q },
                            { field: "CreditNotes", operator: "contains", value: q },
                            { field: "User7.SMSN.Name", operator: "contains", value: q },
                            { field: "User8.SMSN.Name", operator: "contains", value: q },
                            { field: "User1.SMSN.Name", operator: "contains", value: q }
                        ]
                    }
                });
            }
            else {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "JobSheetName", operator: "contains", value: q },
                            { field: "JobName", operator: "contains", value: q },
                            { field: "Customer.CustomerName", operator: "contains", value: q },
                            { field: "Customer.CustNo", operator: "contains", value: q },
                            { field: "JobOrShipToNumber", operator: "contains", value: q },
                            { field: "CreditNotes", operator: "contains", value: q },
                            { field: "Company", operator: "eq", value: q },
                            { field: "User7.SMSN.Name", operator: "contains", value: q },
                            { field: "User8.SMSN.Name", operator: "contains", value: q },
                            { field: "User1.SMSN.Name", operator: "contains", value: q }
                        ]
                    }
                });
            }
        }

    }
    function getJobSheetIsActive() {
        return {
            IsActive: $("#Isactive").val(),
            approvalSort: $("#JobSheetIsactive").val()
        };
    }

    function ProjectStatus_onSelect(e) {
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            if (dataItem.Value == 'approved') {
                $("#JobSheetIsactive").val("approved");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'rejected') {
                $("#JobSheetIsactive").val("rejected");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'Submitted') {
                $("#JobSheetIsactive").val("Submitted");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'pending') {
                $("#JobSheetIsactive").val("pending");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'incompletedocumentation') {
                $("#JobSheetIsactive").val("incompletedocumentation");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'paymentissue') {
                $("#JobSheetIsactive").val("paymentissue");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'completed') {
                $("#JobSheetIsactive").val("completed");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }
            else if (dataItem.Value == 'all') {
                $("#JobSheetIsactive").val("all");
                $("#jobSheetCreditGrid").data("kendoGrid").dataSource.read();

            }

        }
    }

    var historyTemplate = kendo.template($("#jobSheetHistoryTemplate").html());

    function showHistory(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#JobSheetHistory").data("kendoWindow");

        wnd.content(historyTemplate(dataItem));
        wnd.center().open();
    }

    function editJob(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        EditJobSheet(dataItem.JobSheetId);
    }

</script>
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }

    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }

    .k-pdf-export .k-grid-filter {
        display: none;
    }
</style>
<script>

    function onClearFilter(e) {

        $("#jobSheetCreditGrid").data("kendoGrid").dataSource.filter({});

    }
</script>

<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }


    .k-detail-row .k-grid-header .k-header {
        color: white;
    }

    .k-grid tbody .k-button {
        min-width: unset;
        margin: 0;
        padding-left: unset;
        padding-right: unset;
    }

    .k-grid tbody .k-command-cell {
        text-align: center;
    }

    #jobList .k-grid-header .k-header {
        height: 150px !important;
    }
</style>
<script>
    function setcolor() {
        var grid = $("#jobSheetCreditGrid").data("kendoGrid");
        grid.tbody.find('>tr').each(function () {
            var dataItem = grid.dataItem(this);
            if (dataItem.IsActive == false) {
                $(this).css('background-color', '#eeeeee');
                $(this).css('color', 'red');
            }
        });
    }
</script>
