﻿
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="fa fa-chart-line glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                              .Name("HelpWindow")
                              .Title("Help")
                              .Visible(false)
                              .Modal(true)
                              .Draggable(true)
                              .Width(630)
                              .Height(115)

                )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--Body Content Goes Here-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    @(Html.Kendo().PanelBar()
                                  .Name("reportsPanelbar")
                                  .ExpandMode(PanelBarExpandMode.Single)
                                  .Items(items =>
                                  {
                                      items.Add().Text("Projects by Project Name").Expanded(true).Content(@<text>@RenderCreateReportView("project", false)</text>);
                                      items.Add().Text("Projects by Customer/SubAccount").Content(@<text>@RenderCreateReportViewComboBox("customer","CustNo","CustomerName","GetCustomers","Reports","Please select a customer.")</text>);
                                      items.Add().Text("Projects by Project Manager").Content(@<text>@RenderCreateReportViewComboBox("pm","PmId","PmName","GetProjectManagers","Reports","Please select a Project Manager.")</text>);
                                      items.Add().Text("Projects by Outside Sales Rep").Content(@<text>@RenderCreateReportViewComboBox("oss", "PmId", "PmName", "GetOutsideSalesReps","Reports","Please select an Outside Sales Rep.")</text>);
                                      items.Add().Text("Projects with Alert Status").Content(@<text>@RenderCreateReportView("alert", true)</text>);
                                  }))
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <h3>Report Subscriptions</h3>
                        @(Html.Kendo().Grid<PM_Website.Models.ProjectDataReportViewModel>()
                                      .Name("reportSubscriptions")
                              .Columns(col =>
                              {
                                  col.Bound(c => c.ReportName);
                                  col.Bound(c => c.Generation);
                                  col.Bound(c => c.StartDate).Format("{0:MM/dd/yyyy}");
                                  col.Bound(c => c.EndDate).Format("{0:MM/dd/yyyy}");
                                  var userRole = int.Parse(HttpContext.Current.Session["userRoleId"].ToString());
                                  if (userRole == 1)
                                  {
                                      col.Bound(c => c.User.Name).Title("User Name");
                                  }
                              })
                                      .NoRecords("You do not have any subscriptions.")
                                      .Pageable()
                                      .Scrollable()
                                      .Filterable()
                                      .Sortable()
                              .Groupable()
                                      .DataSource(ds => ds.Ajax()
                                          .Batch(true)
                                          .ServerOperation(false)
                                          .Group(group =>group.Add(p=>p.ReportType))
                                          .Read(r => r.Action("ProjectDataReport_ReadProjects", "ProjectDataReport"))))
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="schedule-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="schedule-report-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Schedule Report</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Name:</h3>
                            <input type="text" id="report-name" name="report-name" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Range:</h3>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date-from">From: </label>
                            <input type="text" class="form-control" readonly="readonly" name="date-from" id="date-from" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date-to">To: </label>
                            <input type="text" class="form-control" readonly="readonly" name="date-to" id="date-to" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Frequency:</h3>
                            <input type="text" class="form-control" readonly="readonly" name="report-frequency" id="report-frequency" />
                        </div>
                    </div>
                    <input type="hidden" id="schedule-report-ids" name="schedule-report-ids" />
                    <input type="hidden" id="schedule-report-type" name="schedule-report-type" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="schedule-job-submit">Schedule</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@helper RenderDropDown(string dropDownName)
{
    @(Html.Kendo().DropDownList()
                                                                                          .Name(dropDownName)
                                                                                          .BindTo(new List<SelectListItem>()
                                                                                                                         {
                                                         new SelectListItem()
                                                         {
                                                             Text = "Active", Value = "True"
                                                         },
                                                         new SelectListItem()
                                                         {
                                                             Text = "InActive", Value = "False"
                                                         },
                                                         new SelectListItem()
                                                         {
                                                             Text = "All", Value = "All"
                                                         }
                                                                                                                         })

                                                                                          .Events(e =>
                                                                                          {
                                                                                              e.Select("dropDown_onSelect");
                                                                                          })
    )
}

@helper RenderCreateReportViewComboBox(string title, string valueField, string textField, string action, string controller, string placeholder)
{
    <div style="padding: 10px;">
        <div style="margin-bottom: 10px;">
            <div style="display: inline-block; width: 47%">
                @(Html.Kendo().ComboBox()
                      .Name(title + "ComboBoxLeft")
                      .DataValueField(valueField)
                      .DataTextField(textField)
                      .HtmlAttributes(new { style = "width: 100%", placeholder = placeholder })
                      .Events(ev =>
                      {
                          ev.Select("selectLeft");
                      })
                      .DataSource(ds => ds.Read(r => r.Action(action, controller))))
            </div>
            <div style="display: inline-block; float: right; width: 47%">
                @(Html.Kendo().ComboBox()
                      .Name(title + "ComboBoxRight")
                      .DataValueField(valueField)
                      .DataTextField(textField)
                      .HtmlAttributes(new { style = "width: 100%", placeholder = placeholder })
                      .Events(ev =>
                      {
                          ev.Select("selectRight");
                      }))
            </div>
        </div>
        <div>
            @(Html.Kendo().ListBox()
                          .Name(title + "ListBoxLeft")
                          .Toolbar(toolbar =>
                          {
                              toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                              toolbar.Tools(tools => tools
                                  .TransferTo()
                                  .TransferFrom()
                                  .TransferAllTo()
                                  .TransferAllFrom()
                                  );
                          })
                          .DataValueField("JobSheetId")
                          .DataTextField("JobSheetName")
                          .Events(ev => ev.Add("itemAdded").Remove("itemRemoved"))
                          .DataSource(ds =>
                          {
                              ds.Read(r => r.Action("getProjects", "Reports", new { ReportType = title }));
                          })
                          .AutoBind(false)
                          .HtmlAttributes(new { style = "width: 47%; height: 400px;" })
                          .ConnectWith(title + "ListBoxRight")
                          .Selectable(ListBoxSelectable.Multiple))

            @(Html.Kendo().ListBox()
                          .Name(title + "ListBoxRight")
                          .DataValueField("JobSheetId")
                          .DataTextField("JobSheetName")
                          .Events(ev => ev.Add("itemAdded"))
                          .HtmlAttributes(new { style = "width: 47%;  height: 400px; float: right;" })
                          .Selectable(ListBoxSelectable.Multiple)
            )
        </div>
        <div class="col-sm-12" style="height: 10px;"></div>
        <div>
            <div class="options-box">
                <H3 style="margin-bottom: 13px;">Frequency:</H3>
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Now").Label("Now")) <br />
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Daily").Label("Daily")) <br />
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Weekly").Label("Weekly")) <br />
            </div>
            <div class="options-box" style="float: right">
                <h3>Range: </h3>
                <table class="date-range-table">
                    <tr>
                        <td><label>From: </label></td>
                        <td>@(Html.Kendo().DatePicker().Name(title + "FromDate").Min(DateTime.Now))</td>
                    </tr>
                    <tr>
                        <td><label>To: </label></td>
                        <td>@(Html.Kendo().DatePicker().Name(title + "ToDate").Min(DateTime.Now))</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="height: 10px;"></div>
        <div style="display: inline-block; width: 100%; margin: 5px 0px;">
            <div style="display: inline-block">Status: @RenderDropDown(title + "DropDown")</div>
            <button class="btn btn-primary schedule-report" id="@title" style="float: right">Schedule</button>
        </div>
        <div class="clearfix"></div>
    </div>
}

@helper RenderCreateReportView(string title, bool autoLoad)
{
    <div style="padding: 10px;">
        <div style="margin-bottom: 10px;">
            <span class="k-textbox k-space-right" style="width: 47%">
                @(Html.Kendo().TextBox().Name(title + "SearchLeft").HtmlAttributes(new { placeholder = "Search", @class = "text-search-left" }))
                <span class="k-icon k-i-search search-left" style="cursor: pointer">&nbsp;</span>
            </span>
            <span class="k-textbox k-space-right" style="width: 47%; float: right">
                @(Html.Kendo().TextBox().Name(title + "SearchRight").HtmlAttributes(new { placeholder = "Search", @class = "text-search-right" }))
                <span class="k-icon k-i-search search-right" style="cursor: pointer">&nbsp;</span>
            </span>
        </div>
        <div>
            @(Html.Kendo().ListBox()
                          .Name(title + "ListBoxLeft")
                          .Toolbar(toolbar =>
                          {
                              toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                              toolbar.Tools(tools => tools
                                  .TransferTo()
                                  .TransferFrom()
                                  .TransferAllTo()
                                  .TransferAllFrom()
                                  );
                          })
                          .DataValueField("JobSheetId")
                          .DataTextField("JobSheetName")
                          .Events(ev => ev.Add("itemAdded").Remove("itemRemoved"))
                          .DataSource(ds =>
                          {
                              ds.Read(r => r.Action("getProjects", "Reports", new { ReportType=title }));
                          })
                          .AutoBind(autoLoad)
                          .HtmlAttributes(new { style = "width: 47%; height: 400px;" })
                          .ConnectWith(title + "ListBoxRight")
                          .Selectable(ListBoxSelectable.Multiple))

            @(Html.Kendo().ListBox()
                          .Name(title + "ListBoxRight")
                          .DataValueField("JobSheetId")
                          .DataTextField("JobSheetName")
                          .Events(ev => ev.Add("itemAdded"))
                          .HtmlAttributes(new { style = "width: 47%;  height: 400px; float: right;" })
                          .Selectable(ListBoxSelectable.Multiple)
            )
        </div>
        <div class="col-sm-12" style="height: 10px;"></div>
        <div>
            <div class="options-box">
                <H3 style="margin-bottom: 13px;">Frequency:</H3>
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Now").Label("Now")) <br />
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Daily").Label("Daily")) <br />
                @(Html.Kendo().RadioButton().Name(title + "Generation").Value("Weekly").Label("Weekly")) <br />
            </div>
            <div class="options-box" style="float: right">
                <h3>Range: </h3>
                <table class="date-range-table">
                    <tr>
                        <td><label>From: </label></td>
                        <td>@(Html.Kendo().DatePicker().Name(title + "FromDate").Min(DateTime.Now))</td>
                    </tr>
                    <tr>
                        <td><label>To: </label></td>
                        <td>@(Html.Kendo().DatePicker().Name(title + "ToDate").Min(DateTime.Now))</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="height: 10px;"></div>
        <div style="display: inline-block; width: 100%; margin: 5px 0px;">
            <div style="display: inline-block">Status: @RenderDropDown(title + "DropDown")</div>
            <button class="btn btn-primary schedule-report" id="@title" style="float: right">Schedule</button>
        </div>
        <div class="clearfix"></div>
    </div>
}

<style>
    .options-box {
        width: 47%;
        display: inline-block;
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    }

        .options-box > h3 {
            margin-top: unset;
        }

    .k-listbox-toolbar {
        position: absolute;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -10%;
    }

    .date-range-table td {
        padding: 3px;
    }

    .k-radio-label {
        margin-bottom: 9px;
    }

    .k-panelbar > .k-item > .k-header {
        font-size: 24px;
    }
</style>

<script>
    function sentenceCase(str) {
        if ((str===null) || (str===''))
            return false;
        else
            str = str.toString();

        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    $(".text-search-left").keyup(function (e) {
        if (e.keyCode === 13) {
            var searchId = $(e.currentTarget).attr("id");
            var name = searchId.substring(0, searchId.length - 10);
            var search = $(this).val();
            if (search.length > 2) {
                var listBoxName = name + "ListBoxLeft";
                var dropDownName = name + "DropDown";
                var dropDown = $("#" + dropDownName).data("kendoDropDownList");
                var listBox = $("#" + listBoxName).data("kendoListBox");

                $($("#" + listBoxName)[0]).attr("data-selected-id", search);
                var optionalData = { IsActive: dropDown.value(), Id: search, ReportType: name };

                listBox.dataSource.read(optionalData);
            } else {
                kendo.alert("Please try your search again.");
            }
        }
    });
    $(".text-search-right").keyup(function (e) {
        var searchId = $(e.currentTarget).attr("id");
        var listBoxName = searchId.substring(0, searchId.length - 11) + "ListBoxRight";
        var listBox = $("#"+listBoxName).getKendoListBox();
        var search = $(this).val();
        listBox.dataSource.filter({ field: "JobSheetName", operator: "contains", value: search });
    });

    $(".search-left").click(function () {
        var e = $.Event("keyup", { keyCode: 13 });
        $(this).prev().trigger(e);
    });

    $(".search-right").click(function () {
        var e = $.Event("keyup", { keyCode: 13 });
        $(this).prev().trigger(e);
    });

    $(".schedule-report").click(function () {
        var section = $($(this)[0]).attr("id");
        var selectedProjects = $("#" + section + "ListBoxRight").val();
        var selected = $("input[name='" + section + "Generation']:checked").val();
        var dateFrom = $("#" + section + "FromDate");
        var dateTo = $("#" + section + "ToDate");

        if (selectedProjects == null || selectedProjects.count === 0) {
            kendo.alert("You must select at least one (1) project.");
            return;
        }

        if (selected == undefined) {
            kendo.alert("You must select a frequency.");
            return;
        }

        $("#schedule-modal").on("show.bs.modal",
            function () {
                $("#report-name").val(new Date().getTime() + "-Report");
                $("#date-from").val(dateFrom.val());
                $("#date-to").val(dateTo.val());
                $("#report-frequency").val(selected);
                $("#schedule-report-ids").val(JSON.stringify(selectedProjects));
                $("#schedule-report-type").val(section);
            });

        $("#schedule-modal").modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
    });

    $("#schedule-job-submit").click(function () {
        var form = $("#schedule-report-form")[0];
        var fd = new FormData(form);
        $.ajax({
            url: "@Url.Action("ProjectDataReport_Create", "ProjectDataReport")",
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function(e) {
                if (e === "True") {
                    kendo.alert("Report Scheduled");
                }
                $("#reportSubscriptions").data("kendoGrid").dataSource.read();
                $("#schedule-modal").modal('hide');
            },
            error: function(s, x, e) {
                console.log(s);
                console.log(x);
                console.log(e);
            }
        });
    });

    $(document).ready(function () {
        $("select[data-role='listbox']").each(function(i,data) {
            var listBox = $(data).data("kendoListBox");
            listBox.wrapper.find(".k-list").on("dblclick", ".k-item", function () {
                listBox._executeCommand("transferTo");
            });
        });

        $("input[type=radio]").click(function() {
            var radio = $(this);
            var name = radio.attr("name");
            var section = name.substring(0, name.length - 10);
            console.log("input[name='" + name + "']:checked");
            var selected = $("input[name='" + name + "']:checked").val();
            var dateFrom = $("#" + section + "FromDate").data("kendoDatePicker");
            var dateTo = $("#" + section + "ToDate").data("kendoDatePicker");

            switch (selected) {
            case "Now":
                dateFrom.enable(false);
                dateTo.enable(false);
                break;

            default:
                dateFrom.enable(true);
                dateTo.enable(true);
                break;
            }
        });

        $("input[type=radio]").each(function (i, e) {
            var radio = $(e);
            var name = radio.attr("name");
            var section = name.substring(0, name.length - 10);
            var selected = $("input[name='" + name + "']:checked").val();

            var dateFrom = $("#" + section + "FromDate").data("kendoDatePicker");
            var dateTo = $("#" + section + "ToDate").data("kendoDatePicker");

            switch (selected) {
            case "Now":
                dateFrom.enable(false);
                dateTo.enable(false);
                break;

            case "Daily":
                dateFrom.enable(true);
                dateTo.enable(true);
                break;

            case "Weekly":
                dateFrom.enable(true);
                dateTo.enable(true);
                break;

            default:
                dateFrom.enable(false);
                dateTo.enable(false);
                break;
            }
        });
    });

    function itemAdded(e) {
        e.preventDefault();
        var listBox = $(this)[0];
        $.each(e.dataItems,
            function (index, item) {
                if (item.JobSheetId !== 0) {
                    listBox.dataSource.data().push({ JobSheetId: item.JobSheetId, JobSheetName: item.JobSheetName });
                }
            });
        listBox.dataSource.sort({ field: "JobSheetName", dir: "asc" });
    }

    function itemRemoved(e) {
        e.preventDefault();
        var listBox = $(this)[0];
        $.each(e.dataItems,
            function (index, item) {
                if (item.JobSheetId !== 0) {
                    listBox.dataSource.data().remove(item);
                }
            });
    }

    function error_handler(e) {
        console.log(e);
    }

    function selectLeft(e) {
        var selected = e.dataItem;
        var comboBoxId = $(e.sender.element[0]).attr("id");
        var name = comboBoxId.substring(0, comboBoxId.length - 12);
        var listBoxName = name + "ListBoxLeft";
        var dropDownName = name + "DropDown";
        var dropDown = $("#" + dropDownName).data("kendoDropDownList");
        var listBox = $("#" + listBoxName).data("kendoListBox");

        var id = selected.CustNo;
        if (id == undefined) {
            id = selected.PmId;
        } else {
            id = id.trim();
        }

        $($("#" + listBoxName)[0]).attr("data-selected-id", id);
        var optionalData = { IsActive: dropDown.value(), Id: id, ReportType: name };

        listBox.dataSource.read(optionalData);
    }

    function selectRight(e) {
        console.log(e);
    }

    function dropDown_onSelect(e) {
        var element = $(this.element);
        var gridName = element.attr("id").substring(0, element.attr("id").length - 8);
        var selectedId = $($("#" + gridName + "ListBoxLeft")[0]).attr("data-selected-id");

        var optionalData = { IsActive: e.dataItem.Value, Id: selectedId != undefined ? selectedId : "", ReportType: gridName };

        $("#" + gridName + "ListBoxLeft").data("kendoListBox").dataSource.read(optionalData);
    }
</script>