﻿@{
    ViewBag.Title = "Access Denied";
}
<div class="row paddingtop" style="text-align:center">
    <h2>@ViewBag.Title</h2>
    <h3>To gain access, please email  <a  title="@System.Web.Configuration.WebConfigurationManager.AppSettings["DistributionEmail"]"  href="https://outlook.office.com/owa/?path=/mail/action/compose&to=@System.Web.Configuration.WebConfigurationManager.AppSettings["DistributionEmail"]&subject=PM%20Tracker%20Acess%20Request">Dana Coffey</a></h3>
</div>