﻿@{
    ViewBag.Title = "Dashboard";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="~/Content/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/AdminLTE.min.css" rel="stylesheet" />

<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tasks glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title </h2></span>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                                      .Name("HelpWindow")
                                      .Title("Help")
                                      .Visible(false)
                                      .Modal(true)
                                      .Draggable(true)
                                      .Width(630)
                                      .Height(115)

                )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-12">
            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <!-- Tabs within a box -->
                        <div class="box box-solid box-primary">
                            <div class="box-header"><h4>Project Status</h4></div>
                            <div class="box-content" style="height: 455px;">
                                @(Html.Kendo().PanelBar()
                                                      .Name("statusPanelbar")
                                                      .Items(panelbar =>
                                                      {
                                                    @*panelbar.Add().Text("New Accounts Created")
                                                        .Expanded(true)
                                                        .Content(@<div>
                                                                     @(Html.Kendo().Grid<PM_Website.Models.DashboardChartViewModel>()
                                                                           .Name("newAcctsGrid")
                                                                           .Columns(col =>
                                                                           {
                                                                               col.Bound(c => c.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/Index?jobSheetId=#=JobSheetId#\">#=JobSheetName#</a>");
                                                                               col.Bound(c => c.SubAccount).Title("Account - SubAccount");
                                                                               col.Bound(c => c.ModifiedDate).Title("Date Modified").Format("{0:MM/dd/yyyy}");
                                                                               col.Bound(c => c.ModifiedBy).Title("Modified By");
                                                                           })
                                                                           .Pageable()
                                                                           .Sortable()
                                                                           .Groupable()
                                                                           .Scrollable()
                                                                           .AutoBind(false)
                                                                           .DataSource(dataSource => dataSource
                                                                               .Ajax()
                                                                               .Read(read => read.Action("GetChartValues", "Home", new { grid = "newAccts" }))
                                                                               .PageSize(10)))
                                                                 </div>);*@
                                    panelbar.Add().Text("New Projects Entered")
                                                        .Expanded(true)
                                                        .Content(@<div>
                                        @(Html.Kendo().Grid<PM_Website.Models.DashboardChartViewModel>()
                                                              .Name("newJobsGrid")
                                                              .Columns(col =>
                                                              {
                                                                  col.Bound(c => c.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobSheetName#</a>");
                                                                  col.Bound(c => c.SubAccount).Title("Account - Sub Account").ClientTemplate("#=account# #=SubAccount#");
                                                                  col.Bound(c => c.ModifiedDate).Title("Date Modified").Format("{0:MM/dd/yyyy}");
                                                                  col.Bound(c => c.ModifiedBy).Title("Modified By");
                                                              })
                                                              .Pageable()
                                                              .Sortable()
                                                              .Groupable()
                                                              .Scrollable()
                                                              .AutoBind(false)
                                                              .DataSource(dataSource => dataSource
                                                                  .Ajax()
                                                                  .Read(read => read.Action("GetChartValues", "Home", new { grid = "newJobs" }))
                                                                  .PageSize(10)))
                                    </div>);
              panelbar.Add().Text("Awaiting Voltage Verification")
                                  .Content(@<div>
                    @(Html.Kendo().Grid<PM_Website.Models.DashboardChartViewModel>()
                                          .Name("awaitingVVGrid")
                                          .Columns(col =>
                                          {
                                              col.Bound(c => c.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobSheetName#</a>");
                                              col.Bound(c => c.SubAccount).Title("Account - Sub Account").ClientTemplate("#=account# #=SubAccount#");
                                              col.Bound(c => c.ModifiedDate).Title("Date Modified").Format("{0:MM/dd/yyyy}");
                                              col.Bound(c => c.ModifiedBy).Title("Modified By");
                                          })
                                          .Pageable()
                                          .Sortable()
                                          .Groupable()
                                          .Scrollable()
                                          .AutoBind(false)
                                          .DataSource(dataSource => dataSource
                                              .Ajax()
                                              .Read(read => read.Action("GetChartValues", "Home", new { grid = "awaitingVV" }))
                                              .PageSize(10)))
                </div>);
panelbar.Add().Text("Awaiting Return of Submittals")
              .Content(@<div>
    @(Html.Kendo().Grid<PM_Website.Models.DashboardChartViewModel>()
                          .Name("returnOfSubmittalsGrid")
                          .Columns(col =>
                          {
                              col.Bound(c => c.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobSheetName#</a>");
                              col.Bound(c => c.SubAccount).Title("Account - Sub Account").ClientTemplate("#=account# #=SubAccount#");
                              col.Bound(c => c.ModifiedDate).Title("Date Modified").Format("{0:MM/dd/yyyy}");
                              col.Bound(c => c.ModifiedBy).Title("Modified By");
                          })
                          .Pageable()
                          .Sortable()
                          .Groupable()
                          .Scrollable()
                          .AutoBind(false)
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Read(read => read.Action("GetChartValues", "Home", new { grid = "returnOfSubmittals" }))
                              .PageSize(10)))
</div>);
panelbar.Add().Text("Awaiting Credit Approval")
.Content(@<div>
    @(Html.Kendo().Grid<PM_Website.Models.DashboardChartViewModel>()
                          .Name("creditApprovalGrid")
                          .Columns(col =>
                          {
                              col.Bound(c => c.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobSheetName#</a>");
                              col.Bound(c => c.SubAccount).Title("Account - Sub Account").ClientTemplate("#=account# #=SubAccount#");
                              col.Bound(c => c.ModifiedDate).Title("Date Modified").Format("{0:MM/dd/yyyy}");
                              col.Bound(c => c.ModifiedBy).Title("Modified By");
                          })
                          .Pageable()
                          .Scrollable()
                          .Sortable()
                          .Groupable()
                          .AutoBind(false)
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Read(read => read.Action("GetChartValues", "Home", new { grid = "creditApproval" }))
                              .PageSize(10)))
</div>);
})
.Events(ev => ev.Expand("didExpand"))
.HtmlAttributes(new { style = "height:440px;" })
.ExpandMode(PanelBarExpandMode.Single))
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-header"><h4>Projects Awaiting Voltage Verification</h4></div>
                            <div class="box-content">
                                @(Html.Kendo().Grid<PM_Website.Models.DashboardVoltageViewModel>()
                                                      .Name("voltageGrid")
                                                      .Columns(columns =>
                                                      {
                                                          columns.Bound(p => p.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobSheetName#</a>");
                                                          columns.Bound(p => p.waitingSince).Title("Waiting Since").Format("{0:MM/dd/yyyy}");
                                                          if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "2" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
                                                          {
                                                              columns.Bound(p => p.JobSheetId).Title("Verify").ClientTemplate("<input type='checkbox' id='check#=JobSheetId#' class='VerifiedVoltagechk switchBox' onclick=\"verifyVoltage(#=JobSheetId#)\">");
                                                          }
                                                          else
                                                          {
                                                              columns.Bound(p => p.JobSheetId).Title("Verify").ClientTemplate("<input type='checkbox' id='check#=JobSheetId#' class='VerifiedVoltagechk switchBox' disabled='disabled'>");
                                                          }
                                                      })
                                                      .Pageable()
                                                      .Scrollable()
                                                      .Sortable()
                                                      .Groupable()
                                      .Events(ev=>ev.DataBound("dataBound"))
                                                      .HtmlAttributes(new { style = "height:400px;" })
                                                      .DataSource
                                                      (
                                                          dataSource => dataSource
                                                              .Ajax()
                                                              .Read(read => read.Action("GetVoltage", "Home"))
                                                      )
                                )
                            </div>
                        </div>
                    </section>
                    <section class="col-lg-6 connectedSortable">
                        <!-- Tabs within a box -->
                        <div class="box box-solid box-primary">
                            <div class="box-header"><h4>My Last 10 Recent Projects</h4></div>
                            <div class="box-content">

	                            @(Html.Kendo().Grid<PM_Website.Models.DashbordJobStatusViewModel>()
		                              .Name("Top10jobList")
		                              .Columns(columns =>
		                              {
			                              columns.Bound(p => p.JobSheetName).Title("Project").ClientTemplate("<a href=\"/Projects/JobSheetDetails?jobSheetId=#=JobSheetId#&previousPage=Home\">#=JobName#</a>");
			                              columns.Bound(p => p.Customer.CustomerName).Title("Account - Sub Account").ClientTemplate("#=Customer.CustNo# : #=Customer.CustomerName# #=ShipToName#");
			                              columns.Bound(p => p.LastModifiedDate).Title("Last Modified Date").Format("{0:MM/dd/yyyy}");
			                              columns.Bound(p => p.User3.SMSN.Name).Title("Last Modified By").ClientTemplate("#=User3.SMSN.Name#");

			                              columns.Command(command => { command.Custom("showChecklist").Click("showChecklist").IconClass("fa fa-bars").Text(" "); }).Width(100).Title("Status");

		                              })
		                              .HtmlAttributes(new { style = "height:400px;" })
		                              .Scrollable()
		                              .Groupable()
		                              .DataSource(dataSource => dataSource
			                              .Ajax()
			                              .PageSize(10)
			                              .Read(read => read.Action("JobSheettop10_Read", "Projects"))
		                              ))

                            </div>
                        </div>
                    </section>
                    <section class="col-lg-6 connectedSortable">
                        <div class="box box-solid box-primary">
                            <div class="box-header"><h4>More Actions</h4></div>
                            <div class="box-body action-buttons">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="small-box bg-aqua addt-action" id="new-project">
                                            <div class="inner">
                                                <p>Set Up New Project</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="small-box bg-green addt-action" id="edit-projects">
                                            <div class="inner">
                                                <p>Edit Existing Projects</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="small-box bg-yellow addt-action" id="view-checklist">
                                            <div class="inner">
                                                <p>Project Checklist</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="small-box bg-red addt-action" id="view-reports">
                                            <div class="inner">
                                                <p>Reports</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>

<script id="jobsheetChecklistTemplete" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<PM_Website.Models.DashbordJobStatusViewModel>
	      ()
	      .Name("Top10JobChecklist")// template expression, to be evaluated in the master context

	      .Columns(columns =>
	      {
		      //Added role Admin,Manager and PM can edit checklist
		      if (HttpContext.Current.Session["userRoleId"].ToString() == "1" || HttpContext.Current.Session["userRoleId"].ToString() == "3" || HttpContext.Current.Session["userRoleId"].ToString() == "2" || HttpContext.Current.Session["userRoleId"].ToString() == "8")
		      {
			      columns.Bound(p => p.submittedToContractor).HeaderTemplate("<span class=\"verticalText\">Submitted To Contractor</span>").Width(40).Title("Submitted To Contractor").ClientTemplate("\\#if(submittedToContractor){\\#<input id='submittedToContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted To Engineer\",this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=submittedToContractorCreatedDate\\#</p>\\#}else{\\#<input id='submittedToContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted To Engineer\",this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.returnedFromContractor).HeaderTemplate("<span class=\"verticalText\">Returned From Contractor</span>").Width(40).Title("Returned from Contractor").ClientTemplate("\\#if(returnedFromContractor){\\#<input id='returnedFromContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Returned By Engineer\", this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=returnedFromContractorCreatedDate\\#</p>\\#}else{\\#<input id=returnedFromContractorchk' onclick='oncheckBox(#=JobSheetId#,\"Returned By Engineer\", this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.submittedToCredit).HeaderTemplate("<span class=\"verticalText\">Submitted To Credit</span>").Width(40).Title("Submitted To Credit").ClientTemplate("\\#if(submittedToCredit){\\#<input id='submittedToCreditchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted to Credit\", this)' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' onclick='showcheckBox(this)'></span><p class='mastertooltip'>Date Checked: \\#=submittedToCreditCreatedDate\\#</p>\\#}else{\\#<input id=submittedToCreditchk' onclick='oncheckBox(#=JobSheetId#,\"Submitted to Credit\", this)' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' onclick='showcheckBox(this)'></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      }
		      else
		      {
			      columns.Bound(p => p.submittedToContractor).HeaderTemplate("<span class=\"verticalText\">Submitted To Contractor</span>").Width(40).Title("Submitted To Contractor").ClientTemplate("\\#if(submittedToContractor){\\#<input id='submittedToContractorchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=submittedToContractorCreatedDate\\#</p>\\#}else{\\#<input id='submittedToContractorchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.returnedFromContractor).HeaderTemplate("<span class=\"verticalText\">Returned From Contractor</span>").Width(40).Title("Returned from Contractor").ClientTemplate("\\#if(returnedFromContractor){\\#<input id='returnedFromContractorchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=returnedFromContractorCreatedDate\\#</p>\\#}else{\\#<input id=returnedFromContractorchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
			      columns.Bound(p => p.submittedToCredit).HeaderTemplate("<span class=\"verticalText\">Submitted To Credit</span>").Width(40).Title("Submitted To Credit").ClientTemplate("\\#if(submittedToCredit){\\#<input id='submittedToCreditchk' type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=submittedToCreditCreatedDate\\#</p>\\#}else{\\#<input id=submittedToCreditchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      }
		      columns.Bound(p => p.rejectedByCredit).HeaderTemplate("<span class=\"verticalText\">Returned By Credit</span>").Width(40).Title("Returned By Credit").ClientTemplate("\\#if(rejectedByCredit){\\#<input id='rejectedByCreditchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=rejectedByCreditCreatedDate\\#</p>\\#}else{\\#<input id=rejectedByCreditchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      columns.Bound(p => p.approvedByCredit).HeaderTemplate("<span class=\"verticalText\">Approved By Credit</span>").Width(40).Title("Approved By Credit").ClientTemplate("\\#if(approvedByCredit){\\#<input id='approvedByCreditchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span><p class='mastertooltip'>Date Checked: \\#=approvedByCreditCreatedDate\\#</p>\\#}else{\\#<input id=approvedByCreditchk' type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;' ></span>\\#}\\#").Filterable(false).Sortable(false).HtmlAttributes(new { onmouseover = "checklistMouseover(this)", onmouseout = "checklistMouseout(this)", @class = "masterTooltip" });
		      columns.Bound(p => p.ordersCreated).HeaderTemplate("<span class=\"verticalText\">Orders Created</span>").Width(40).Title("Orders Created").ClientTemplate("\\#if(ordersCreated){\\#<input id='ordersCreatedchk'  type='checkbox' checked style=\"display:none\"/><span class='fa fa-check' style='color:green;' ></span>\\#}else{\\#<input id=ordersCreatedchk'  type='checkbox' style=\"display:none\"/><span class='fa fa-times' style='color:red;'></span>\\#}\\#").Filterable(false).Sortable(false);
	      })
	      .DataSource(dataSource => dataSource
		      .Ajax()
		      .ServerOperation(true)
		      .Model(m =>
		      {
			      m.Field(o => o.JobSheetId);
			      m.Field(o => o.submittedToContractor);
			      m.Field(o => o.reviewedByContractor);
			      m.Field(o => o.approvedByContractor);
			      m.Field(o => o.returnedFromContractor);
			      m.Field(o => o.resubmittedToContractor);
			      m.Field(o => o.submittedToCredit);
			      m.Field(o => o.approvedByCredit);
			      m.Field(o => o.rejectedByCredit);
			      m.Field(o => o.ordersCreated);
			      m.Field(o => o.jobclosed);
		      })
		      .PageSize(1)
		      .Read(read => read.Action("GetJobSheetStatusById", "Projects", new { JobSheetId = "#=JobSheetId#" }))
	      )
	      .ToClientTemplate())
</script>

@(Html.Kendo().Window().Name("checklistWindow")
              .Title("Status")
              .Visible(false)
              .Modal(true)
              .Title("Status")
              .Visible(false)
              .Modal(true)
              .Width(510)
              .Height(270)
              .Draggable(true))

@(Html.Kendo().Window()
              .Name("checklistDialog")
              .Title("Project Checklist")
              .Visible(false)
              .Modal(true)
              .Content(@<text>@Html.Partial("~/Views/Shared/Checklist.cshtml")</text>))
              
<div class="modal fade" id="VerifiedVoltageModel" style="z-index: 999999" tabindex="-1" role="dialog" aria-labelledby="VerifiedVoltageTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="VerifiedVoltageTitle">Verified Voltage</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.Partial("~/Views/Shared/Voltage.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var clickedCheck;
    var didSave = false;
    var lastVV;

    function cancelVV() {
        if (lastVV !== undefined) {
            lastVV.data("kendoMobileSwitch").toggle();
            lastVV = undefined;
        }
    }

    function verifyVoltage(jobSheetId, checked) {
        if (checked) {
            $("#id").val(jobSheetId);
            $("#VerifiedVoltageVal").val(true);
            $('#VerifiedVoltageModel').modal('show');
        }
        else if (checked === false) {
            var JobSheetViewModel = new Object();
            JobSheetViewModel.id = jobSheetId;
            JobSheetViewModel.VerifiedVoltageVal = false;
            kendo.confirm("Are you Sure you want to update Voltage Verified.").then(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("VerifiedVoltage_Update", "Projects")",
                    data: JSON.stringify(JobSheetViewModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                    },
                    failure: function (response) {

                    },
                    error: function (response) {

                    },
                });
            }, function () {
                cancelVV();
            });
        }
    }

    function showcheckBox(chk) {
        $(chk).siblings().show();
        $(chk).hide();
    }

    function dataBound(e) {
        var self = this;
        $.each(this.tbody.find(".switchBox"), function (a, b) {
            $(b).kendoMobileSwitch({
                onLabel: "YES",
                offLabel: "NO",
                change: function (x) {
                    var dataItem = self.dataItem($(b).closest("tr"));
                    lastVV = $(b);
                    verifyVoltage(dataItem.JobSheetId, x.checked);
                }
            });
        });
    }

    function oncheckBox(jobid, status, chk) {
        // debugger
        $(chk).siblings().show();
        $(chk).hide();
        $.ajax({
            type: "GET",
            url: "@Url.Action("UpdateStatusById", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { JobSheetId: jobid, Status: status, Checked: $(chk).prop('checked') },
            success: function (response) {
                if (response == 'True') {
                    $(chk).siblings().show();
                    if ($(chk).prop('checked')) {
                        $("#jobList").data("kendoGrid").dataSource.read();
                        $("#Top10JobChecklist").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $("#jobList").data("kendoGrid").dataSource.read();
                        $("#Top10JobChecklist").data("kendoGrid").dataSource.read();
                    }
                }
                else if (response == 'False') {

                    $("#jobList").data("kendoGrid").dataSource.read();
                    $("#Top10JobChecklist").data("kendoGrid").dataSource.read();
                }
                else if (response == 'NotVerified') {
                    $("#jobList").data("kendoGrid").dataSource.read();
                    $("#Top10JobChecklist").data("kendoGrid").dataSource.read();


                }
            },
            failure: function (response) {
                $("#jobList").data("kendoGrid").dataSource.read();
                kendo.alert("failure");
            },
            error: function (response) {
                $("#jobList").data("kendoGrid").dataSource.read();
                kendo.alert("error");
            }
        });

    }

    var didOpenChecklist = false;

    function openChecklist() {
        var wnd = $("#checklistDialog").data("kendoWindow");
        wnd.setOptions({ width: "90%" });
        wnd.center().open();
        if (!didOpenChecklist) {
            $("#jobList").data("kendoGrid").dataSource.read();
            didOpenChecklist = true;
        }
    }

    function request_end(e) {
        var theDialog = $("#checklistDialog").data("kendoWindow");
        if (theDialog.element.is(":hidden")) {
            setTimeout(function () { theDialog.center() }, 100);
        }
    }

    $(document).ready(function (e) {
        $("#view-reports").click(function (e) {
            window.location.href = "@Url.Action("Index", "Reports")";
        });

        $("#view-checklist").click(function (e) {
            openChecklist();
        });

        $("#edit-projects").click(function (e) {
            window.location.href = "@Url.Action("Index", "Projects")";
        });

        $("#new-project").click(function (e) {
            window.location.href = "@Url.Action("Index", "Projects", new {createJob = true})";
        });
    });

    function showChecklist(e) {
        e.preventDefault();
        var Checklist = kendo.template($("#jobsheetChecklistTemplete").html());

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#checklistWindow").data("kendoWindow");

        wnd.content(Checklist(dataItem));
        wnd.center().open();
    }

    function onSearch() {

    }

    var newAccts = false;
    var newJobs = false;
    var awaitingVV = false;
    var returnOfSubmittals = false;
    var creditApproval = false;

    function didExpand(e) {
        switch (e.item.innerText.split("\n")[0]) {
            case "New Accounts Created":
                if (!newAccts) {
                    $("#newAcctsGrid").data("kendoGrid").dataSource.read();
                    newAccts = true;
                }
                break;

            case "New Projects Entered":
                if (!newJobs) {
                    $("#newJobsGrid").data("kendoGrid").dataSource.read();
                    newJobs = true;
                }
                break;

            case "Awaiting Voltage Verification":
                if (!awaitingVV) {
                    $("#awaitingVVGrid").data("kendoGrid").dataSource.read();
                    awaitingVV = true;
                }
                break;

            case "Awaiting Return of Submittals":
                if (!returnOfSubmittals) {
                    $("#returnOfSubmittalsGrid").data("kendoGrid").dataSource.read();
                    returnOfSubmittals = true;
                }
                break;

            case "Awaiting Credit Approval":
                if (!creditApproval) {
                    $("#creditApprovalGrid").data("kendoGrid").dataSource.read();
                    creditApproval = true;
                }
                break;
        }
    }

    function checklistMouseover(e) {
        var title = $(e).find('span').attr('title');
        $(e).find('p').text(title).css("display", "block");
    }
    function checklistMouseout(e) {
        $(e).find('p').css("display", "none");
    }
</script>

<style>
    .action-buttons {
        margin-left: 30%;
        margin-right: 30%;
    }

    .small-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #jobList .k-grid-header .k-header .verticalText, #Top10JobChecklist .k-grid-header .k-header .verticalText {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        transform: translate(0,100%) rotate(-90deg);
        transform-origin: 0 0;
        position: absolute;
        top: 140px;
    }

    #jobList .k-grid-header .k-header, #Top10JobChecklist .k-grid-header .k-header {
        height: 150px !important;
    }

    .mastertooltip {
        display: none;
        position: absolute;
        border: 1px solid #19468d;
        background-color: #19468d;
        border-radius: 5px;
        padding: 10px;
        color: #fff !important;
        z-index: 999999;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            -ms-opacity: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .addt-action {
        cursor: pointer;
    }

    .inner {
        text-align: center;
        height: 50px;
    }
</style>
