﻿/*.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle.btn-lg {
        width: 40px;
        height: 40px;
        padding: 10px 10px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-sm {
        width: 50px;
        height: 30px;
        padding: 10px 10px;
        font-size: 15px;
        /*line-height: 1.33;*/
/*border-radius: 25px;
    }

.glyphicon {
    font-size: 40px;
    color: #19468d !important;
}*/
/*.btn-link:hover, .btn-link:focus {
    color: #ffffff !important;
    background-color: #19468d !important;
    border-color: #19468d !important;
}*/
/*.glyphicon-active {
    font-size: 40px;
    color: #ffffff !important;
}

.btn-circle.active {
    /*color: #ffffff !important;*/
/*background-color: #19468d !important;
    border-color: #19468d !important;
}

.divhelpnotificationmargin {
    float: right;
    margin-top: -25px;
    padding-bottom: 10px;
}

.divmenuleft {
    text-align: left !important;
}

.header {
    text-align: center !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: -45px;
    background-color: #19468d !important;
}

.footer {
    text-align: center !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10px;
    background-color: #19468d !important;
}


@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
    font-family: 'Lato', serif;
}*/

.glyphicon {
    font-size: 30px;
    color: #19468d !important;
}

.divhelpnotificationmargin {
    float: right;
    margin-top: -25px;
    padding-bottom: 10px;
}


.navbar-default {
    font-size: 1.0em;
    font-weight: 400;
    background-color: #F5F5F5;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
   
}

    .navbar-default .navbar-nav > li > a {
        color: red;
    }

        .navbar-default .navbar-nav > li > a:hover {

            color: #19468d;
        }

    .navbar-default .navbar-brand  {
        color: #19468d;
    }

        .navbar-default .navbar-brand:hover {
            color: #19468d;
            /*text-shadow: 1px -1px 8px #b3e9ff;*/
        }

    .navbar-default .navbar-toggle {
        border: none;

    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #F5F5F5;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #19468d;
    }

.dropdown-menu {
    background-color: #19468d;
    color: white;
    border: 0px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

    .dropdown-menu > li > a {
        background-color: #ffffff;
        color: white;
    }

        /*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {*/
            /*background-color: #19468d;
            color: white;*/
        /*}*/

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #19468d;
    }

@media (max-width: 767px) {
    .dropdown-menu > li > a {
        /*background-color: #19468d !important;*/
        color: #ffffff;
    }

        /*.dropdown-menu > li > a:hover {
            color: #ffffff;
        }*/

    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ffffff;
        background-color: transparent;
    }*/

    /*.dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #ffffff;
    }*/
}
/*link class**/
nav .navbar-nav li a, nav .navbar-nav li button {
    color: #19468d !important;
    font-size: 1.15em;
    font-weight: 400;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}

    nav .navbar-nav li button {
        background-color: #f5f5f5;
    }
    .menudiv {
        width: 100%;
        min-height: 40px;
        padding: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        background: #F5F5F5 !important;
    }
.maindiv {
    
    padding: 0px;
    padding-right: 0px;
    background-color: #F0F0F0 !important;
    border-radius: 5px;
}
.menulink {
    /*background: #F5F5F5 !important;*/
    color: #19468d !important;
    font-size: 1.15em;
    font-weight: 400;
}

.glyphicon-menu{
    font-size: 15px;
    color: #19468d !important;
}

.glyphicon-menu-lg{
    font-size: 18px;
    color: #19468d !important;
}

.glyphicon-page {
    font-size: 22px;
    color: #19468d !important;
}
.glyphicon-help {
    font-size: 25px;
    
}

.glyphicon-alert-red {
    font-size: 22px;
    color: red !important;
}

    /* END Media Query */

