﻿body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url("../Images/img-body-new.jpg");
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    cursor: pointer !important;
}

.dropdown-menu {
    width: 350px !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/*Start other css*/
.paddingtop {
    padding-top: 40px;
}

.rightbox-extra {
    width: 98%;
    height: 540px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 5px;
}

#feedbackView {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 1000;
    cursor: pointer;
}
/*End*/

.page-container {
    position: relative;
    min-height: 99vh;
    display: inline-block;
}

.page-container > .maindiv {
    margin-top: 15px;
    margin-bottom: calc(91px + 15px);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F0F0F0 !important;
    border-radius: 5px;
}

/*Start Kendo Grid UI Changes*/
.k-state-active {
    background-color: transparent !important;
    border-color: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.k-grid-link {
    color: DodgerBlue;
}

.k-state-selected > td > .k-grid-link {
    color: #fff !important;
    text-decoration: unset !important;
}

.k-state-selected > td > .k-grid-link:hover {
    text-shadow: 0 0 5px #fff !important;
}

    .k-state-active > .k-i-filter {
        border: 2px solid #dadada;
        border-radius: 7px;
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }

.k-grid {
    font-size: 12px;
}
.k-grid td {
        line-height: 2em;
    }
.k-grouping-header, .k-grid-toolbar {
    background-color: #19468d !important;
    color: #FFFFFF !important;
}

.k-grouping-header > div > .k-link {
    color: #FFFFFF !important;
 }

.rightbox > label {
    color: #19468d !important;
}

.k-tabstrip-wrapper > div > ul > li > span > .k-image {
    width: 40px !important;
    height: 40px !important;
}

.k-grid-toolbar > .k-button {
    border-radius: 4px !important;
    border-color: #19468d !important;
    color: #FFFFFF !important;
    background-color: #19468d !important;
    background-position: 50% 50%;
    /*height: 20px !important;*/
}

.k-grid-header th.k-header {
    background-color: #19468d !important;
    height: 20px !important;
}

.form-control-feedback {
    /*top: -8px !important;
    right: 3px !important;*/
}

/*.button-search {
    color: #333 !important;
    background-color: #fff !important;
    background-position: 50% 50% !important;
    padding: unset !important;
    border-radius: 0px !important;
    border-color: #fff !important;
}*/

.k-grid-header th.k-header .k-link, .k-grid-header th.k-header .k-icon {
        color: #FFFFFF !important;
    }

.k-command-cell .k-button {
    color: #19468d !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    outline: none;
    border: none;
}

/*End*/
/*Start navbar extra css*/
.navbar-nav > li > a, .navbar-header > a {
    color: #fff !important;
}

.navbar-nav > li > a:hover, .navbar-header > a:hover {
    color: #969696 !important;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.navbar-extra {
    background-color: #19468d !important;
}

.navbar-default {
    margin-bottom: unset !important;
}
/**/

.fa-history {
    font-size: 20px;
    color: #19468d !important;
}
.fa-calendar {
    font-size: 20px;
    color: #19468d !important;
}
.fa-pencil {
    font-size: 20px;
    color: #19468d !important;
}
/*Spinner*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.k-grid-add {
    float: right !important;
}

.formHeader {
    text-align: left !important;
    background-color: #F0F0F0 !important;
    color: #000000 !important;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 5px;
    font-family: "Arial";
}
.required {
    color: red;
}
.form-group label {
    font-size: 0.8em;
}
.overrideheight {
    height: 90px;
    width:100%;
}
#grid .k-grid-toolbar {
    padding: .6em 1.3em .6em .4em;
}

.refreshBtnContainer {
    display: inline-block;
}

.toolbar {
    /*/*float: left;
    display: inline-block;*/
    padding: 5px 5px;
    float:left !important; 
    
}
.toolbar-right {
    float: right !important;
    padding: 5px 5px;
   
}
.formlabel {
    text-align: left !important;
    color: #000 !important;
    padding: 5px 5px;
    font-size: 12px;
}

.formDropDown {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.forTooltips {
    width: 400px;
    height: 400px;
}

.k-tooltip-grid {
    background: #19468d !important;
    text-align: left !important;
    color: #FFFFFF !important;
    padding: 5px 0px;
    font-size: 6px;
    width: 300px;
    height: 40px;
}

.k-callout-n {
    border-bottom-color: #19468d !important;
}

.sheetradio div {
    clear: both;
    overflow: hidden;
}

.sheetradio label {
    width: 90%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-size: 12px;
}

.sheetradio input[type="radio"]:empty,
.sheetradio input[type="checkbox"]:empty {
    display: none;
}

    .sheetradio input[type="radio"]:empty ~ label,
    .sheetradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .sheetradio input[type="radio"]:empty ~ label:before,
        .sheetradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

.sheetradio input[type="radio"]:hover:not(:checked) ~ label,
.sheetradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .sheetradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .sheetradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

.sheetradio input[type="radio"]:checked ~ label,
.sheetradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .sheetradio input[type="radio"]:checked ~ label:before,
    .sheetradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

.sheetradio input[type="radio"]:focus ~ label:before,
.sheetradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.sheetradio-default input[type="radio"]:checked ~ label:before,
.sheetradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.sheetradio-primary input[type="radio"]:checked ~ label:before,
.sheetradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.sheetradio-success input[type="radio"]:checked ~ label:before,
.sheetradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.sheetradio-danger input[type="radio"]:checked ~ label:before,
.sheetradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.sheetradio-warning input[type="radio"]:checked ~ label:before,
.sheetradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.sheetradio-info input[type="radio"]:checked ~ label:before,
.sheetradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.formdisable {
    background-color: #F0F0F0 !important;
}

.readonly-checkbox {
    pointer-events: none;
    -ms-pointer-events: none;
    tabindex: -1;
}
.k-tooltip-grid-expand {
    text-align: left !important;
    color: #FFFFFF !important;
    padding: 5px 0px;
    font-size: 3px;
    width: 100px;
    height: 20px;
}
.glyphicon.glyphicon-bell {
    font-size: 20px;
    color: #FFFFFF !important;
}

.labeltext {
    font-size: 16px !important;
    font-weight:normal;
    color: black !important;
}

.contenttext {
    font-size: 16px !important;
    color: #19468d !important;
}

.spantext {
    font-size: 20px !important;
    font-weight:bold;
}
.EditHeader {
    color: #fff !important;
    background: #19468d !important;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#JobSheetWindow > .container {
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
}
.JobSheetdiv {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    /*padding-left: 80px;*/
   
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}