﻿
@{
    ViewBag.Title = "User Filters";
}
@model IQueryable<PM_Website.Models.UserFilterViewModel>
<div class="row container maindiv">

    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-filter glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div style="float:right !important;margin-top:-4px;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign"></i></button>
                @(Html.Kendo().Window()
                                                                                                                                                                                                                                     .Name("HelpWindow")
                                                                                                                                                                                                                                     .Title("Help")
                                                                                                                                                                                                                                     .Visible(false)
                                                                                                                                                                                                                                     .Modal(true)
                                                                                                                                                                                                                                     .Draggable(true)
                                                                                                                                                                                                                                     .Width(630)
                                                                                                                                                                                                                                     .Height(115)


                )
            </div>

            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>


        </div>

    </div>
    <div class="col-xs-12">


    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>

    </div>

    <div class="col-lg-12">
        <div class="col-xs-12">
            @(Html.Kendo().Grid(Model).Name("userFilterGrid")

                                                                                                                                                                                                                                        .Columns(columns =>
                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                            columns.Bound(p => p.FilterName).Title("FilterName");
                                                                                                                                                                                                                                            columns.Bound(p => p.IsDefault).Title("IsDefault").ClientTemplate("<input type='checkbox' id='check#=UserFilterId#' #if(IsDefault){#checked#}# class='switchBox' onclick=\"checkIsDefault(#=UserId#,#=UserFilterId#,this)\">");
                                                                                                                                                                                                                                            columns.Bound(p => p.UserFilterId).Title("Delete").ClientTemplate("<a style='font-size:18px; color:red; cursor:pointer; text-decoration:none;' onclick='deleteFilter(#=UserFilterId#)'>X</a>");

                                                                                                                                                                                                                                        })
                                                                                                                                                                                                                                        .Pageable()
                                                                                                                                                                                                                                        .Sortable()
                                                                                                                                                                                                                                        .Groupable()
                                                                                                                                                                                                                                        .Filterable()
                                                                                                                                                                                                                                        .Scrollable()

                                                                                                                                                                                                                                        .HtmlAttributes(new { style = "height:750px;" })
                                                                                                                                                                                                                                                   //.Editable(editable => editable.Mode(GridEditMode.InLine))                                                                                                                     
                                                                                                                                                                                                                                                   .DataSource
                                                                                                                                                                                                                                                   (
                                                                                                                                                                                                                                                   dataSource => dataSource
                                                                                                                                                                                                                                                   .Ajax()
                                                                                                                                                                                                                                                   .ServerOperation(true)
                                                                                                                                                                                                                                                   .PageSize(20)
                                                                                                                                                                                                                                                   .Read(read => read.Action("UserFilters_Read", "User"))
                                                                                                                                                                                                                                                   .Events(ev => ev
                                                                                                                                                                                                                                                   .Sync("sync_handler")
                                                                                                                                                                                                                                                   .Error("error_handler")
                                                                                                                                                                                                                                                   )
                                                                                                                                                                                                                                                   )
                                                                                                                                                                                                                                                   .Resizable(resize => resize.Columns(true))
            //.Reorderable(reorder => reorder.Columns(true))
            )
        </div>

    </div>

    <input id="UserIsactive" name="UserIsactive" type="hidden" value="True" />
</div>
<script language="javascript">
    var lastVV;
    function OnRequestEnd_Grid(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
            var self = this;
            $.each(this.tbody.find(".switchBox"), function (a, b) {
                $(b).kendoMobileSwitch({
                    onLabel: "YES",
                    offLabel: "NO",
                    change: function (x) {
                        var dataItem = self.dataItem($(b).closest("tr"));
                        lastVV = $(b);
                        checkIsDefault(dataItem.UserId, x.checked);
                    }
                });
            });
        });
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            kendo.alert(message);
        }
    }
    function sync_handler(e) {
        this.read();
    }    

    function checkIsDefault(userId,filterId, e) {
       
        //if (e.checked) {
        //    alert("checked");
        //}
        //else if (e.checked === false) {
        //    alert("uncheck");
        //}
        kendo.confirm("Are you Sure you want to change the default.").then(function () {
            $.ajax({
                type: "GET",
                url: "/User/IsDefault_Update",
                data: { UserId: userId, FilterId: filterId, check: e.checked},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
                failure: function (response) {
                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
                error: function (response) {
                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                },
            });
        }, function () {
            $("#userFilterGrid").data("kendoGrid").dataSource.read();
        });
    }

    function deleteFilter(id) {
        var fid = id;
        kendo.confirm("Are you sure you want to delete filter - this will remove the filter from the system completely")
            .then(function () {
                $.ajax({
                    type: "GET",
                    url: "/User/DeleteFilterById",
                    contentType: "application/json; charset=utf-8",
                    data: { UserFilterId: fid },
                    success: function (response) {
                        //$("#jobSheetGrid").data("kendoGrid").dataSource.read();
                        $("#userFilterGrid").data("kendoGrid").dataSource.read();
                    },
                    failure: function (response) {
                        // $("#jobSheetGrid").data("kendoGrid").dataSource.read();
                        $("#userFilterGrid").data("kendoGrid").dataSource.read();
                    },
                    error: function (response) {
                        //$("#jobSheetGrid").data("kendoGrid").dataSource.read();
                        $("#userFilterGrid").data("kendoGrid").dataSource.read();
                    }
                });
            },
                function () {
                    $("#userFilterGrid").data("kendoGrid").dataSource.read();
                });
    }

    $(document).ready(function () {
       
        $("#userFilterGrid").data("kendoGrid").dataSource.read();

    }); 


    function onSearch() {
        var q = $("#txtSearchString").val();
        if (q == "") {
            $("#userFilterGrid").data("kendoGrid").dataSource.filter({});
        }
        else {
            var grid = $("#userFilterGrid").data("kendoGrid");
            var fieldfilters;            
            
                fieldfilters = [
                    { field: "FilterName", operator: "contains", value: q }
                ]
            

            grid.dataSource.query({
                page: 1,
                pageSize: 20,
                filter: {
                    logic: "or",
                    filters: fieldfilters
                }
            });
        }

    }
</script>
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
            display: inline;
        }

    .k-switch {
        border-radius: 5px;
        cursor: pointer;
    }

    .k-switch-off .k-switch-handle {
        background-color: red;
        margin: 0;
    }

    .k-switch-on .k-switch-handle {
        background-color: #19468d;
        margin: 0;
    }

    .k-state-disabled {
        opacity: unset;
        color: unset;
    }
</style>
<style>
    #container {
        height: 400px;
        width: 6000px;
        position: absolute;
        border: 1px solid rgba(20,53,80,0.14);
    }
</style>

