﻿@{
    ViewBag.Title = "User Email Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PM_Website.Models.EmailOutageModel
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="fa fa-pencil glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                                                                      .Name("HelpWindow")
                                                                      .Title("Help")
                                                                      .Visible(false)
                                                                      .Modal(true)
                                                                      .Draggable(true)
                                                                      .Width(630)
                                                                      .Height(115)

                )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        @*<div class="col-lg-2">
            </div>*@
        <!--Body Content Goes Here-->

        <form id="VVForm1">

            <div class="col-lg-12">
                <div class="modal-body">
                    @*<div id="errors" class="control-label" style="color:red"></div>*@
                    <span id="spanMessage" style="display:none">
                        <label id="Messge" class="control-label" style="color:red"></label>
                    </span>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-12">
                            <label class="control-label">To Email:<span style="color:red">*</span></label><br />
                            <div style="float:right"><span class="k-invalid-msg" data-for="ToEmailList"></span></div>
                            <input class="form-control" id="ToEmail" name="ToEmail" type="hidden" value="" />
                            @(Html.Kendo().MultiSelect()
                                                                                            .Name("ToEmailList")
                                                                                            .DataTextField("Name")
                                                                                            .DataValueField("Email")
                                                                                            .Value(new[] { new { Name = "All User", Email = "All" } })
                                                                                            .Placeholder("Select User...")
                                                                                            .AutoBind(false)
                                                                                            .DataSource(source => source
                                                                                                                 .Custom()

                                                                                                                 // .Group(g => g.Add("UserRole.RoleName", typeof(string)))
                                                                                                                 .Transport(transport => transport
                                                                                                                   .Read(read =>
                                                                                                                   {
                                                                                                                       read.Action("GetUser", "EmailOutage");


                                                                                                                   }))
                                                                                                                 .ServerFiltering(false))
                                                                                                                 .HtmlAttributes(new { style = "width: 100%", required = "required", data_message = "To email address is required." })


                            )
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-12">
                            <label class="control-label">CC:</label>
                            @(Html.Kendo().MultiSelect()
                                                                                                    .Name("CCEmail")
                                                                                                    .DataTextField("Name")
                                                                                                    .DataValueField("Email")
                                                                                                    .Placeholder("Select User...")
                                                                                                     .AutoBind(false)
                                                                                                    .DataSource(source => source
                                                                                                                         .Custom()
                                                                                                                          .Transport(transport => transport
                                                                                                                           .Read(read =>
                                                                                                                           {
                                                                                                                               read.Action("GetUser", "EmailOutage");


                                                                                                                           }))
                                                                                                                         .ServerFiltering(true))
                                                                                                                         .HtmlAttributes(new { style = "width: 100%" })


                            )
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-6">
                            <label class="control-label">Subject:<span style="color:red">*</span></label><br />
                            <div style="float:left"><span class="k-invalid-msg" data-for="Subject"></span></div>
                            @(Html.Kendo().TextBox()
                                                                                                                      .Name("Subject")
                                                                                                                      .HtmlAttributes(new
                                                                                                                      {
                                                                                                                          placeholder = "PM Tracker Website Outage Email Notification",
                                                                                                                          required = "required",
                                                                                                                          data_message = "Subject is required.",
                                                                                                                          style = "width: 100%"
                                                                                                                      }))
                        </div>

                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-12">
                            <label class="control-label">Attachment:</label>
                            <div class="fileUpload">
                                <span>Browse</span>
                                <input type="file" id="uploadedFiles" name="uploadedFiles" class="upload vv-upload" />

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Message:<span style="color:red">*</span></label><br />
                            <div style="float:left"><span class="k-invalid-msg" data-for="Message"></span></div>

                            @(Html.TextArea("Message", "", new
                                {
                                    style = "width: 100%; height: 400px; padding-left: 10px; padding-right: 10px; resize: none;",
                                    required = "required",
                                    data_message = "Message is required."
                                }))
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submit-email" class="btn btn-primary">Send</button>

                </div>
            </div>
            <div class="col-lg-12" style="height:10px">
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-12" style="height:10px">
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // create Editor from textarea HTML element with default set of tools
        $("#Message").kendoEditor({
            resizable: {
                content: true,
                toolbar: true,
                encoded: false
            }
        });

    });
    var validatable = $("#VVForm1").kendoValidator().data("kendoValidator");


    $("#submit-email").click(function (e) {
        var spanMessage = document.getElementById("spanMessage");
        
        var selMulti = $.map($("#ToEmailList option:selected"), function (el, i) {
            return $(el).val();
        });
        document.getElementById("ToEmail").value = selMulti.join(", ");
        var formData = new FormData($("#VVForm1")[0]);

        if (validatable.validate() === false) {
        
        }
        else {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendEmailNotification", "EmailOutage")",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response != null) {
                        if (spanMessage.style.display == "none")
                        {
                            spanMessage.style.display = "";
                        }
                        $("#Messge").text(response);
                    }
                },
                failure: function (response) {
                    if (spanMessage.style.display == "none")
                    {
                        spanMessage.style.display = "";
                    }
                    $("#Messge").text(response);
                },
                error: function (response) {
                    if (spanMessage.style.display == "none")
                    {
                        spanMessage.style.display = "";
                    }
                    $("#Messge").text(response);
                }
            });

        }

    });
</script>

