﻿
@{
    ViewBag.Title = "SAP Report";
}

<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-question-sign glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float: right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                      .Name("HelpWindow")
                      .Title("Help")
                      .Visible(false)
                      .Modal(true)
                      .Draggable(true)
                      .Width(630)
                      .Height(115)

                      )
            </div>
            <button class="btn btn-default" id="upload-sap" style="float: right">Upload SAP</button>
            <div style="float:right !important;" class="has-feedback has-feedback-right">
                <input type="text" class="form-control" id="txtSearchString" placeholder="Search" style="display:inline-block !important; min-width: 0;width: 150px !important;" />
                <i class="form-control-feedback glyphicon glyphicon-search glyphicon-page"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--Body Content Goes Here-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    @(Html.Kendo().Grid<PM_Website.Models.CarrierSapReportModel>()
                          .Name("sapReport")
                          .Scrollable()
                          .Filterable()
                          .Sortable()
                          .Groupable()
                          .Pageable()
                          .HtmlAttributes(new {style = "height: 750px"})
                          .ClientDetailTemplateId("lineItemsTemplate")
                          .Events(ev =>
                          {
                              ev.DetailExpand("showDetail");
                              ev.DetailCollapse("collapseDetail");
                          })
                          .ToolBar(tb=>tb.Template(@<text>
                                                       <div class="row">
                                                           
                                                       </div>
                                                    </text>))
                          .Columns(columns =>
                          {
                              columns.Bound(c => c.SalesOrder);
                              columns.Bound(c => c.PurchaseOrder);
                              columns.Bound(c => c.Consignee);
                              columns.Bound(c => c.OverallOrderStatus);
                              columns.Bound(c => c.DateEntered).Format("{0:MM/dd/yyyy h:mm tt}");
                              columns.Bound(c => c.LastChanged).Format("{0:MM/dd/yyyy}");
                          })
                          .DataSource(ds=>ds
                              .Ajax()
                              .Model(model =>
                              {
                                  model.Field("SalesOrder", typeof(string));
                                  model.Field("PurchaseOrder", typeof(string));
                              })
                              .Batch(true)
                              .ServerOperation(false)
                              .Sort(sort=>sort.Add("SalesOrder").Ascending())
                              .PageSize(20)
                              .Read(r=>r.Action("GetSAPReport","CarrierSapReport"))
                          )
                          )
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-body">
        <div class="spinner"></div>
        <h3>Loading...</h3>
    </div>
</div>

<script id="lineItemsTemplate" type="text/kendo-tmpl">
        @(Html.Kendo().Grid<PM_Website.Models.CarrierSapReportLineModel>()
              .Name("sapReportLines#=SalesOrder#")
              .Columns(columns =>
              {
                  columns.Bound(c => c.LineNumber);
                  columns.Bound(c => c.Material);
                  columns.Bound(c => c.Description);
                  columns.Bound(c => c.OrderQty);
                  columns.Bound(c => c.ShippedQty);
                  columns.Bound(c => c.Rate);
                  columns.Bound(c => c.NetPrice);
                  columns.Bound(c => c.ItemValue);
                  columns.Bound(c => c.CRSD).Format("{0:MM/dd/yyyy}");
                  columns.Bound(c => c.CPSD).Format("{0:MM/dd/yyyy}");
                  columns.Bound(c => c.PrevCPSD).Format("{0:MM/dd/yyyy}");
              })
              .Scrollable()
              .Pageable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .ServerOperation(true)
                  .Model(m =>
                  {
                      m.Field(o => o.SalesOrder);
                      m.Field(o => o.Material);
                      m.Field(o => o.Description);
                      m.Field(o => o.OrderQty);
                      m.Field(o => o.ShippedQty);
                      m.Field(o => o.Rate);
                      m.Field(o => o.NetPrice);
                      m.Field(o => o.ItemValue);
                      m.Field(o => o.CRSD);
                      m.Field(o => o.CPSD);
                      m.Field(o => o.PrevCPSD);
                  })
                  .PageSize(10)
                  .Read(read => read.Action("GetSAPReportLineItems", "CarrierSapReport", new { SalesOrder = "#=SalesOrder#" }))
            )
              .ToClientTemplate()
        )
</script>

<style>
    .k-grid-tooltip {
        background-color: #19468d !important;
    }

    .modal-body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        text-align: center;
    }

    .spinner {
        height:60px;
        width:60px;
        display: inline-block;
        -webkit-animation: rotation .6s infinite linear;
        -moz-animation: rotation .6s infinite linear;
        -o-animation: rotation .6s infinite linear;
        animation: rotation .6s infinite linear;
        border-left:6px solid rgba(0,174,239,.15);
        border-right:6px solid rgba(0,174,239,.15);
        border-bottom:6px solid rgba(0,174,239,.15);
        border-top:6px solid rgba(0,174,239,.8);
        border-radius:100%;
        box-shadow: 0 0 20px gray;
    }

    @@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
    }
    @@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
    }
    @@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
    }
    @@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
    }
</style>

<script>
    var lastElement;
    $("#sapReport").kendoTooltip(
        {
            filter: ".k-hierarchy-cell",
            content: function (e) {
                return "View Order Lines";
            },
            show: jobSheetGridExpand_onShow
        });

    function jobSheetGridExpand_onShow(e) {
        this.popup.element.addClass("k-grid-tooltip");
    }

    function showDetail(e) {
        if (lastElement != undefined) {
            $("#sapReport").data("kendoGrid").collapseRow(lastElement);
        }
        lastElement = e.masterRow[0];
    }

    function collapseDetail(e) {
        if (lastElement != undefined && lastElement == e.masterRow[0]) {
            lastElement = undefined;
        }
    }

    function onSearch() {
        var q = $("#txtSearchString").val();
        var grid = $("#sapReport").data("kendoGrid");
        if (q === "") {
            grid.dataSource.filter({});
        }
        else {
            if (isNaN(q)) {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "OverallOrderStatus", operator: "contains", value: q },
                            { field: "Consignee", operator: "contains", value: q }
                        ]
                    }
                });
            }
            else {
                grid.dataSource.query({
                    page: 1,
                    pageSize: 20,
                    filter: {
                        logic: "or",
                        filters: [
                            { field: "SalesOrder", operator: "startswith", value: q },
                            { field: "PurchaseOrder", operator: "startswith", value: q },
                            { field: "OverallOrderStatus", operator: "contains", value: q },
                            { field: "Consignee", operator: "contains", value: q }
                        ]
                    }
                });
            }
        }
    }

    $("#upload-sap").click(function () {
        $("#loadingModal").modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
        $.ajax({
            url: "@Url.Action("UploadSAP", "CarrierSapReport")",
            type: "GET",
            success: function() {
                $("#loadingModal").modal("hide");
            },
            error: function() {
                $("#loadingModal").modal("hide");
            }
        });
    });
</script>