﻿@{
    ViewBag.Title = "Job Checklist";
}
<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-check glyphicon-menu-lg" aria-hidden="true"><h2> Job Checklist  </h2></span></div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                              .Name("HelpWindow")
                              .Title("Help")
                              .Visible(false)
                              .Modal(true)
                              .Draggable(true)
                              .Width(630)
                              .Height(115)

                )
            </div>

        </div>
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        @Html.Partial("~/Views/Shared/Checklist.cshtml", new ViewDataDictionary { { "type", "CheckList" } })
    </div>
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal fade" id="VerifiedVoltageModel" tabindex="-1" role="dialog" aria-labelledby="VerifiedVoltageTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="VerifiedVoltageTitle">Verified Voltage</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    @Html.Partial("~/Views/Shared/Voltage.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#jobList').data("kendoGrid").dataSource.read();
    })
</script>