﻿
@{
    ViewBag.Title = "Manage Help";
}
<script src="~/Content/codemirror.js"></script>
<link rel="stylesheet" href="~/Content/codemirror.css">
<script src="~/Content/addon/hint/show-hint.js"></script>
<script src="~/Content/addon/hint/html-hint.js"></script>
<script src="~/Content/addon/hint/xml-hint.js"></script>
<link rel="stylesheet" href="~/Content/addon/hint/show-hint.css">
<script src="~/Content/mode/xml/xml.js"></script>

<div class="row container maindiv">
    <div class="col-lg-12" style="height:10px">
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4">
            <div class="col"><span class="glyphicon glyphicon-question-sign glyphicon-menu-lg" aria-hidden="true"><h2> @ViewBag.Title  </h2></span></div>
        </div>

        <div class="col-sm-4">
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-4">
            <div style="float:right !important;">
                <button id="helpTooltip" type="button" data-toggle="tooltip" data-placement="top" onfocus="LoadHelpFile()" class="btn btn-link btn-circle btn-sm"><i class="glyphicon glyphicon-question-sign glyphicon-help"></i></button>
                @(Html.Kendo().Window()
                      .Name("HelpWindow")
                      .Title("Help")
                      .Visible(false)
                      .Modal(true)
                      .Draggable(true)
                      .Width(630)
                      .Height(115)

                      )
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--Body Content Goes Here-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
                                  .Name("helpPageDropDown")
                                  .DataTextField("PageName")
                                  .OptionLabel("Select A Page")
                                  .DataValueField("Id")
                                  .HtmlAttributes(new { style = "width: 100%" })
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetHelpPages", "ManageHelp");
                                      });
                                  })
                                  .Events(ev =>
                                  {
                                      ev.Change("DropDownChanged");
                                      ev.DataBound("finish_loading");
                                  }))
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="control-label" for="help-topic">Help Topic: </label>
                    <input type="text" class="form-control" id="help-topic" disabled="disabled" placeholder="Help Page Topic" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="control-label" for="helpTextEditor">Help Body: </label>
                    <textarea id="helpTextEditor"></textarea>
                </div>
                @*@(Html.Kendo().Editor()
                .Name("helpTextEditor")
                .HtmlAttributes(new { style = "height:640px", aria_label = "editor" })
                .Resizable(false)
                .Value("")
                .Tools(tools => tools
                    .CustomButton(cb => cb.Name("save").ToolTip("Save the Help File").Exec("SaveHelpFile"))
                ))*@
            </div>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary" id="save-button" style="float: right !important;">Save</button>
        </div>
        <div class="col-lg-12" style="height:10px">
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<style>
    .CodeMirror {
        /* Bootstrap Settings */
        box-sizing: border-box;
        margin: 0;
        font: inherit;
        overflow: auto;
        font-family: inherit;
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        /* Code Mirror Settings */
        font-family: monospace;
        position: relative;
        overflow: hidden;
    }

    .CodeMirror-focused {
        /* Bootstrap Settings */
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<script>
    var codeMirror;
    var hasSaved = true;
    var originalText;

    if (!hasSaved) {
        window.onbeforeunload = function() {
            return true;
        };
    } else {
        window.onbeforeunload = null;
    };

    $(document).ready(function () {
        $(".k-i-save").parent().parent().css("float", "right");

        codeMirror = CodeMirror.fromTextArea(document.getElementById("helpTextEditor"),
            {
                mode: "text/html",
                lineNumbers: true
            });

        codeMirror.setSize(null, 600);
        codeMirror.setOption("readOnly", "nocursor");

        codeMirror.on('keyup',
            function (e, c) {
                if (codeMirror.getValue() !== originalText) {
                    window.onbeforeunload = function() {
                        return "Are you sure?";
                    };
                } else {
                    window.onbeforeunload = null;
                }
                if (c.key === "<") {
                    codeMirror.showHint(codeMirror.autocomplete);
                }
            });
    });

    function DropDownChanged(e) {
        var ddl = $("#helpPageDropDown").data("kendoDropDownList");
        $.ajax({
            url: "@Url.Action("GetHelpFile", "ManageHelp")",
            type: "GET",
            data: { helpId: ddl.value() },
            success: function (e) {
                $("#help-topic").val(e.HelpTopic);
                $("#help-topic").removeAttr("disabled");
                codeMirror.setValue(e.HelpDescription);
                originalText = e.HelpDescription;
                codeMirror.setOption("readOnly", false);
            },
            error: function (x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
                kendo.alert(e);
            }
        });
    }

    function finish_loading() {
        var ddl = $("#helpPageDropDown").data("kendoDropDownList");
        ddl.select(0);
    }

    $("#save-button").click(function() {
        var ddl = $("#helpPageDropDown").data("kendoDropDownList");

        if (ddl.value() == "") {
            kendo.alert("Please select a page.");
            return;
        }

        if ($("#help-topic").val() == "") {
            kendo.alert("Please provide a Help Topic");
            return;
        }

        //var editorText = editor.value().replace(/(<([^>]+)>)/ig, "");
        var editorText = codeMirror.getValue();
        $.ajax({
            url: "@Url.Action("SaveHelpFile", "ManageHelp")",
            type: "POST",
            data: { helpId: ddl.value(), helpTopic: $("#help-topic").val(), helpText: editorText },
            success: function (e) {
                console.log(e);
                window.onbeforeunload = null;
                kendo.alert(e);
            },
            error: function (x, s, e) {
                console.log(x);
                console.log(s);
                console.log(e);
            }
        });
    });
</script>