﻿@model PM_Website.Models.SMSNViewModel

@(Html.Kendo().ComboBox()
                      .Name("SMSN")
                      .DataTextField("Name")
                      .DataValueField("SlsRep")
                      .HtmlAttributes(new { style = "width: 100%;" })
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetProjectManagers", "User");
                          });
                      })
                      .Filter("Contains")
                      .FooterTemplate("Total <strong>#: instance.dataSource.total() #</strong> Project Managers found")
                      .Template("<h5>#: data.SlsRep # - #: data.Name # - #: data.Email #</h5>")
)