﻿@model PM_Website.Models.UserViewModel

@(Html.Kendo().DropDownListFor(m => m)
                .DataValueField("UserId")
                .DataTextField("Email")
                .BindTo((System.Collections.IEnumerable)ViewData["users"])
                .FooterTemplate("Total <strong>#: instance.dataSource.total() #</strong> users found")
                .Template("<h5>#: data.SMSN.Name # - #: data.Email #</h5>")
                 
)